extends ../../layout

block body
  .container.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        .threaded-messages
          each message in messages
            - const isSenderEmail = message?.sender_email?.includes('support@');
            iframe.bg-white.border-dark(
              sandbox="allow-downloads allow-scripts",
              referrerpolicy="no-referrer",
              seamless="seamless",
              srcdoc=`<base target='_top'>${message.html}`,
              height="400px",
              width="100%"
            )
            hr
        form.confirm-prompt(action=ctx.path, method="POST", enctype="multipart/form-data")
          .card.border-themed.card-custom
            .card-body
              .form-group.floating-label
                label.read-only-message.text-muted= result.message
              .form-group.floating-label
                textarea#input-message.form-control(
                  rows="8",
                  required,
                  maxlength=config.supportRequestMaxLength,
                  name="message",
                  placeholder=t("Write your response")
                )
                label(for="input-message")= t("Reply")
              .form-group
                input#input-attachments.form-control(type="file", name="attachments", multiple)
            .card-footer
              button.btn.btn-block.btn-primary.btn-lg(
                type="submit",
                data-toggle="tooltip",
                data-placement="bottom"
              )= t("Send reply")
