
extends ../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../_breadcrumbs
    .row
      .mt-1
        .col
          = emoji('wave')
          = ' '
          if (moment().format('HH') >= 12 && moment().format('HH') <= 17)
            = t('Good afternoon!')
          else if (moment().format('HH') >= 17)
            = t('Good evening!')
          else
            = t('Good morning!')
          = ' '
          = t('Our new and refined dashboard is a work in progress, but you can still follow our legacy instructions:')
  .container-fluid.pb-5.position-relative
    .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
      .col-12.col-lg-6.d-flex
        .p-5.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('1. Set up your domain* for email forwarding')
          p.lead.mb-3= t("Have a new custom domain name you want to setup for email forwarding?  Do you need to re-configure an existing domain name?")
          a.mt-auto(href=l('/faq#how-do-i-get-started-and-set-up-email-forwarding'), target='_blank', rel='noopener').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Setup your domain')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-5.mt-5.mt-md-2.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('2. Send emails with your domain using Gmail (optional)')
          p.lead.mb-3!= t('Follow our simple guide for sending and receiving emails with your domain, directly inside of Gmail.')
          a.mt-auto(href=l('/faq#how-to-send-mail-as-using-gmail'), target='_blank', rel='noopener').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Setup your Gmail')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-5.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('3. Purge Cache and Send a Test Email to Yourself')
          p.lead.mb-3!= t('Once you have followed the previous step(s), you will need to "purge" the DNS cache using the "Purge Cache" tool.  Make sure to purge both the "TXT" and the "MX" records for your domain name.  Wait a few minutes (or sometimes hours), and then try sending a test email to yourself.')
          a.mt-auto(href='https://1.1.1.1/purge-cache/', target='_blank', rel='noopener').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Purge DNS cache')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-5.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('4. Still need help with something?')
          p.lead.mb-3!= t(`We are here to answer your questions, but before asking us, please be sure to <a href="${l('/faq')}">read our FAQ section</a>.`)
          a.mt-auto(href=l('/help'), role='button', data-toggle='modal-anchor', data-target='#modal-help').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Ask us a question')
            = ' '
            i.fa.fa-angle-double-right
  p.text-center.text-muted.mb-5
    sup *
    = ' '
    != t('If you need to register a domain, we suggest <a href="https://namecheap.com" target="_blank" rel="noopener">Namecheap</a>.')
