extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h1.h5.card-header.text-center= t("Upgrade Request")

          .card-body.p-5
            .row
              .col-md-6.mb-4.mb-md-0
                h6= t("Request Details")
                ul.list-unstyled.mb-0
                  li
                    strong= t("Type: ")
                    | #{ kind === 'storage_limit' ? t('Storage Upgrade') : t('SMTP Upgrade') }
                  li
                    strong= t("Requested: ")
                    | #{ upgrade_option }
                  if kind === 'storage_limit'
                    li
                      strong= t("Current Storage: ")
                      | #{ current_quota }
                  li
                    strong= t("Date: ")
                    | #{ new Date(request_date).toLocaleString() }

              .col-md-6
                h6= t("User Information")
                ul.list-unstyled.mb-0
                  li
                    strong= t("Email: ")
                    | #{ user.email }
                  li
                    strong= t("Plan: ")
                    | #{ user.plan }

          .card-footer.text-center
            a.btn.btn-primary.btn-lg(
              href=admin_user_link,
              target="_blank",
              rel="noopener noreferrer"
            )
              i.fa.fa-user-cog.me-2
              = t("Review User")

            p.text-muted.small.mt-3.mb-0
              = t('Click "Review User" to view this user in the admin panel.')
