
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block
          h5.card-header.text-center!= t('<span class="notranslate">%d</span> Day Payment Reminder', diff)
          .card-body.p-0
            a(href=config.urls.web)
              img(src=`${config.urls.web}/img/emails/self-test.gif`, alt='', data-inline-ignore=true).img-responsive
            .p-3
              p.card-text
                = t("If you're not aware, we publicly launched our service (out of beta) on November 23, 2020.")
                = ' '
                != t("The beta program had started on January 11, 2020, which means we shared almost an entire year of free service.")
              p.card-text
                strong!= t("Don't worry, this is just a reminder &ndash; your service is online!")
              p.card-text
                = t("We're now finally accepting payment for our service!")
                = ' '
                = t("Payments will go towards funding our expansion of features and servers, growing our team, and buying us coffee.")
                = ' '
                = t("Since you were using the beta program, we're asking you to complete your billing information by clicking the button below.")
                = ' '
                = t('All major payment methods are accepted, including debit cards, credit cards, and PayPal.')
              p.card-text
                != t('If you want to keep your email service for <strong class="notranslate">%s</strong>, then you need to make a payment for your account\'s <span class="notranslate">%s</span> plan.', domain.name, t(titleize(humanize(domain.plan))))
                = ' '
                != t("Feel free to reach out with any feature requests, questions, or if you need help &ndash; we're here!")
              a.btn.btn-lg.btn-block.btn-success(href=`${config.urls.web}/${locale}/my-account/billing`, role="button")= t('Pay by card or PayPal')
          .card-footer.text-center: small.text-muted= t('If you no longer use our service, then please let us know.')
