extends ../layout

block body
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold!= t("Our privacy policy is simple: We do not store SMTP logs nor emails to disk storage.")
  .py-5
    .text-center.mb-5
      .h2.display-3.mb-1= emoji("lock")
      h2.display-5.font-weight-light.mb-0.text-uppercase= t("Zero Tolerance Policy")
      small.text-black-50.text-uppercase= t("Regain your right to privacy")
    p.lead.mb-0.font-weight-bold.text-center
      mark!= t("We only store the essential information required for the service to be functional for you.")
  .container.pt-0.pb-5
    .row
      .col
        case locale
          when 'ar'
            include:md index-ar.md
          when 'cs'
            include:md index-cs.md
          when 'da'
            include:md index-da.md
          when 'de'
            include:md index-de.md
          when 'es'
            include:md index-es.md
          when 'fi'
            include:md index-fi.md
          when 'fr'
            include:md index-fr.md
          when 'he'
            include:md index-he.md
          when 'hu'
            include:md index-hu.md
          when 'id'
            include:md index-id.md
          when 'it'
            include:md index-it.md
          when 'ja'
            include:md index-ja.md
          when 'ko'
            include:md index-ko.md
          when 'nl'
            include:md index-nl.md
          when 'no'
            include:md index-no.md
          when 'pl'
            include:md index-pl.md
          when 'pt'
            include:md index-pt.md
          when 'ru'
            include:md index-ru.md
          when 'sv'
            include:md index-sv.md
          when 'th'
            include:md index-th.md
          when 'tr'
            include:md index-tr.md
          when 'uk'
            include:md index-uk.md
          when 'vi'
            include:md index-vi.md
          when 'zh'
            include:md index-zh.md
          default
            include:md index.md
