extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h1.h5.card-header.text-center
            != t("DMARC Issue Detected")
          .card-body.text-center.p-0
            a(href=config.urls.web)
              img.img-fluid.d-block.align-top(
                src=manifest("img/emails/dmarc-issue.png"),
                alt=""
              )
            .p-3
              h1.h3.text-danger= t("DMARC Issue Detected")
              p.card-text.mb-0= t("Resolve this issue to improve your deliverability.")
            .p-3
              h2.h5= t("Why did I receive this email?")
              p.card-text
                != t('We are an email service provider called <a href="%s" class="font-weight-bold" target="_blank" rel="noopener noreferrer">Forward Email</a> and processed an email from your domain name of <strong class="notranslate">%s</strong>.', config.urls.web, domain)
                = " "
                != t('This email did not pass DMARC verification during processing from our trusted source of <strong class="notranslate">%s</strong>.', truthSource)
            .p-3
              h1.h3.text-danger= t("What was the email?")
              table.table.table-striped.mb-0
                tbody
                  tr
                    th: span.badge.badge-pill.badge-dark MAIL FROM
                    td: code.text-break= mailFrom
                  tr
                    th: span.badge.badge-pill.badge-dark RCPT TO
                    td
                      code.text-break= rcptTo
                  tr
                    th: span.badge.badge-pill.badge-primary Message-ID
                    td: code.text-break= messageId
                  tr
                    th: span.badge.badge-pill.badge-primary From
                    td= fromAddress
                  tr
                    th: span.badge.badge-pill.badge-primary Subject
                    td.text-break= subject
                  tr
                    th: span.badge.badge-pill.badge-primary Date
                    td= date
            .p-3
              h1.h3.text-danger= t("What was the trusted source?")
              table.table.table-striped
                tbody
                  tr
                    th= t("Trusted Source")
                    td.text-left= truthSource
                  tr
                    th= t("SMTP Response")
                    td.markdown-body.text-left.text-break: pre.mb-0: code.text-break= response
                  tr
                    th= t("DMARC Results")
                    td.markdown-body.text-left.text-break: pre.mb-0: code.text-break= JSON.stringify(dmarc, null, 2)
            .p-3
              h2.h5= t("What will happen if I don't resolve this?")
              p.card-text
                != t('We have rewritten your email using a <a href="%s" class="font-weight-bold" target="_blank" rel="noopener noreferrer">friendly-from</a> approach.', `${config.urls.web}/faq#how-do-you-handle-email-delivery-issues`)
                = " "
                = t('This means that your emails will get forwarded with a different "From" header and an added "Reply-To" header.')
                = " "
                = t("Please ensure your DKIM signature is set correctly and passing in order to improve deliverability and prevent this from occurring.")
            .p-3
              h2= t("What is Forward Email?")
              p.card-text
                != t('For <span class="notranslate">%d</span> years and counting, we are the go-to email service for hundreds of thousands of creators, developers, and businesses.', dayjs().endOf("year").diff(dayjs("1/1/17", "M-D/YY"), "year"))
                = " "
                != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span>.')
              ul.list-unstyled.text-left.mb-3.d-inline-block.mx-auto
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Unlimited domains and aliases")
                  = " "
                  span.badge.badge-success
                    = t("100% Free")
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("10 GB encrypted email storage")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/blog/docs/best-quantum-safe-encrypted-email-service`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Privacy-focused email")
                  = " "
                  a.badge.badge-dark.align-middle(
                    href=`${config.urls.web}/privacy`
                  )
                    = t("Privacy Policy")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Send outbound SMTP email")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/guides/send-email-with-custom-domain-smtp`
                  )
                    = t("SMTP Guide")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Works with Apple, Outlook, Gmail, Betterbird, Android")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`
                  )
                    = t("Apps")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Enterprise-grade 99.99% uptime SLA")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/faq`)
                    = t("View FAQ")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Powered by bare metal servers")
                  = " "
                  a.badge.badge-dark(
                    href="https://status.forwardemail.net",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("Status Page")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("100% open-source software")
                  = " "
                  a.badge.badge-dark(
                    href="https://github.com/forwardemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("View")
                    = " "
                    = t("GitHub")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Email API designed for developers")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/email-api`)
                    = t("Email API")
                    = " "
                    != "&rarr;"
              .d-block
                a.btn.btn-lg.btn-success.text-uppercase.font-weight-bold(
                  href=config.urls.web
                )
                  = t("Sign up free")
          .card-footer.text-center.small.text-muted
            = t("This automated email is sent conditionally once a month.")
