include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered.table-sm
    thead.thead-dark
      tr
        th(scope="col")
          +sortHeader('name', 'Name', '#table-domains')
        th(scope="col")
          +sortHeader('is_global', 'Global', '#table-domains')
        th.align-middle(scope="col")= t("Members")
        th(scope="col")
          +sortHeader('alias_count', 'Aliases', '#table-domains')
        th(scope="col")
          +sortHeader('plan', 'Plan', '#table-domains')
        th(scope="col")
          +sortHeader('has_mx_record', 'MX', '#table-domains')
        th(scope="col")
          +sortHeader('has_txt_record', 'TXT', '#table-domains')
        th(scope="col")
          +sortHeader('has_dkim_record', 'DKIM', '#table-domains')
        th(scope="col")
          +sortHeader('has_spf_record', 'SPF', '#table-domains')
        th(scope="col")
          +sortHeader('has_dmarc_record', 'DMARC', '#table-domains')
        th(scope="col")
          +sortHeader('has_smtp', 'SMTP Enabled', '#table-domains')
        th(scope="col")
          +sortHeader('has_newsletter', 'Newsletter Enabled', '#table-domains')
        th(scope="col")
          +sortHeader('smtp_suspended_sent_at', 'SMTP Suspended', '#table-domains')
        th(scope="col")
          +sortHeader('max_recipients_per_alias', 'Max Recipients', '#table-domains')
        th(scope="col")
          +sortHeader('created_at', 'Created', '#table-domains')
        th.text-center.align-middle(scope="col")= t("Actions")
      tbody
        if domains.length === 0
          tr
            td.alert.alert-info(colspan="16")
              = t("No domains exist for that search.")
        else
          each domain in domains
            tr
              td.align-middle
                .markdown-body.ml-0.mr-0: code= domain.name
              td.align-middle.text-center
                if domain.is_global
                  i.fa.fa-fw.fa-check.fa-2x.text-success
              td.align-middle
                ul.list-inline
                  each member in domain.members.filter(member => member && member.user && member.user.id && member.user.email)
                    li.list-inline-item
                      a.small.text-monospace(
                        href=l(`/admin/users?mongodb_query={ email: "${member.user.email}" }`),
                        class=member.group === "admin" ? false : "text-muted"
                      )= member.user.email
                      = " "
                      = "("
                      code.text-muted= member.user.id
                      = ")"
              td.align-middle.text-center= domain.alias_count
              td.align-middle.text-center
                = t(titleize(humanize(domain.plan)))
              td.align-middle.text-center
                if domain.has_mx_record
                  i.fa.fa-fw.fa-check.fa-2x.text-success
                else
                  i.fa.fa-fw.fa-times.fa-2x.text-danger
              td.align-middle.text-center
                if domain.has_txt_record
                  i.fa.fa-fw.fa-check.fa-2x.text-success
                else
                  i.fa.fa-fw.fa-times.fa-2x.text-danger
              td.align-middle.text-center
                if domain.has_dkim_record
                  i.fa.fa-fw.fa-check.fa-2x.text-success
                else
                  i.fa.fa-fw.fa-times.fa-2x.text-danger
              td.align-middle.text-center
                if domain.has_spf_record
                  i.fa.fa-fw.fa-check.fa-2x.text-success
                else
                  i.fa.fa-fw.fa-exclamation-triangle.fa-2x.text-warning(
                    data-toggle="tooltip",
                    data-title="SPF missing (recommended)"
                  )
              td.align-middle.text-center
                if domain.has_dmarc_record
                  if domain.has_strict_dmarc
                    i.fa.fa-fw.fa-check.fa-2x.text-success
                  else
                    i.fa.fa-fw.fa-exclamation-triangle.fa-2x.text-warning(
                      data-toggle="tooltip",
                      data-title="DMARC found but p=reject recommended"
                    )
                else
                  i.fa.fa-fw.fa-times.fa-2x.text-danger
              td.align-middle.text-center
                form.ajax-form.confirm-prompt.d-inline-block(
                  action=l(`/admin/domains/${domain.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="PUT")
                  input(
                    type="hidden",
                    name="has_smtp",
                    value=(!domain.has_smtp).toString()
                  )
                  button.btn.btn-sm(
                    type="submit",
                    class=domain.has_smtp ? "btn-danger" : "btn-success"
                  )
                    if domain.has_smtp
                      = "Disable SMTP"
                    else
                      = "Enable SMTP"
              td.align-middle.text-center
                form.ajax-form.confirm-prompt.d-inline-block(
                  action=l(`/admin/domains/${domain.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="PUT")
                  input(
                    type="hidden",
                    name="has_newsletter",
                    value=(!domain.has_newsletter).toString()
                  )
                  button.btn.btn-sm(
                    type="submit",
                    class=domain.has_newsletter ? "btn-danger" : "btn-success"
                  )
                    if domain.has_newsletter
                      = "Disable Newsletter"
                    else
                      = "Enable Newsletter"
              td.align-middle.text-center
                form.ajax-form.confirm-prompt.d-inline-block(
                  action=l(`/admin/domains/${domain.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="PUT")
                  input(
                    type="hidden",
                    name="smtp_suspended_sent_at",
                    value=_.isDate(domain.smtp_suspended_sent_at) ? "false" : "true"
                  )
                  if _.isDate(domain.smtp_suspended_sent_at)
                    strong= t("Suspended")
                    = ": "
                    span.dayjs(
                      data-time=new Date(domain.smtp_suspended_sent_at).getTime()
                    )
                      = dayjs(domain.smtp_suspended_sent_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY h:mm A z")
                  button.btn.btn-sm(
                    type="submit",
                    class=_.isDate(domain.smtp_suspended_sent_at) ? "btn-warning" : "btn-danger"
                  )
                    if _.isDate(domain.smtp_suspended_sent_at)
                      = t("Remove suspension")
                    else
                      = t("Restrict access")
              td.align-middle.text-center
                form.ajax-form.confirm-prompt.d-inline-block(
                  action=l(`/admin/domains/${domain.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="PUT")
                  .input-group
                    input.form-control(
                      type="number",
                      min=0,
                      max=1000,
                      step=10,
                      name="max_recipients_per_alias",
                      value=domain.max_recipients_per_alias
                    )
                    .input-group-append
                      button.btn.btn-sm.btn-dark(
                        type="submit",
                        data-toggle="tooltip",
                        data-title=t("Update")
                      ): i.fa.fa-fw.fa-save
              td.align-middle.text-center.dayjs(
                data-time=new Date(domain.created_at).getTime()
              )
                = dayjs(domain.created_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY h:mm A z")
              td.align-middle
                form.ajax-form.confirm-prompt(
                  action=l(`/admin/domains/${domain.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="DELETE")
                  button.btn.btn-danger(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Remove")
                  ): i.fa.fa-fw.fa-remove
+paginate('#table-domains')
