
include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope='col')
          +sortHeader('name', 'Name', '#table-domains')
        th(scope='col')
          +sortHeader('is_global', 'Global', '#table-domains')
        th(scope='col')
          +sortHeader('plan', 'Plan', '#table-domains')
        th(scope='col')
          +sortHeader('max_recipients_per_alias', 'Max Recipients', '#table-domains')
        th.text-center.align-middle(scope='col')= t('Actions')
      tbody
        each domain in domains
          tr
            td.align-middle
              .markdown-body.ml-0.mr-0: code= domain.name
            td.align-middle.text-center
              if domain.is_global
                i.fa.fa-fw.fa-check.fa-2x.text-success
            td.align-middle.text-center
              = t(titleize(humanize(domain.plan)))
            td.align-middle.text-center
              form.ajax-form.confirm-prompt.d-inline-block(action=l(`/admin/domains/${domain.id}`), method="POST", autocomplete="off")
                input(type="hidden", name="_csrf", value=ctx.csrf)
                input(type="hidden", name="_method", value="PUT")
                .input-group
                  select#input-max-recipients-per-alias(name='max_recipients_per_alias').form-select.form-select-sm
                    each option in OPTIONS_MAX_RECIPIENTS
                      option(value=option selected=option === domain.max_recipients_per_alias)= option
                  button(type='submit', data-toggle='tooltip', data-title=t('Update')).btn.btn-sm.btn-secondary: i.fa.fa-fw.fa-save
            td.align-middle
              .btn-group(role='group', aria-label=t('Actions'))
                form.ajax-form.confirm-prompt.btn-group(action=l(`/admin/domains/${domain.id}`), method="POST", autocomplete="off")
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  input(type="hidden", name="_method", value="DELETE")
                  button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
+paginate('#table-domains')
