extends ../../layout

block body
  .container.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form.ajax-form.table-ajax-form(
          action=ctx.path,
          method="GET",
          data-table="#table-domains",
          data-search-params="name"
        )
          .input-group.mb-3
            input#input-keyword-search.form-control(
              type="text",
              value=ctx.query.name ? ctx.query.name : "",
              name="name",
              placeholder=t("Search by domain name")
            )
            .input-group-append
              button.btn.btn-success(type="submit")= t("Search")
        #table-domains
          include ./_table
