extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form(
          action=ctx.path,
          method="GET",
          data-table="#table-domains",
          data-search-params="name"
        ).ajax-form.table-ajax-form
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .input-group.mb-3
            input#input-keyword-search(
              type="text",
              value=ctx.query.name ? ctx.query.name : "",
              name="name",
              placeholder=t("Search by domain name")
            ).form-control
            .input-group-append
              button(type="submit").btn.btn-success= t("Search")
        #table-domains
          include ./_table
