
mixin sort_header(name, text, tableSelector)
  - const classes = tableSelector ? 'ajax-form table-ajax-form' : ''
  form(
    class=classes,
    action=paginate.href(
      {
        sort:
          ctx.query.sort === name
            ? `-${name}`
            : (ctx.query.sort === `-${name}`
              ? false
              : name)
      }
    ),
    method=tableSelector ? 'POST' : 'GET',
    data-table=tableSelector
  )
    button.btn.btn-block.text-nowrap.text-reset.text-capitalize.font-weight-bold(type='submit')
      = t(text ? text : name.replace('_', ' '))
      = ' '
      i.fas(class=ctx.query.sort === name || (!ctx.query.sort && name === 'created_at') ? 'fa-sort-up' : (ctx.query.sort === `-${name}` ? 'fa-sort-down' : 'fa-sort'))
