extends ../layout

block append scripts
  script(
    defer,
    src=manifest("js/open-startup.js"),
    integrity=manifest("js/open-startup.js", "integrity"),
    crossorigin="anonymous"
  )

block body
  .container.py-3
    .row
      .col
        include ../_breadcrumbs
        p.lead
          if (dayjs().format('HH') >= 12 && dayjs().format('HH') <= 17)
            = t("Good afternoon")
          else if (dayjs().format('HH') >= 17)
            = t("Good evening")
          else
            = t("Good morning")
    .row.mb-3
      .col
        .d-flex.flex-wrap.rounded.border.bg-white.text-center
          .p-3.p-md-3.d-flex.flex-column.flex-grow-1.justify-content-center
            h2.h6.text-muted.text-uppercase= t("Users")
            #metrics-total-users.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
          .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
            h2.h6.text-muted.text-uppercase= t("Domains")
            #metrics-total-domains.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
          .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
            h2.h6.text-muted.text-uppercase= t("Aliases")
            #metrics-total-aliases.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
          .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
            h2.h6.text-muted.text-uppercase= t("Subscriptions")
            #metrics-total-subscriptions.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Deliverability for past 7 days")
            #deliverability-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Growth since launch")
            #line-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("One-time payment revenue since launch")
            #one-time-revenue-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted

    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Subscription payment revenue since launch")
            #subscription-revenue-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted

    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Total revenue since launch")
            #revenue-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
    //-.
      .row.mb-3
        .col
          .card
            .card-body
              h2.h6.text-muted.text-uppercase.mb-0= t("Daily new users")
              #heatmap: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Plan distribution")
            #pie-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
    .row.mb-3
      .col
        .card
          .card-body
            h2.h6.text-muted.text-uppercase.mb-0= t("Paid locale distribution")
            #locale-chart: .text-center.mt-3.text-muted: i.fa.fa-2x.fa-spin.fa-spinner.text-muted
