extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h5.card-header.bg-dark.text-white.text-center= t("Emails are not being delivered!")
          .card-body.p-0
            a(
              href=domains.length === 1 ? `${config.urls.web}/${locale}/my-account/domains/${domains[0].name}` : `${config.urls.web}/${locale}/my-account/domains`
            )
              img.img-responsive(
                src=`${config.urls.web}/img/emails/self-test.gif`,
                alt="",
                data-inline-ignore
              )
            .p-3.text-center
              h1.h3!= t("Oops!")
              if domains.length === 1
                p.card-text!= t('We detected that your domain <strong><span class="notranslate">%s</span></strong> is not delivering emails because it is missing a TXT record.', domains[0].name)
                a.btn.btn-lg.btn-danger(
                  href=`${config.urls.web}/${locale}/my-account/domains/${domains[0].name}`,
                  role="button"
                )= t("Fix domain")
              else
                p.card-text!= t('We detected that several of your domains are not delivering emails because they are missing TXT records.')
                a.btn.btn-lg.btn-danger(
                  href=`${config.urls.web}/${locale}/my-account/domains`,
                  role="button"
                )= t("Fix domains")
            if domains.length > 1
              .p-3
                h2.h5.text-center= t("What domains are not configured correctly?")
                ul.card-text
                  each domain in domains
                    li: a(href=`${config.urls.web}/${locale}/my-account/domains/${domain.name}`)= domain.name
            if user.plan === 'free'
              .p-3.text-center
                h2.h5= t("Did you want enhanced privacy and protection?")
                p.card-text
                  != t("Currently <strong>your domain is on the free plan</strong>, which means <strong>your forwarding addresses are publicly searchable</strong> over DNS lookups.")
                  = " "
                  = t("If you upgrade to the Enhanced Protection plan, then your forwarding addresses will be kept private and encrypted.")
                  = " "
                  != t('<strong><a href="%s">Click here to learn more</a></strong> about our Enhanced Protection and Team plans.', `${config.urls.web}/${locale}/pricing`)
            .px-3.py-5.bg-dark.mt-3.text-center
              h2.display-6.font-weight-light.mb-3.text-uppercase.text-white= t("Verification Status")
              ul.list-inline
                li.list-inline-item.mr-5
                  = emoji("white_check_mark")
                  .mt-2.text-monospace.text-uppercase.text-white= t("MX")
                li.list-inline-item
                  = emoji("x")
                  .mt-2.text-monospace.text-uppercase.text-white= t("TXT")
          .card-footer.text-center: small.text-muted= t("If you have any questions or comments, then please let us know")
