extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h1.h5.card-header= t("We detected a possible phishing email")
          .card-body.text-center.p-0
            a(href=config.urls.web)
              img.img-fluid.d-block.align-top(
                src=manifest("img/emails/phishing.png"),
                alt=""
              )
            .p-3
              h1.h3!= t("Don't worry &ndash; everything is OK!")
              p.card-text
                != t('We detected that an email sent to you from <strong class="notranslate">%s</strong> may be a phishing email.  If you received this message, then please move it to your junk/spam folder if it is not a false positive.', from)
                ul.list-inline
                  li
                    strong= t("Date")
                    = ": "
                    = date
                  li
                    strong= t("Subject")
                    = ": "
                    = subject
                  li
                    strong= t("Message-ID")
                    = ": "
                    = messageId
                  li
                    strong= t("IP")
                    = ": "
                    = remoteAddress
            .p-3
              h2.h5= t("Do you send this every time?")
              p.card-text
                = t("No, we only send it once a month per sender's root domain.")
            .p-3
              h2.h5= t("Why are you sending this email?")
              p.card-text
                != t("This email is sent for your protection and in the event a developer or IT specialist did not configure SPF/DKIM correctly.")
                = " "
                = t("The reason we sent this email is because we detected that it did not have passing SPF nor DKIM and the sender's root domain did not match the From address root domain.")
            .p-3
              h2= t("What is Forward Email?")
              p.card-text
                != t('For <span class="notranslate">%d</span> years and counting, we are the go-to email service for hundreds of thousands of creators, developers, and businesses.', dayjs().endOf("year").diff(dayjs("1/1/17", "M-D/YY"), "year"))
                = " "
                != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span>.')
              ul.list-unstyled.text-left.mb-3.d-inline-block.mx-auto
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Unlimited domains and aliases")
                  = " "
                  span.badge.badge-success
                    = t("100% Free")
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("10 GB encrypted email storage")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/blog/docs/best-quantum-safe-encrypted-email-service`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Privacy-focused email")
                  = " "
                  a.badge.badge-dark.align-middle(
                    href=`${config.urls.web}/privacy`
                  )
                    = t("Privacy Policy")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Send outbound SMTP email")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/guides/send-email-with-custom-domain-smtp`
                  )
                    = t("SMTP Guide")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Works with Apple, Outlook, Gmail, Betterbird, Android")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`
                  )
                    = t("Apps")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Enterprise-grade 99.99% uptime SLA")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/faq`)
                    = t("View FAQ")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Powered by bare metal servers")
                  = " "
                  a.badge.badge-dark(
                    href="https://status.forwardemail.net",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("Status Page")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("100% open-source software")
                  = " "
                  a.badge.badge-dark(
                    href="https://github.com/forwardemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("View")
                    = " "
                    = t("GitHub")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Email API designed for developers")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/email-api`)
                    = t("Email API")
                    = " "
                    != "&rarr;"
              .d-block
                a.btn.btn-lg.btn-success.text-uppercase.font-weight-bold(
                  href=config.urls.web
                )
                  = t("Sign up free")
          .card-footer.small.text-muted= t("If you have any questions or comments, then please let us know.")
