extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        if typeof dailySMTPMessages === 'number'
          .alert.alert-primary!= t('You have used <strong class="notranslate">%d</strong> out of your daily limit of <strong class="notranslate">%d</strong> outbound SMTP messages.', dailySMTPMessages, dailySMTPLimit)
        .alert.alert-warning!= t('Outbound SMTP emails are shown below &ndash; <a href="%s" class="alert-link">click here</a> to setup your email client to receive email.', l("/faq#do-you-support-receiving-email-with-imap"))
        if isSANB(ctx.query.domain)
          h4
            = t("Filtered for:")
            = " "
            = ctx.query.domain
        //- TODO: search by date
        form.ajax-form.table-ajax-form(
          action=ctx.path,
          method="GET",
          data-table="#table-emails",
          data-search-params="q"
        )
          .input-group.mb-3
            input#input-keyword-search.form-control(
              type="text",
              value=ctx.query.q ? ctx.query.q : "",
              name="q",
              placeholder=t("Search")
            )
            .input-group-append
              button.btn.btn-success(type="submit")= t("Search")
        #table-emails
          include ./_table
