extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form.ajax-form.table-ajax-form.card.mb-3(
          action=ctx.path,
          method="GET",
          data-table="#table-payments",
          data-search-params="mongodb_query,q"
        )
          .card-body
            .h5.card-title= t("Search for payments")
            .form-group
              label(for="textarea-mongodb-query") MongoDB query
              textarea#textarea-mongodb-query.form-control(
                name="mongodb_query",
                rows=3,
                placeholder="MongoDB query"
              )= ctx.query.mongodb_query || ""
              small.form-text.text-muted!= t('See <a class="notranslate" href="https://github.com/mongodb-js/query-parser" target="_blank" rel="noopener noreferrer">mongodb-query-parser</a> for more insight.')
            .form-group
              label(for="input-keyword-search")= t("Basic search")
              input#input-keyword-search.form-control(
                type="text",
                value=ctx.query.q || "",
                name="q",
                placeholder=t("Search by reference, email, currency, method, plan, or transaction ID")
              )
            .row
              .col-md-3
                button.btn.btn-success.btn-block(type="submit")= t("Search")

        .card.mb-3
          .card-body
            .h5.card-title= t("Free Credit")
            form.ajax-form(action=l("/admin/free-credit"), method="POST")
              .row
                .col-md-4
                  .form-group
                    label(for="credit-email")= t("User Email")
                    input#credit-email.form-control(
                      type="email",
                      name="email",
                      required
                    )
                .col-md-4
                  .form-group
                    label(for="credit-plan")= t("Plan")
                    select#credit-plan.form-control(name="plan", required)
                      option(value="enhanced_protection")= t("Enhanced Protection")
                      option(value="team")= t("Team")
                .col-md-4
                  .form-group
                    label(for="credit-duration")= t("Duration")
                    select#credit-duration.form-control(
                      name="duration",
                      required
                    )
                      option(value="30d") 1 month
                      option(value="60d") 2 months
                      option(value="90d") 3 months
                      option(value="180d") 6 months
                      option(value="1y") 1 year
                      option(value="2y") 2 years
                      option(value="3y") 3 years
              .row.mt-3
                .col-md-3
                  button#credit-submit.btn.btn-primary.btn-block(type="submit")= t("Grant Credit")

        #table-payments
          include ./_table
