
extends ../layout

block body
  #modal-disable-otp(tabindex='-1', role='dialog').modal.fade
    .modal-dialog(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h6.modal-title.d-inline-block.ml-4= t('Disable OTP')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body.text-center
          = t('You are about to disable two-factor authentication on your account. Please confirm your password to continue.')
          .row
            form(action=l('/otp/disable'), method='POST').col-md-12
              input(type="hidden", name="_csrf", value=ctx.csrf)
              .form-group.floating-label
                input#input-password.form-control.mt-3(type="password", autocomplete="off", name="password" required)
                label(for="input-password")= t('Confirm Password')
                button.btn.btn-danger.btn-md.btn-block.mt-2(type="submit")= t('Disable OTP')
  .container-fluid.py-3
    .row
      .col
        include ../_breadcrumbs
        if boolean(process.env.AUTH_OTP_ENABLED)
          .card.card-bg-light.mb-3
            h4.card-header= t('Two-Factor Authentication')
            .card-body
              if user[config.passport.fields.otpEnabled]
                h5= t('Recovery keys')
                p= t('Recovery keys allow you to login to your account when you have lost access to your Two-Factor Authentication device or authenticator app.  Download your recovery keys and put them in a safe place to use as a last resort.')
                form(action=l('/my-account/recovery-keys'), method='POST')
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(type='submit').btn.btn-secondary.btn-lg= t('Download recovery keys')
                button(data-toggle='modal', data-target='#modal-disable-otp', type='button').btn.btn-danger.btn-lg.mt-3= t('Disable OTP')
              else
                h5= t('OTP')
                p= t('OTP or one-time password allows you to add Two-Factor Authentication to your account using a device or authenticator app.')
                a.btn.btn-primary.btn-lg(href=l('/otp/keys'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')= t('Enable OTP')
        .card.mb-3
          h4.card-header= t('Credentials')
          .card-body
            .form-group.row
              label.control-label.col-md-4.col-form-label.text-md-right= t('API token')
              .col-md-8
                .input-group
                  input(type='text', readonly, value=user[config.userFields.apiToken]).form-control#api-token
                  .input-group-append
                    button(type='button', data-toggle="clipboard", data-clipboard-target="#api-token").btn.btn-primary
                      i.fa.fa-clipboard
                      = ' '
                      = t('Copy')
                small.form-text.text-muted= t('Keep your token secure and never share it publicly')
          .card-footer.text-right
            form(action=ctx.path, method='POST').ajax-form.confirm-prompt
              input(type='hidden', name='_method', value='DELETE')
              input(type="hidden", name="_csrf", value=ctx.csrf)
              button(type='submit').btn.btn-danger= t('Reset API Token')
        .card
          h4.card-header= t('Delete Account')
          - const adminDomains = domains.filter(domain => domain.group === 'admin')
          if adminDomains.length > 0
            .card-body
              p= t('Your account is currently an admin of these domains:')
              ul
                each domain in adminDomains
                  li: a(href=l(`/my-account/domains/${domain.id}`), target='_blank', rel='noopener')= domain.name
              p.mb-0= t('You must remove yourself from or delete these domains before you can delete your account.')
          else
            .card-body
              p= t('Deleting your account is irreversable.  Please take extreme caution when deleting your account.')
            .card-footer.text-right
              form(action=l('/my-account'), method='POST').ajax-form.confirm-prompt
                input(type='hidden', name='_method', value='DELETE')
                input(type="hidden", name="_csrf", value=ctx.csrf)
                button(type='submit').btn.btn-danger= t('Delete Account')
