extends ../layout

block body
  #authenticator-apps-modal.modal.fade(tabindex="-1", role="dialog")
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header
          h1.h4= t("Recommended Authenticator Apps")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          table.table
            thead
              tr
                th(scope="col")= t("App")
                th(scope="col")= t("Links")
                th.text-center(scope="col")= t("Open-Source")
            tbody
              tr
                td.align-middle: a(
                  href="https://freeotp.github.io/",
                  rel="noopener noreferrer",
                  target="_blank"
                ) FreeOTP
                td.align-middle
                  ul.list-inline.mb-0
                    li.list-inline-item.mb-1.mb-md-0
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://play.google.com/store/apps/details?id=org.fedorahosted.freeotp",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-google-play
                        = " "
                        = t("Google Play")
                    li.list-inline-item.mb-1.mb-md-0
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://itunes.apple.com/us/app/freeotp-authenticator/id872559395?mt=8",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-app-store-ios
                        = " "
                        = t("App Store")
                    li.list-inline-item
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://f-droid.org/en/packages/org.fedorahosted.freeotp/",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-android
                        = " "
                        = t("F-Droid")
                td.align-middle.text-center: i.fa.fa-check-circle.text-success
              tr
                td.align-middle: a(
                  href="https://github.com/andOTP/andOTP",
                  rel="noopener noreferrer",
                  target="_blank"
                ) andOTP
                td.align-middle
                  ul.list-inline.mb-0
                    li.list-inline-item.mb-1.mb-md-0
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://f-droid.org/repo/org.shadowice.flocke.andotp_28.apk",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-google-play
                        = " "
                        = t("Google Play")
                    li.list-inline-item
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://f-droid.org/en/packages/org.shadowice.flocke.andotp/",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-android
                        = " "
                        = t("F-Droid")
                td.align-middle.text-center: i.fa.fa-check-circle.text-success
              tr
                td.align-middle: a(
                  href="https://authy.com/",
                  rel="noopener noreferrer",
                  target="_blank"
                ) Authy
                td.align-middle
                  ul.list-inline.mb-0
                    li.list-inline-item.mb-1.mb-md-0
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://play.google.com/store/apps/details?id=com.authy.authy",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-google-play
                        = " "
                        = t("Google Play")
                    li.list-inline-item
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://itunes.apple.com/us/app/authy/id494168017",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-app-store-ios
                        = " "
                        = t("App Store")
                td.align-middle.text-center: i.fa.fa-times-circle.text-danger
              tr
                td.align-middle: a(
                  href="https://support.google.com/accounts/answer/1066447",
                  rel="noopener noreferrer",
                  target="_blank"
                ) Google Authenticator
                td.align-middle
                  ul.list-inline.mb-0
                    li.list-inline-item.mb-1.mb-md-0
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-google-play
                        = " "
                        = t("Google Play")
                    li.list-inline-item
                      a.btn.btn-sm.btn-outline-secondary(
                        href="https://apps.apple.com/us/app/google-authenticator/id388497605",
                        rel="noopener noreferrer",
                        target="_blank"
                      )
                        i.fab.fa-app-store-ios
                        = " "
                        = t("App Store")
                td.align-middle.text-center: i.fa.fa-times-circle.text-danger

  .min-vh-80.d-flex.flex-column
    .container.py-3
      .row
        .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
          h1.my-3.py-3.text-center= t("Setup OTP")
          form(action=ctx.path, method="POST")
            .form-group
              label(for="otp-step-one")
                != t('<strong>Step 1:</strong> Install and open an <a href="#" data-toggle="modal-anchor" data-target="#authenticator-apps-modal">authenticator app</a>.')
            .form-group
              label(for="otp-step-two")
                != t("<strong>Step 2:</strong> Scan this QR code and enter its generated token:")
              img.d-block.my-3.p-3.bg-white.border.border-dark(
                src=qrcode,
                width=250,
                height=250,
                alt="Two-factor authentication QR code"
              )
            .form-group.floating-label
              input#input-token.form-control.form-control-lg.verification-form(
                type="text",
                name="token",
                required,
                placeholder=" "
              )
              label(for="input-token") Verification Token
            .form-group
              a.btn.btn-link.text-center.text-primary(
                href="#",
                data-toggle="collapse",
                data-target="#otp-copy"
              )
                = t("Can’t scan the QR code?  Configure with this code")
                = " "
                i.fa.fa-angle-down
              #otp-copy.collapse
                .input-group.input-group-lg.floating-label.form-group
                  input#otp-token.form-control(
                    type="text",
                    readonly,
                    value=user[config.passport.fields.otpToken]
                  )
                  .input-group-append
                    button.btn.btn-dark(
                      type="button",
                      data-toggle="clipboard",
                      data-clipboard-target="#otp-token"
                    )
                      i.fa.fa-clipboard
                      = " "
                      = t("Copy")

            if user[config.userFields.hasSetPassword]
              .form-group.floating-label.mt-4
                input#input-password.form-control.form-control-lg(
                  type="password",
                  autocomplete=config.env === "test" ? "off" : randomstring(),
                  name="password",
                  required
                )
                label(for="input-password")= t("Confirm Password")

            button.btn.btn-lg.btn-block.btn-primary(type="submit")= t("Complete Setup")
