include ../../_sort-header
include ../../_pagination

table.table.table-hover.table-bordered.table-sm
  thead.thead-dark
    tr
      th(scope="col")
        +sortHeader('id', 'ID', '#table-logs')
      //- TODO: render time according to user's current time (prob should use dayjs to render client-side?)
      th(scope="col")
        +sortHeader('created_at', 'Date &amp; Time', '#table-logs')
      th(scope="col")
        +sortHeader('mail_from', 'MAIL FROM', '#table-logs')
      th(scope="col")
        +sortHeader('rcpt_to', 'RCPT TO', '#table-logs')
      th(scope="col")
        +sortHeader('subject', 'Subject', '#table-logs')
      th(scope="col")
        +sortHeader('status', 'SMTP Code', '#table-logs')
      th.text-center.align-middle(scope="col")= t("Actions")
    tbody
      if logs.length === 0
        tr
          td.alert.alert-info(colspan="7")
            = t("No logs exist for that search.")
      else
        each log in logs
          tr
            td.align-middle
              .markdown-body.ml-0.mr-0: code= shortID.longToShort(log.id)
            td.align-middle.text-center.small.text-monospace
              = dayjs(log.created_at).format("M/D/YY h:mm A")
            td.align-middle.small
              if log.mailFrom
                .markdown-body.ml-0.mr-0: code= log.mailFrom
            td.align-middle.small
              if Array.isArray(log.rcpts) && log.rcpts.length > 0
                ul.list-inline.mb-0
                  each rcpt in log.rcpts
                    li.list-inline-item
                      .markdown-body.ml-0.mr-0: code= rcpt
            td.align-middle.small.text-monospace
              //- TODO: handle utf8 + other decoding for subject line
              if log.subject
                code= log.subject
              = 'TODO: View Error Message'
            td.align-middle.text-center
              if log.meta
                - let badgeClass = "badge-success";
                - let statusCode;

                if log.meta.is_http && log.meta.response && log.meta.response.status_code
                  - statusCode = log.meta.response.status_code;
                else if log.err && log.err.responseCode
                  - statusCode = log.err.responseCode;
                else if log.err && log.err.statusCode
                  - statusCode = log.err.statusCode;
                else if log.err && log.err.status
                  - statusCode = log.err.status;

                if statusCode >= 500
                  - badgeClass = "badge-danger";
                else if statusCode >= 400
                  - badgeClass = "badge-warning";
                else if statusCode >= 300
                  - badgeClass = "badge-primary";

                if statusCode
                  span.badge.badge-pill(class=badgeClass)= statusCode
            td.align-middle.text-center
              if (_.isObject(meta) && _.isObject(meta.session) && Array.isArray(meta.session.headers))
                a.btn.btn-dark.btn-sm(
                  href=l(`/my-account/logs/${log.id}`),
                  target="_blank"
                )
                  i.fa.fa-search
                  = " "
                  = t("Headers")
              else
                small.text-muted= t("No headers")
+paginate('#table-logs')
