extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        .alert.alert-success.small
          strong= t("Tip")
          = ":"
          = " "
          != t('You can now opt-in for "delivered" logs on a per-domain basis under My Account &rarr; Domains &rarr; Settings &rarr; Enable Deliverability Logs for Successful Emails.')
        if ctx.query.domains
          h4
            = t("Filtered for:")
            = " "
            = ctx.query.domains
        form.ajax-form.table-ajax-form(
          action=ctx.path,
          method="GET",
          data-table="#table-logs",
          data-search-params="q,start_date,end_date,domain,domains"
        )
          .row.mb-3
            .col-md-6
              .input-group
                input#input-keyword-search.form-control(
                  type="text",
                  value=ctx.query.q ? ctx.query.q : "",
                  name="q",
                  placeholder=t("Search by email, domain, IP, subject, or date (M/D/YY)")
                )
            .col-md-3
              .input-group
                .input-group-prepend
                  span.input-group-text= t("From")
                input#input-start-date.form-control(
                  type="date",
                  name="start_date",
                  value=ctx.query.start_date ? ctx.query.start_date : ""
                )
            .col-md-3
              .input-group
                .input-group-prepend
                  span.input-group-text= t("To")
                input#input-end-date.form-control(
                  type="date",
                  name="end_date",
                  value=ctx.query.end_date ? ctx.query.end_date : ""
                )
          .row.mb-3
            .col-md-12.text-right
              button.btn.btn-success(type="submit")= t("Search")
        #table-logs
          include ./_table
