extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        if ctx.query.domains
          h4
            = t("Filtered for:")
            = " "
            = ctx.query.domains
        //- TODO: search by date
        form.ajax-form.table-ajax-form(
          action=ctx.path,
          method="GET",
          data-table="#table-logs",
          data-search-params="q"
        )
          .input-group.mb-3
            input#input-keyword-search.form-control(
              type="text",
              value=ctx.query.q ? ctx.query.q : "",
              name="q",
              placeholder=t("Search")
            )
            .input-group-append
              button.btn.btn-success(type="submit")= t("Search")
        #table-logs
          include ./_table
