extends ../../layout

block body
  .container.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form.ajax-form.table-ajax-form.card.mb-3(
          action=ctx.path,
          method="GET",
          data-table="#table-logs",
          data-search-params="mongodb_query,q"
        )
          .card-body
            .h5.card-title= t('Search for logs')
            .form-group
              label(for="textarea-mongodb-query") MongoDB query
              textarea#textarea-mongodb-query.form-control(
                name="mongodb_query",
                rows=3,
                placeholder="MongoDB query"
              )= ctx.query.mongodb_query || ''
              small.form-text.text-muted!= t('See <a class="notranslate" href="https://github.com/mongodb-js/query-parser" target="_blank" rel="nofollow">mongodb-query-parser</a> for more insight.')
            .form-group
              label(for="input-keyword-search")= t('Basic search')
              input#input-keyword-search.form-control(
                type="text",
                value=ctx.query.q || '',
                name="q",
                placeholder='meta.level=info meta.is_http=true'
              )
              small.form-text.text-muted= t('This splits by space and requires an equals sign for values. You can use quotes and also escape quotes in values. Numbers and Booleans are parsed too.')
            button.btn.btn-success(type="submit")= t("Search")
        #table-logs
          include ./_table
