
extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.d-block.text-center
          h5.card-header= t("You're ready to go!")
          .card-body.text-center.p-0
            a(href=`${config.urls.web}/${locale}/my-account`)
              img(src=manifest('img/emails/welcome.gif'), alt='', data-inline-ignore=true).img-responsive
            .p-3
              h1.h3!= t('Woo-hoo!')
              p.card-text= t('Now you can add your domains and set up free email forwarding!')
              a.btn.btn-lg.btn-block.btn-primary(href=`${config.urls.web}/${locale}/my-account`)
                = t('Get started now')
          .card-footer: small.text-muted= t('If you have any questions, comments, or feature requests, then please let us know.')
