extends ../../../layout

block body
  include ../_modal-domain
  .container-fluid.pt-3
    .row
      .col
        include ../../../_breadcrumbs
  .container
    if domain && domain.group === 'admin' && !alias
      .row.text-center.my-2
        .col
          form(
            action=l(`/my-account/domains/${domain.name}/aliases/import`),
            method="POST"
          ).ajax-form.confirm-prompt.d-inline-block
            input(type="hidden", name="_csrf", value=ctx.csrf)
            button(
              type="submit"
            ).btn.btn-lg.btn-dark.text-uppercase.font-weight-bold
              = t("Import TXT Records")
              = " "
              i.fa.fa-cloud-download-alt
    .row
      .col
        .card
          .card-body
            form(action=ctx.path, method="POST").ajax-form
              include _form
              button(type="submit").btn.btn-success.btn-block.btn-lg= t("Continue")
    if domain
      .row.text-center.my-5
        .col
          a(
            href=l(`/my-account/domains/${domain.name}/aliases`)
          ).btn.btn-outline-secondary
            i.fa.fa-angle-double-left
            = " "
            = t("Back to Aliases")
