extends ../../../layout

block body
  include ../_modal-domain
  .container.pt-3
    .row
      .col
        include ../../../_breadcrumbs
  .container.py-3
    if domain && domain.group === 'admin' && !alias
      .row.text-center.my-2
        .col
          form.ajax-form.confirm-prompt.d-inline-block(
            action=l(`/my-account/domains/${domain.name}/aliases/import`),
            method="POST"
          )
            button.btn.btn-lg.btn-dark(type="submit")
              != t('Import <span class="notranslate">TXT</span> Records')
              = " "
              i.fa.fa-cloud-download-alt
    .row
      .col
        .card.border-themed
          .card-body
            form.ajax-form(action=ctx.path, method="POST")
              include _form
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Continue")
    if domain
      .row.text-center.my-5
        .col
          a.btn.btn-outline-secondary(
            href=l(`/my-account/domains/${domain.name}/aliases`)
          )
            i.fa.fa-angle-double-left
            = " "
            = t("Back to Aliases")
