extends ../../../layout

block body
  include ../../../_modal-storage
  include ../_modal-domain
  //- include ../_modal-openpgp-example

  //- Domain Tokens
  #modal-domain-tokens.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-domain-tokens-title",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h4#modal-domain-tokens-title.d-inline-block.ml-4= t("Catch-all Passwords")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body.text-center
          p!= t('You can easily use catch-all passwords to send email with <i class="font-weight-bold">any</i> alias at your domain.')
          a.btn.btn-lg.btn-primary(
            href=l(`/my-account/domains/${punycode.toASCII(domain.name)}/advanced-settings#catch-all-passwords`),
            target="_blank"
          )
            = t("Go to Advanced Settings")
            = " "
            != "&rarr;"
            = " "
            = t("Catch-all Passwords")
          hr
          h2.h4= t("What should I use for outbound SMTP settings?")
          .alert.alert-primary.small!= t('Your username is any email address with your domain and password is from <a href="%s" target="_blank" class="alert-link">Advanced Settings</a>.', l(`/my-account/domains/${punycode.toASCII(domain.name)}/advanced-settings#catch-all-passwords`))
          table.table.table-hover.table-bordered.table-sm.mb-0
            thead.thead-dark
              tr
                th(scope="col")= t("Type")
                th(scope="col")= t("Hostname")
                th(scope="col")= t("Protocol")
                th(scope="col")= t("Ports")
            tbody
              tr
                td SMTP
                td: span.markdown-body: code= "smtp.forwardemail.net"
                td
                  = "SSL/TLS"
                  .hr-text.d-flex.text-secondary.align-items-center= t("or")
                  = "TLS (STARTTLS)"
                td
                  ul.list-unstyled
                    li: span.markdown-body: code= 465
                    li: span.markdown-body: code= 2465
                  .hr-text.d-flex.text-secondary.align-items-center= t("or")
                  ul.list-unstyled
                    li: span.markdown-body: code= 587
                    li: span.markdown-body: code= 2587
                    li: span.markdown-body: code= 2525
                    li: span.markdown-body: code= 25
          hr
          h2.h4= t("Do you have any developer resources?")
          a.btn.btn-lg.btn-dark(href=l("/blog/docs"), target="_blank")= t("Free Email Developer Tools and Resources")

  //- Setup Instructions
  #modal-setup-instructions.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-setup-instructions-title",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h4#modal-setup-instructions-title.d-inline-block.ml-4= t("Setup Instructions")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body.text-center
          h2.h4= t("Our service works with popular email clients:")
          ul.list-inline.d-inline.lead.mb-0
            //- Apple
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/apple-email-clients"),
                target="_blank"
              )
                = "Apple"
                != "&reg;"
            //- Windows
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/windows-email-clients"),
                target="_blank"
              )
                = "Windows"
                != "&reg;"
            //- Android
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/android-email-clients"),
                target="_blank"
              )
                i.fa-fw.fab.fa-android
                = " "
                = "Android"
                != "&trade;"
            //- Linux
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/linux-email-clients"),
                target="_blank"
              )
                i.fa-fw.fab.fa-linux
                = " "
                = "Linux"
                != "&reg;"
            //- Desktop
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/desktop-email-clients"),
                target="_blank"
              )
                i.fa-fw.fas.fa-desktop
                = " "
                = t("Desktop")
            //- Web
            li.list-inline-item.mr-1
              a.badge.badge-light(
                href=l("/blog/open-source/web-email-clients"),
                target="_blank"
              )
                if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Firefox")
                  i.fab.fa-fw.fa-firefox-browser
                  = " "
                  = "Firefox"
                  != "&reg;"
                else if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Safari") && !ctx.get("User-Agent").includes("Chrome")
                  = " "
                  = "Safari"
                  != "&reg;"
                else
                  i.fab.fa-fw.fa-chrome
                  = " "
                  = "Chrome"
                  != "&reg;"
            //- Terminal
            li.list-inline-item
              a.badge.badge-light(
                href=l("/blog/open-source/terminal-email-clients"),
                target="_blank"
              )
                i.fa-fw.fas.fa-terminal
                = " "
                = "Terminal"
          hr
          h2.h4= t("What should I use for my email client settings?")
          .alert.alert-primary.small!= t('Your username is your alias\' email address and password is from <strong class="text-success"><i class="fa fa-key"></i> Generate Password</strong> ("Normal Password").')
          .alert.alert-warning.small!= t('If you are using Betterbird, then ensure "Connection security" is set to "SSL/TLS" and Authentication method is set to "Normal password".')
          table.table.table-hover.table-bordered.table-sm.mb-0
            thead.thead-dark
              tr
                th(scope="col")= t("Type")
                th(scope="col")= t("Hostname")
                th(scope="col")= t("Protocol")
                th(scope="col")= t("Ports")
            tbody
              tr
                td IMAP
                td: span.markdown-body: code= "imap.forwardemail.net"
                td SSL/TLS
                td
                  ul.list-unstyled
                    li: span.markdown-body: code= 993
                    li: span.markdown-body: code= 2993
              tr
                td SMTP
                td: span.markdown-body: code= "smtp.forwardemail.net"
                td
                  = "SSL/TLS"
                  .hr-text.d-flex.text-secondary.align-items-center= t("or")
                  = "TLS (STARTTLS)"
                td
                  ul.list-unstyled
                    li: span.markdown-body: code= 465
                    li: span.markdown-body: code= 2465
                  .hr-text.d-flex.text-secondary.align-items-center= t("or")
                  ul.list-unstyled
                    li: span.markdown-body: code= 587
                    li: span.markdown-body: code= 2587
                    li: span.markdown-body: code= 2525
                    li: span.markdown-body: code= 25
          hr
          h2.h4= t("How do I import and migrate my existing mailbox?")
          a.btn.btn-lg.btn-dark(
            href=l("/faq#how-do-i-import-and-migrate-my-existing-mailbox"),
            target="_blank"
          )= t("Click here for instructions")
  #modal-alias.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-alias-title",
    aria-hidden="true",
    data-backdrop="static"
  )
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h4#modal-alias-title.d-inline-block.ml-4= t("Add New Alias")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form.ajax-form(
            action=l(`/my-account/domains/${punycode.toASCII(domain.name)}/aliases/new`),
            method="POST"
          )
            include _form
            button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Create Alias")

  .py-3(
    class=typeof isContainerFluid === "boolean" && isContainerFluid === true ? "container-fluid" : "container"
  )
    .row
      .col
        include ../../../_breadcrumbs
        if domain && domain.aliases && domain.aliases.length === 0 && !ctx.query.q && (!ctx.query.page || ctx.query.page === 1)
          .alert.alert-info= t("No aliases exist yet")
        else
          if isSANB(ctx.query.new) && isEmail(ctx.query.new) && ctx.query.new.endsWith(`@${domain.name}`)
            .alert.alert-success.remove-on-table-ajax-form-reloaded
              ul.list-inline.mb-0
                li.list-inline-item.align-middle
                  != t('You successfully created a new alias: <code class="alert-link text-decoration-underline">%s</code>', ctx.query.new)
                li.list-inline-item.align-middle
                  a.btn.btn-sm.btn-dark(
                    href=l(`/my-account/domains/${punycode.toASCII(domain.name)}/aliases?q=${ctx.query.new}`)
                  )= t("Review Alias")
          form.ajax-form.table-ajax-form(
            action=ctx.path,
            method="GET",
            data-table="#table-aliases",
            data-search-params="q,new,search_filter"
          )
            input(type="hidden", name="new", value="")
            .input-group.mb-3
              .input-group-prepend
                select#select-search-filter.form-control(
                  name="search_filter",
                  aria-label=t("Search Filter")
                )
                  option(
                    value="everything",
                    selected=!ctx.query.search_filter || ctx.query.search_filter === "everything"
                  )= t("Everything")
                  option(
                    value="name",
                    selected=ctx.query.search_filter === "name"
                  )= t("Name")
                  option(
                    value="recipients",
                    selected=ctx.query.search_filter === "recipients"
                  )= t("Recipients")
              input#input-keyword-search.form-control(
                type="text",
                value=ctx.query.q ? ctx.query.q : "",
                name="q",
                placeholder=t("Search")
              )
              .input-group-append
                button.btn.btn-success(type="submit")= t("Search")
          #table-aliases
            include ./_table
    .row.text-center.my-5
      .col
        ul.list-inline.mb-0
          li.list-inline-item
            a.btn.btn-outline-secondary(
              href=l(domain.group === "admin" ? `/my-account/domains/${punycode.toASCII(domain.name)}` : "/my-account/domains")
            )
              i.fa.fa-angle-double-left
              = " "
              = domain.group === "admin" ? t("Back to Domain") : t("Back to Domains")
          li.list-inline-item
            a.btn.btn-outline-secondary(
              href=l(`/my-account/domains/${punycode.toASCII(domain.name)}/aliases`)
            )
              i.fa.fa-angle-double-left
              = " "
              = t("Back to Aliases")
