extends ../../../layout

block body
  include ../_modal-domain

  #modal-alias.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-alias-title",
    aria-hidden="true",
    data-backdrop="static"
  )
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h4#modal-alias-title.modal-title.d-inline-block.ml-4= t('Add New Alias')
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          form.ajax-form(
            action=l(`/my-account/domains/${domain.name}/aliases/new`),
            method="POST"
          )
            include _form
            button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')

  .container-fluid.pt-3
    .row
      .col
        include ../../../_breadcrumbs
        if domain.aliases.length === 0 && !ctx.query.q && !ctx.query.page
          .alert.alert-info= t('No aliases exist yet')
        else
          form.ajax-form.table-ajax-form(
            action=ctx.path,
            method="GET",
            data-table="#table-aliases",
            data-search-params="q"
          )
            input(type="hidden", name="_csrf", value=ctx.csrf)
            .input-group.mb-3
              input#input-keyword-search.form-control(
                type="text",
                value=ctx.query.q ? ctx.query.q : '',
                name="q",
                placeholder="Sort by alias name or recipient"
              )
              .input-group-append
                button.btn.btn-success(type="submit")= t('Search')
          #table-aliases
            include ./_table
    .row.text-center.my-5
      .col
        a.btn.btn-outline-secondary(
          href=l(domain.group === 'admin' ? `/my-account/domains/${domain.name}` : '/my-account/domains')
        )
          i.fa.fa-angle-double-left
          = ' '
          = domain.group === 'admin' ? t('Back to Domain') : t('Back to Domains')
