extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h1.h5.card-header= t("Your email was sent successfully")
          .card-body.text-center.p-0
            a(href=config.urls.web)
              img.img-fluid.d-block.align-top(
                src=manifest("img/emails/self-test.gif"),
                alt=""
              )
            .p-3
              h1.h3!= t("Don't worry &ndash; everything is OK!")
              p.card-text= t("We detected that you successfully sent an email to yourself.")
            .p-3
              h2.h5= t("Do you send this every time?")
              p.card-text
                = t("No, we only send it the first time as a courtesy.")
            .p-3
              h2.h5= t("Why are you sending this email?")
              p.card-text.small
                != t("It is a widely known issue that <u>only</u> happens when you send an email to yourself <i>as</i> yourself.")
                = " "
                = t('The emails do not show up twice in your inbox because they have the same "Message-ID" value in the email headers.')
                = " "
                = t("If you're using a service such as Gmail, then the email will only be shown in your Sent folder.")
                = " "
                = t("We are simply letting you know in advance of this issue!")
              a.btn.btn-sm.btn-danger(
                href="https://support.google.com/a/answer/1703601",
                target="_blank",
                rel="noopener noreferrer"
              )
                = t("Read the official Gmail answer")
                = " "
                != "&rarr;"
            .p-3
              h2= t("What is Forward Email?")
              p.card-text
                != t('For <span class="notranslate">%d</span> years and counting, we are the go-to email service for hundreds of thousands of creators, developers, and businesses.', dayjs().endOf("year").diff(dayjs("1/1/17", "M-D/YY"), "year"))
                = " "
                != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span>.')
              ul.list-unstyled.text-left.mb-3.d-inline-block.mx-auto
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Unlimited domains and aliases")
                  = " "
                  span.badge.badge-success
                    = t("100% Free")
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("10 GB encrypted email storage")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/blog/docs/best-quantum-safe-encrypted-email-service`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Privacy-focused email")
                  = " "
                  a.badge.badge-dark.align-middle(
                    href=`${config.urls.web}/privacy`
                  )
                    = t("Privacy Policy")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Send outbound SMTP email")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/guides/send-email-with-custom-domain-smtp`
                  )
                    = t("SMTP Guide")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Works with Apple, Outlook, Gmail, Betterbird, Android")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`
                  )
                    = t("Apps")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Enterprise-grade 99.99% uptime SLA")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/faq`)
                    = t("View FAQ")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Powered by bare metal servers")
                  = " "
                  a.badge.badge-dark(
                    href="https://status.forwardemail.net",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("Status Page")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("100% open-source software")
                  = " "
                  a.badge.badge-dark(
                    href="https://github.com/forwardemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("View")
                    = " "
                    = t("GitHub")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Email API designed for developers")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/email-api`)
                    = t("Email API")
                    = " "
                    != "&rarr;"
              .d-block
                a.btn.btn-lg.btn-success.text-uppercase.font-weight-bold(
                  href=config.urls.web
                )
                  = t("Sign up free")
          .card-footer.small.text-muted= t("If you have any questions or comments, then please let us know.")
