include ./_payment-method.pug

.card
  .card-header.p-0
    table.table.mb-0
      tr
        td.border-0
          strong
            = t("Reference")
            = ":"
          = " "
          = payment.reference
        td.text-right.border-0
          strong
            = t("Payment Status")
            = ":"
          = " "
          = t("Paid")
  table.table.mb-0
    tr
      td.border-0(colspan=2)
        .text-center.mt-2.mb-3.pb-3.border-bottom
          img.d-inline-block.mr-1(
            src=manifest(ctx.params.reference.endsWith(".pdf") ? "img/apple-touch-icon.png" : "img/logo-square.svg"),
            width=50,
            height=50,
            alt=''
          )
          h1.h2.m-0.align-middle.d-inline-block
            span.text-primary.font-weight-bold Forward
            = " "
            span.text-info.font-weight-normal Email
    tr
      td.border-0
        address
          strong Niftylettuce, LLC.
          br
          | 16192 Coastal Hwy
          br
          | Lewes, DE 19958
          br
          | United States of America
          br
          small: a(href='mailto:support@forwardemail.net') support@forwardemail.net
      td.border-0.text-right
        address
          != user[config.userFields.addressHTML]
          br
          small: a(href=`mailto:${user.email}`)= user.email
    tr
      td.border-0
        strong
          = t("Payment Method")
          = ":"
        br
        +paymentMethod(payment)
      td.border-0.text-right
        strong
          = t("Payment Date")
          = ":"
        br
        = dayjs(payment.created_at).locale(locale).format("M/D/YY")
  table.table.table-bordered.mb-0
    thead.thead-dark
      tr
        th(scope='col')= t("Description")
        th.text-right(scope='col')= t("Amount")
    tbody
      tr
        td.align-middle!= payment.description
        td.align-middle.text-right= payment.amount_formatted
    tfoot.thead-light
      tr
        th.align-middle
          if user[config.userFields.companyVAT]
            strong= "VAT #"
            = " "
            = user[config.userFields.companyVAT]
          .float-right.text-right: u= t("Total")
        th.align-middle.text-right= payment.amount_formatted
  .card-footer.text-center: small.text-muted= t("If you have any questions or comments, then please let us know")
