include ./_payment-method.pug

if !returnHTML
  .text-center.pb-5
    img.d-inline-block.mr-1(
      src=manifest(isPDF || ctx.path.endsWith(".pdf") ? "img/logo-square-180x180.png" : "img/logo-square.svg"),
      width=50,
      height=50,
      alt="Forward Email logo"
    )
    h1.h2.m-0.ml-2.align-middle.d-inline-block.text-sans-serif.font-weight-bold= "Forward Email"
.text-monospace.table-responsive
  table.table.mb-0
    tbody
      if !returnHTML
        tr
          td.border-0
            u.font-weight-bold= t("Company")
            address
              | Forward Email LLC
              br
              | 16192 Coastal Hwy
              br
              | Lewes, DE 19958
              br
              | United States of America
              br
              a.text-decoration-none.text-themed(
                href="mailto:support@forwardemail.net"
              ) support@forwardemail.net
              br
              a.text-decoration-none.text-themed(href=config.urls.web)= config.urls.web.replace("http://", "").replace("https://", "")
          td.border-0.text-right.d-none.d-sm-block.d-print-block
            u.font-weight-bold= t("Customer")
            address
              != user[config.userFields.addressHTML]
              if user[config.userFields.addressHTML]
                br
              a.text-decoration-none.text-themed(href=`mailto:${user.email}`)= user.email
        tr.d-block.d-sm-none.d-print-none
          td.border-0
            u.font-weight-bold= t("Customer")
            address
              != user[config.userFields.addressHTML]
              if user[config.userFields.addressHTML]
                br
              a.text-decoration-none.text-themed(href=`mailto:${user.email}`)= user.email
      tr
        td.border-0
          u.font-weight-bold= t("Date")
          br
          span.dayjs(
            data-time=_.isDate(payment.invoice_at) ? payment.invoice_at.getTime() : payment.created_at.getTime(),
            data-time-style="false"
          )
            = dayjs(_.isDate(payment.invoice_at) ? payment.invoice_at : payment.created_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY")
        td.border-0.text-right(
          class=returnHTML ? false : "d-none d-sm-block d-print-block"
        )
          u.font-weight-bold= t("Reference")
          br
          = payment.reference
      if !returnHTML
        tr.d-block.d-sm-none.d-print-none
          td.border-0
            u.font-weight-bold= t("Reference")
            br
            = payment.reference
      tr
        td.border-0
          u.font-weight-bold= t("Method")
          br
          +paymentMethod(payment)
        td.border-0.text-right(
          class=returnHTML ? false : "d-none d-sm-block d-print-block"
        )
          u.font-weight-bold= t("Status")
          br
          = t("Paid")
      if !returnHTML
        tr.d-block.d-sm-none.d-print-none
          td.border-0
            u.font-weight-bold= t("Status")
            br
            = t("Paid")
  table.table.mb-0
    thead
      tr
        th.border-0(scope="col"): u= t("Description")
        th.border-0.text-right(scope="col"): u= t("Amount")
    tbody
      tr
        td.border-0!= payment.description
        td.border-0.text-right
          if !payment.currency || payment.currency === 'usd' || !payment.currency_amount
            = new Intl.NumberFormat(ctx.locale, { style: "currency", currency: "USD" }).format(payment.amount / 100)
          else
            = new Intl.NumberFormat(ctx.locale, { style: "currency", currency: payment.currency.toUpperCase() }).format(payment.currency_amount / 100)
      if payment.amount_refunded > 0
        tr
          td.border-0= payment.method === "free_beta_program" ? t("Discount") : t("Refund")
          td.border-0.text-right
            = "-"
            if !payment.currency || payment.currency === 'usd' || !payment.currency_amount_refunded
              = new Intl.NumberFormat(ctx.locale, { style: "currency", currency: "USD" }).format(payment.amount_refunded / 100)
            else
              = new Intl.NumberFormat(ctx.locale, { style: "currency", currency: payment.currency.toUpperCase() }).format(payment.currency_amount_refunded / 100)
    tfoot
      tr
        th.border-0.align-middle
          if user[config.userFields.companyVAT]
            strong= "VAT #"
            = " "
            = striptags(user[config.userFields.companyVAT])
          .float-right.text-right
            u= t("Total:")
        th.border-0.align-middle.text-right: u= payment.amount_formatted
      //-.
        if payment.currency !== 'usd' && payment.exchange_rate
          tr
            th.border-0.align-middle.text-right(colspan=2)
              strong= t("Exchange Rate")
              = ": "
              = payment.exchange_rate
