include ../../_sort-header
include ../../_pagination

include ./_payment-method

mixin receipt(payment)
  .btn-group
    a.btn.btn-primary(
      href=l(`/my-account/billing/${payment.reference}`),
      data-toggle="tooltip",
      data-placement="bottom",
      title=t("View")
    )
      i.fa.fa-receipt
    a.btn.btn-danger(
      href=l(`/my-account/billing/${dayjs(payment.invoice_at).format("YYYY-MM-DD")}-${payment.reference.toUpperCase()}.pdf`),
      data-toggle="tooltip",
      data-placement="bottom",
      title=t("Download")
    )
      i.fa.fa-file-pdf
    a.btn.btn-dark(
      href=l(`/my-account/billing/${dayjs(payment.invoice_at).format("YYYY-MM-DD")}-${payment.reference.toUpperCase()}.html`),
      target="_blank",
      data-toggle="tooltip",
      data-placement="bottom",
      title=t("Print")
    )
      i.fa.fa-print

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th.d-none.d-lg-table-cell(scope="col")
          +sortHeader('reference', null, '#table-payments')
        th(scope="col")
          +sortHeader('invoice_at', 'Date', '#table-payments')
        th(scope="col")
          span.d-none.d-lg-inline
            +sortHeader('description', null, '#table-payments')
          span.d-lg-none
            +sortHeader('reference', 'Payment', '#table-payments')
        th.d-none.d-lg-table-cell(scope="col")
          +sortHeader('method', null, '#table-payments')
        th(scope="col")
          +sortHeader('amount', 'Amount', '#table-payments')
        th.d-none.d-lg-table-cell.text-center.align-middle(scope="col")= t("Receipt")
    tbody
      each payment in payments
        tr.small.text-monospace
          td.align-middle.d-none.d-lg-table-cell.text-center: code.lead= payment.reference
          td.align-middle.text-center
            span.dayjs(
              data-time=_.isDate(payment.invoice_at) ? payment.invoice_at.getTime() : payment.created_at.getTime(),
              data-time-style="false"
            )
              = dayjs(_.isDate(payment.invoice_at) ? payment.invoice_at : payment.created_at).tz(user.timezone).format("M/D/YY")
          td.align-middle
            .d-block.d-lg-none.mb-2
              strong
                = t("Reference")
                = ":"
              = " "
              = payment.reference
            != payment.description
            .d-block.d-lg-none.mb-2
            .d-block.d-lg-none.mb-2
              +paymentMethod(payment)
            .d-block.d-lg-none
              +receipt(payment)
          td.align-middle.d-none.d-lg-table-cell
            +paymentMethod(payment)
          td.align-middle.text-right= payment.amount_formatted
          td.align-middle.d-none.d-lg-table-cell.text-center
            +receipt(payment)
+paginate('#table-payments')
