extends ../../layout

block body
  #modal-change-plan.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-change-plan-title",
    aria-hidden="true"
  )
    .modal-dialog(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h4#modal-change-plan-title.modal-title.d-inline-block.ml-4= t("Change Plan")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p.lead.text-center!= t('You are currently on the <span class="notranslate">%s</span> plan.', t(titleize(humanize(user.plan))))
          if user.plan === 'free'
            a.btn.btn-lg.btn-block.btn-success.mb-3(
              href=l("/my-account/billing/upgrade?plan=enhanced_protection")
            )= t("Upgrade to Enhanced Protection")
            a.btn.btn-lg.btn-block.btn-primary(
              href=l("/my-account/billing/upgrade?plan=team")
            )= t("Upgrade to Team")
          else if user.plan === 'enhanced_protection'
            a.btn.btn-lg.btn-block.btn-primary.mb-3(
              href=l("/my-account/billing/upgrade?plan=team")
            )= t("Upgrade to Team")
          else if user.plan === 'team'
            a.btn.btn-lg.btn-block.btn-dark.mb-3(
              href=l("/my-account/billing/upgrade?plan=enhanced_protection")
            )= t("Downgrade to Enhanced Protection")
          if ['enhanced_protection', 'team'].includes(user.plan)
            form.confirm-prompt(
              action=l("/my-account/billing/upgrade"),
              method="GET"
            )
              input(type="hidden", name="plan", value="free")
              button.btn.btn-block.btn-danger(type="submit")= t("Downgrade to Free")
        .modal-footer
          button.btn.btn-lg.btn-block.btn-secondary(
            type="button",
            data-dismiss="modal",
            aria-label=t("Cancel")
          )= t("Cancel")

  .container-fluid.pt-3
    .row
      .col
        include ../../_breadcrumbs

    - const hasPlanExpired = new Date(user[config.userFields.planExpiresAt]).getTime() < Date.now()
    - const hasSubscription = isSANB(user[config.userFields.stripeSubscriptionID]) || isSANB(user[config.userFields.paypalSubscriptionID])

    if user.plan !== 'free' && (hasPlanExpired || hasSubscription)
      .container
        .row
          .col
            .alert.text-center(class=hasPlanExpired ? 'alert-danger' : 'alert-success')
              small
                if hasPlanExpired
                  != t('Your plan expired on <span class="notranslate">%s</span>. Please make a payment or correct billing issues to avoid account termination and service interruption.', dayjs(user[config.userFields.planExpiresAt]).locale(ctx.locale).format('M/D/YY'))
                else
                  = emoji('tada')
                  = ' '
                  != t('You have an active subscription with <span class="notranslate">%s</span>.', isSANB(user[config.userFields.stripeSubscriptionID]) ? t('a debit or credit card') : 'PayPal')

  .container.pb-5.position-relative
    .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
      .col-12.d-flex(class=user.plan === "free" ? "" : "col-lg-6")
        .d-flex.flex-column.flex-grow-1.align-items-center.rounded-lg
          h2.display-5.font-weight-bold= t(titleize(humanize(user.plan)))
          small.text-muted.text-uppercase.mb-3= t("Current Plan")
          button.btn.btn-dark.btn-success(
            type="button",
            data-toggle="modal",
            data-target="#modal-change-plan"
          )= t("Change Plan")
      if user.plan !== 'free'
        .col-12.col-lg-6.d-flex
          .mt-lg-0.mt-5.d-flex.flex-column.flex-grow-1.align-items-center.rounded-lg
            h2.display-5.font-weight-bold
              if hasSubscription
                = t('Auto-renew enabled')
              else
                = t('Auto-renew disabled')
            if hasSubscription && hasPlanExpired
              small.alert.alert-warning!= t('Something is wrong with your current <span class="notranslate">%s</span> subscription.', isSANB(user[config.userFields.stripeSubscriptionID]) ? t('debit or credit card') : 'PayPal')
            t(titleize(humanize(user.plan)))
            if !hasPlanExpired
              small.alert.alert-warning
                != t('Next payment due <span class="notranslate">%s<span> on <span class="notranslate">%s</span>.', dayjs(user[config.userFields.planExpiresAt]).locale(ctx.locale).fromNow(), dayjs(user[config.userFields.planExpiresAt]).locale(ctx.locale).format("M/D/YY"))
            ul.list-inline
              li.list-inline-item
                a.btn.btn-md.btn-primary(href=l("/my-account/billing/make-payment"))= t("Make Payment")
              if isSANB(user[config.userFields.stripeSubscriptionID])
                li.list-inline-item
                  form(action=l("/my-account/billing/update-card"), method='POST').ajax-form
                    input(type="hidden", name="_csrf", value=_csrf)
                    button.btn.btn-md.btn-dark(type="submit")= t("Update Card")
              else if isSANB(user[config.userFields.paypalSubscriptionID])
                li.list-inline-item
                  a(href='https://www.paypal.com', target='_blank', rel='noopener noreferrer').btn.btn-md.btn-dark!= t('Go to <span class="notranslate">%s</span>', 'PayPal')
              if hasSubscription
                li.list-inline-item
                  form.confirm-prompt(action=l("/my-account/billing"), method="POST")
                    input(type="hidden", name="_csrf", value=_csrf)
                    input(type="hidden", name="_method", value="DELETE")
                    button.btn.btn-md.btn-danger(type="submit")
                      = t("Cancel Subscription")
              else
                li.list-inline-item
                  a.btn.btn-md.btn-success(href=l("/my-account/billing/enable-auto-renew"))= t("Enable Auto-Renew")
  if payments.length > 0
    .container.pt-3
      .row
        .col
          h3.text-center.mb-3= t("Receipts")
          //-.
            form.ajax-form.table-ajax-form.mb-3.px-3(
              action=ctx.path,
              method="GET",
              data-table="#table-payments"
            )
              input(type="hidden", name="_csrf", value=_csrf)
              .form-row
                .col.form-group.floating-label
                  input#input-keyword-search.form-control(
                    type="text",
                    value=ctx.query.keyword ? ctx.query.keyword : '',
                    name="keyword",
                    placeholder=t("Keyword")
                  )
                  label(for="input-keyword-search")= t('Keyword')
              .form-row
                .col.form-group.floating-label
                  input#input-start-date.form-control(
                    type="date",
                    value=ctx.query.start_date ? ctx.query.start_date : '',
                    name="start_date"
                  )
                  label(for="input-start-date")= t('Start Date')
                .col.form-group.floating-label
                  input#input-end-date.form-control(
                    type="date",
                    value=ctx.query.end_date ? ctx.query.end_date : '',
                    name="end_date"
                  )
                  label(for="input-end-date")= t('End Date')
              .row
                .col
                  button.btn.btn-success.btn-block(type="submit")= t('Search')
          #table-payments.mb-0
            include ./_table.pug
          .alert.alert-info.text-center
            small!= t('Need to update company information on receipts? <a href="%s" class="alert-link notranslate">Update your profile</a>', l("/my-account/profile"))
