extends ../../layout

block body
  .container-fluid.py-3
    .row
      .col
        include ../../_breadcrumbs

  .container
    .row
      .col
        include _receipt
    .row.my-5
      ul.list-inline.mb-0.mx-auto
        li.list-inline-item
          a.btn.btn-danger(
            href=l(`/my-account/billing/${payment.reference}.pdf`),
            data-toggle="tooltip",
            data-placement="bottom",
            title=t("Download")
          )
            i.fa.fa-file-pdf
            = " "
            = t("Download")
        li.list-inline-item
          a.btn.btn-dark(
            href=l(`/my-account/billing/${payment.reference}.html`),
            target="_blank",
            data-toggle="tooltip",
            data-placement="bottom",
            title=t("Print")
          )
            i.fa.fa-print
            = " "
            = t("Print")
    .row.text-center.my-5
      .col
        a.btn.btn-outline-secondary(href=l("/my-account/billing"))
          i.fa.fa-angle-double-left
          = " "
          = t("Back to Billing")
