#modal-watch-video.modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="modal-watch-video-title",
  aria-hidden="true"
)
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .modal-header.text-center.d-block
        #modal-watch-video-title.h4.d-inline-block.ml-4= t("Made for you")
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        .lazyframe(
          title=t("Forward Email's Paid Plans"),
          data-vendor="youtube_nocookie",
          data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
        )
#modal-upgrade.modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="modal-upgrade-title",
  aria-hidden="true"
)
  .modal-dialog(role="document")
    .modal-content
      .modal-header.text-center.d-block
        h4#modal-upgrade-title.d-inline-block.ml-4
          if user.plan === 'free'
            = t("Unlock this feature")
          else
            = t("Important step required")
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body.text-center
        p.lead.mb-3
          if user.plan === 'free'
            strong= t("You are currently on the free plan, which requires your aliases to be managed in DNS records.")
            br
            br
            = t("If you upgrade to a paid plan, then you will unlock our alias manager feature.")
            = " "
            != t("Our alias manager allows you to update records with ease and in real-time &ndash; unlike DNS records.")
            br
            br
            != t('If you do not wish to upgrade, then please see <a href="%s" class="text-decoration-underline text-primary font-weight-bold" target="_blank">Options A to G in our FAQ</a> in order to manage your aliases.', domain ? l(`/faq?domain=${domain.name}#dns-configuration-options`) : l("/faq#dns-configuration-options"))
            = " "
            != t('<a href="https://www.youtube.com/watch?v=N6zjv40zuIY" role="button" data-toggle="modal" data-target="#modal-watch-video" rel="noopener noreferrer" target="_blank" class="text-decoration-underline text-danger font-weight-bold">Click to watch our product tour</a>.', l("/private-business-email"))
          else
            = t("Your current plan includes this feature at no extra cost.")
            = " "
            != t('To access it for this domain, you need to click "Change Plan" &rarr; "<span class="notranslate">%s</span>", and then follow setup instructions.', titleize(humanize(user.plan)))
        if user.plan === 'free'
          .alert.alert-warning.mb-3
            strong.font-weight-bold= t("Not ready?")
            = " "
            a.alert-link(
              href=domain ? l(`/faq?domain=${domain.name}#dns-configuration-options`) : l("/faq#dns-configuration-options"),
              target="_blank"
            )= t("Visit our FAQ for more options")
        if domain && domain.plan === 'free'
          a.btn.btn-dark.btn-lg.btn-block(
            href=l(`/my-account/domains/${domain.name}/billing?plan=enhanced_protection`)
          )
            if user.plan === 'free'
              = t("Upgrade Now")
            else
              = t("Enable Feature")
            = " "
            i.fa.fa-angle-double-right.align-middle
        else if user.plan === 'free'
          a.btn.btn-dark.btn-lg.btn-block(
            href=l("/my-account/billing/upgrade?plan=enhanced_protection")
          )
            = t("Upgrade Now")
            = " "
            i.fa.fa-angle-double-right.align-middle
        else
          button.btn-dark.btn-lg.btn-block(type="button", data-dismiss="modal")= t("Continue")

#modal-upgrade-logs.modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="modal-upgrade-logs-title",
  aria-hidden="true"
)
  .modal-dialog(role="document")
    .modal-content
      .modal-header.text-center.d-block
        h4#modal-upgrade-logs-title.d-inline-block.ml-4
          if user.plan === 'free'
            = t("Unlock this feature")
          else
            = t("Important step required")
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body.text-center
        p.lead.mb-3
          if user.plan === 'free'
            strong= t("You are currently on the free plan, which requires your aliases to be managed in DNS records.")
            br
            br
            = t("If you upgrade to a paid plan, then you will unlock our alias manager feature.")
            = " "
            != t("Our alias manager allows you to update records with ease and in real-time &ndash; unlike DNS records.")
            br
            br
            != t('If you do not wish to upgrade, then please see <a href="%s" class="text-decoration-underline text-primary font-weight-bold" target="_blank">Options A to G in our FAQ</a> in order to manage your aliases.', domain ? l(`/faq?domain=${domain.name}#dns-configuration-options`) : l("/faq#dns-configuration-options"))
            = " "
            != t('<a href="https://www.youtube.com/watch?v=N6zjv40zuIY" role="button" data-toggle="modal" data-target="#modal-watch-video" rel="noopener noreferrer" target="_blank" class="text-decoration-underline text-danger font-weight-bold">Click to watch our product tour</a>.', l("/private-business-email"))
          else
            = t("Your current plan includes this feature at no extra cost.")
            = " "
            != t('To access it for this domain, you need to click "Change Plan" &rarr; "<span class="notranslate">%s</span>", and then follow setup instructions.', titleize(humanize(user.plan)))
        if domain && domain.plan === 'free'
          a.btn.btn-dark.btn-lg.btn-block(
            href=l(`/my-account/domains/${domain.name}/billing?plan=enhanced_protection`)
          )
            if user.plan === 'free'
              = t("Upgrade Now")
            else
              = t("Enable Feature")
            = " "
            i.fa.fa-angle-double-right.align-middle
        else if user.plan === 'free'
          a.btn.btn-dark.btn-lg.btn-block(
            href=l("/my-account/billing/upgrade?plan=enhanced_protection")
          )
            = t("Upgrade Now")
            = " "
            i.fa.fa-angle-double-right.align-middle
        else
          button.btn-dark.btn-lg.btn-block(type="button", data-dismiss="modal")= t("Continue")
