#modal-upgrade.modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="modal-domain-title",
  aria-hidden="true"
)
  .modal-dialog(role="document")
    .modal-content
      .modal-header.text-center.d-block
        h4#modal-upgrade-title.d-inline-block.ml-4= t("Unlock this feature")
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body.text-center
        p.lead.mb-0= t("Upgrade to unlock our alias manager.")
        .alert.alert-warning.my-3
          strong.font-weight-bold= t('Not ready?')
          = ' '
          a(href=domain ? l(`/faq?domain=${domain.name}#dns-configuration-options`) : l("/faq#dns-configuration-options"), target='_blank').alert-link= t('Visit our FAQ for more options')
        if domain && domain.plan === 'free'
          a.btn.btn-dark.btn-lg.btn-block(
            href=l(`/my-account/domains/${domain.name}/billing?plan=enhanced_protection`)
          )
            = t("Upgrade Now")
            = " "
            i.fa.fa-angle-double-right.align-middle
        else
          a.btn.btn-dark.btn-lg.btn-block(
            href=l('/my-account/billing/upgrade?plan=enhanced_protection')
          )
            = t("Upgrade Now")
            = " "
            i.fa.fa-angle-double-right.align-middle
