include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered.table-sm
    thead.thead-dark
      tr
        th(scope="col")
          +sortHeader('name', 'Domain Name', '#table-domains', 'text-left')
        th.align-middle(scope="col")= t("Quick Links")
    tbody
      if domains.length === 0
        td.alert.alert-info(colspan=user.group === "admin" ? "7" : "6")= t("No domains exist for that search.")
      else
        each domain in domains
          - domain.plan = domain.plan || "free";
          tr(class=!domain.has_mx_record || !domain.has_txt_record ? 'table-danger' : '')
            td.align-middle.p-3
              h2.h5= domain.name
              ul.list-inline.mb-0
                if !domain.is_global || domain.group === 'admin'
                  li.list-inline-item
                    if domain.has_mx_record && domain.has_txt_record
                      span.badge.badge-success.text-uppercase
                        i.fa.fa-check
                        = " "
                        = t("Setup Verified")
                    else
                      a.badge.badge-danger.text-uppercase(
                        href=l(`/my-account/domains/${domain.name}`)
                      )
                        i.fa.fa-times
                        = " "
                        = t("Setup Required")
                li.list-inline-item
                  if domain.is_global
                    span.badge.badge-secondary.text-uppercase= t("Vanity Domain")
                  else
                    span.badge.text-uppercase(
                      class=domain.plan === "free" ? "badge-danger" : "badge-primary"
                    )
                      = titleize(humanize(domain.plan))
            td.align-middle
              ul.list-inline.mb-0
                if domain.group === 'admin'
                  li.list-inline-item
                    a.btn.btn-sm.btn-link.text-dark.btn-block(
                      href=l(`/my-account/domains/${domain.name}`)
                    )
                      i.fa.fa-fw.fa-cog
                      = " "
                      = t("Setup")
                li.list-inline-item
                  a.btn.btn-sm.btn-link.text-dark.btn-block(
                    href=domain.plan === "free" ? "#" : l(`/my-account/domains/${domain.name}/aliases`),
                    role=domain.plan === "free" ? "button" : false,
                    data-target=domain.plan === "free" ? "#modal-upgrade" : false,
                    data-toggle=domain.plan === "free" ? "modal" : false
                  )
                    i.fa.fa-fw.fa-users
                    = " "
                    = t("Aliases")
                if domain.group === 'admin'
                  li.list-inline-item
                    .btn-group.btn-block.btn-group-sm
                      button.btn.btn-sm.btn-link.text-dark.btn-block.dropdown-toggle(
                        type="button",
                        data-toggle="dropdown",
                        aria-haspopup="true",
                        aria-expanded="false"
                      )
                        = t("Change Plan")
                      .dropdown-menu
                        h6.dropdown-header.text-uppercase= t("Change plan to:")
                        each plan in [ 'free', 'enhanced_protection', 'team' ].filter(plan => plan !== domain.plan)
                          a.dropdown-item(
                            href=l(`/my-account/domains/${domain.name}/billing?plan=${plan}`)
                          )
                            case plan
                              when 'enhanced_protection'
                                i.fa.fa-fw.fa-shield
                                = " "
                                = t("Enhanced Protection")
                              when 'team'
                                i.fa.fa-fw.fa-users
                                = " "
                                = t("Team")
                              default
                                = t("Free")
                                = " ("
                                = t("DNS-based")
                                = ")"
                        .dropdown-divider
                        a.dropdown-item.small.text-muted(
                          href=l(`/private-business-email?domain=${domain.name}`)
                        )= t("See all plan features")
                  li.list-inline-item
                    a.btn.btn-sm.btn-link.text-dark.btn-block(
                      href=l(`/my-account/domains/${domain.name}/advanced-settings`)
                    )
                      i.fa.fa-fw.fa-tools
                      = " "
                      = t("Settings")
+paginate('#table-domains')
