
include ../../_sort_header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope='col')
          +sort_header('name', 'Domain Name', '#table-domains')
        if user.group === 'admin'
          th(scope='col').text-center
            +sort_header('is_global', 'Global', '#table-domains')
        th(scope='col').d-none.d-md-table-cell
          +sort_header('plan', 'Current Plan', '#table-domains')
        th(scope='col').d-none.d-md-table-cell.text-center
          +sort_header('aliases', 'Aliases', '#table-domains')
        th(scope='col').d-none.d-md-table-cell.text-center
          +sort_header('has_mx_record', 'MX Records', '#table-domains')
        th(scope='col').d-none.d-md-table-cell.text-center
          +sort_header('has_txt_record', 'TXT Records', '#table-domains')
        th(scope='col').text-center.text-md-left.align-middle= t('Quick Links')
    tbody
      each domain in domains
        tr
          td.align-middle
            .markdown-body.ml-0.mr-0: code= domain.name
            if domain.is_global
              .h4.mb-0.mt-2: span.badge.badge-success.font-weight-bold.text-uppercase= t('Free Vanity Domain')
          if user.group === 'admin'
            td.align-middle.text-center
              if domain.is_global
                i.fa.fa-fw.fa-check.fa-2x.text-success
          td.align-middle.d-none.d-md-table-cell
            - domain.plan = domain.plan || 'free'
            if domain.group === 'admin'
              .btn-group
                button(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false').btn.btn-dark.dropdown-toggle
                  case domain.plan
                    when 'enhanced_protection'
                      i.fa.fa-fw.fa-shield
                      = ' '
                      = t('Enhanced Protection')
                    when 'team'
                      i.fa.fa-fw.fa-users
                      = ' '
                      = t('Team')
                    default
                      = t('Free')
                      = ' ('
                      = t('DNS-based')
                      = ')'
                .dropdown-menu
                  h6.dropdown-header.text-uppercase= t('Change plan to:')
                  each plan in [ 'free', 'enhanced_protection', 'team' ].filter(plan => plan !== domain.plan)
                    a(href=l(`/my-account/domains/${domain.name}/billing?plan=${plan}`)).dropdown-item
                      case plan
                        when 'enhanced_protection'
                          i.fa.fa-fw.fa-shield
                          = ' '
                          = t('Enhanced Protection')
                        when 'team'
                          i.fa.fa-fw.fa-users
                          = ' '
                          = t('Team')
                        default
                          = t('Free')
                          = ' ('
                          = t('DNS-based')
                          = ')'
                  .dropdown-divider
                  a(href=l(`/pricing?domain=${domain.name}`)).dropdown-item
                    small.text-muted= t('See all plan features')
            else
              = t(titleize(humanize(domain.plan)))
          if domain.plan === 'free'
            td.align-middle.d-none.d-md-table-cell.text-center= t('DNS-based')
          else
            td.align-middle.d-none.d-md-table-cell.text-center.h4: a(href=l(`/my-account/domains/${domain.name}/aliases`), data-toggle='tooltip', title=t('Manage Aliases')).badge.badge-pill.badge-dark.px-3.py-2.font-weight-normal= domain.aliases.length
          td.align-middle.d-none.d-md-table-cell.text-center
            if !domain.is_global || domain.is_global && domain.group === 'admin'
              ul.list-inline.mb-0
                li.list-inline-item
                  button(type='button', data-placement='bottom', data-toggle='tooltip', data-title=domain.has_mx_record ? t('Verified') : t('Not Verified'), class=domain.has_mx_record ? 'text-success' : 'text-danger').btn.btn-link
                    i.fa.fa-fw.fa-2x(class=domain.has_mx_record ? 'fa-check' : 'fa-times')
                li.list-inline-item
                  form(action=l(`/my-account/domains/${domain.name}/verify-records`), method="POST").ajax-form.d-inline-block
                    input(type="hidden", name="_csrf", value=ctx.csrf)
                    button(type='submit').btn.btn-outline-dark
                      i.fa.fa-fw.fa-refresh.d-block.d-lg-inline
          td.align-middle.d-none.d-md-table-cell.text-center
            if !domain.is_global || domain.is_global && domain.group === 'admin'
              ul.list-inline.mb-0
                li.list-inline-item
                  button(type='button', data-placement='bottom', data-toggle='tooltip', data-title=domain.has_txt_record ? t('Verified') : t('Not Verified'), class=domain.has_txt_record ? 'text-success' : 'text-danger').btn.btn-link
                    i.fa.fa-fw.fa-2x(class=domain.has_txt_record ? 'fa-check' : 'fa-times')
                li.list-inline-item
                  form(action=l(`/my-account/domains/${domain.name}/verify-records`), method="POST").ajax-form.d-inline-block
                    input(type="hidden", name="_csrf", value=ctx.csrf)
                    button(type='submit').btn.btn-outline-dark
                      i.fa.fa-fw.fa-refresh.d-block.d-lg-inline
          td.align-middle
            ul.list-inline.mb-0
              if domain.group === 'admin'
                li.list-inline-item.d-block.d-lg-inline-block.mr-0.mr-md-1.my-2
                  a(href=l(`/my-account/domains/${domain.name}`)).btn.btn-dark.btn-block
                    i.fa.fa-fw.fa-cog
                    = ' '
                    = t('Setup')
              li.list-inline-item.d-block.d-lg-inline-block.mr-0.mr-md-1.my-2
                a(
                  href=domain.plan === 'free' ? '#' : l(`/my-account/domains/${domain.name}/aliases`),
                  role=domain.plan === 'free' ? 'button' : false,
                  data-target=domain.plan === 'free' ? '#modal-upgrade' : false,
                  data-toggle=domain.plan === 'free' ? 'modal' : false
                ).btn.btn-dark.btn-block
                  i.fa.fa-fw.fa-users
                  = ' '
                  = t('Aliases')
              if domain.group === 'admin'
                li.list-inline-item.d-block.d-lg-inline-block.mr-0.mr-md-1.my-2
                  a(href=l(`/my-account/domains/${domain.name}/advanced-settings`)).btn.btn-dark.btn-block
                    i.fa.fa-fw.fa-tools
                    = ' '
                    = t('Advanced Settings')
              //-.
                if domain.group === 'admin'
                  li.list-inline-item.d-block.d-lg-inline-block
                    a(href=l(`/my-account/domains/${domain.name}/billing`)).btn.btn-dark.btn-block
                      i.fa.fa-fw.fa-receipt
                      = ' '
                      = t('Billing')
+paginate('#table-domains')
