extends ../../layout

block append scripts
  script(
    defer,
    src=manifest("js/open-startup.js"),
    integrity=manifest("js/open-startup.js", "integrity"),
    crossorigin="anonymous"
  )

block body
  include ../../_modal-storage
  if domains.length > 0
    #modal-alias.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-alias-title",
      aria-hidden="true",
      data-backdrop="static"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            h4#modal-alias-title.d-inline-block.ml-4= t("Add New Alias")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            form.ajax-form(action=l("/my-account/aliases"), method="POST")
              include aliases/_form
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Continue")

  if user.plan === 'free'
    include _modal-upgrade
  include _modal-domain
  //- include _modal-openpgp-example

  .min-vh-80.d-flex.flex-column
    .container.py-3
      .row
        .col
          include ../../_breadcrumbs
      .row
        .col
          if domains.length === 0 && !ctx.query.q && (!ctx.query.page || ctx.query.page === 1)
            .alert.alert-info.text-center= t("No domains exist yet.")
          else
            .d-flex.flex-wrap.rounded.border.bg-white.bg-themed.text-center.mb-3
              .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
                h2.h4.text-center= t("Domains")
                #metrics-total-domains.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
              .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
                h2.h4.text-center= t("Aliases")
                #metrics-total-aliases.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
              .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
                h2.h4.text-center= t("Outbound Emails")
                #metrics-total-emails.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
              .p-3.p-md-4.d-flex.flex-column.flex-grow-1.justify-content-center
                h2.h4.text-center= t("Logs")
                #metrics-total-logs.display-4.font-weight-bold: i.fa.fa-spin.fa-spinner.small.text-muted
            if !ctx.query.page || ctx.query.page === 1
              - const mismatch = user.plan !== "free" && domains.some((d) => d.group === "admin" && d.plan !== user.plan && d.plan !== "team");
              if mismatch
                .alert.alert-warning.small.text-center
                  != t('One or more of your domains are not on the <span class="notranslate">%s</span> plan.', t(titleize(humanize(user.plan))))
                  = " "
                  != t('Click "Change Plan" &rarr; "<span class="notranslate">%s</span>" to resolve if needed.', t(titleize(humanize(user.plan))))
            form.ajax-form.table-ajax-form(
              action=ctx.path,
              method="GET",
              data-table="#table-domains",
              data-search-params="q"
            )
              .input-group.mb-3
                input#input-keyword-search.form-control(
                  type="text",
                  value=ctx.query.q ? ctx.query.q : "",
                  name="q",
                  placeholder=t("Search")
                )
                .input-group-append
                  button.btn.btn-success(type="submit")= t("Search")
            #table-domains
              include ./_table
