extends ../../layout

block body
  #modal-onboard-pricing-video.modal.fade(
    tabindex="-1",
    role="dialog",
    aria-labelledby="modal-onboard-pricing-video-title",
    aria-hidden="true"
  )
    .modal-dialog.modal-lg(role="document")
      .modal-content
        .modal-header.text-center.d-block
          h1#modal-onboard-pricing-video-title.h4.d-inline-block.ml-4= t("Enhanced Protection Plan")
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          .lazyframe(
            title=t("Setup your domain with email"),
            data-vendor="youtube_nocookie",
            data-src="https://www.youtube-nocookie.com/embed/q7zfEpn2NdA?autoplay=0"
          )
  .min-vh-80.d-flex.flex-column
    .container.pt-3
      .row
        .col
          include ../../_breadcrumbs
    .container.pb-3.text-center
      .row
        .col-sm-12.col-md-12.col-lg-8.offset-lg-2
          form.ajax-form(action=ctx.path, method="POST")
            if isSANB(ctx.query.plan) && ['free','enhanced_protection','team'].includes(ctx.query.plan)
              input(type="hidden", name="plan", value=ctx.query.plan)
            .alert.alert-success.small
              != t('If you have a domain with <a href="https://developers.cloudflare.com/registrar/get-started/register-domain/" class="alert-link notranslate" target="_blank" rel="noopener noreferrer">Cloudflare</a>, <a href="https://www.godaddy.com/" class="alert-link notranslate" target="_blank" rel="noopener noreferrer">GoDaddy</a>, or another <a href="https://en.wikipedia.org/wiki/Domain_name_registrar" class="alert-link notranslate" target="_blank" rel="noopener noreferrer">registrar</a>, then enter it below:')
            .form-group.floating-label
              input#input-domain.form-control.form-control-lg(
                required,
                value=isSANB(ctx.query.domain) && isFQDN(ctx.query.domain) ? ctx.query.domain : "",
                name="domain",
                autocomplete=config.env === "test" ? "off" : randomstring(),
                placeholder="example.com",
                autocorrect="off",
                spellcheck="false",
                autocapitalize="off",
                type="text"
              )
              label(for="input-domain")= t("Domain name")
            if user.plan === 'free' && (!isSANB(ctx.query.plan) || !['free','enhanced_protection','team'].includes(ctx.query.plan))
              input(type="hidden", name="plan", value="enhanced_protection")

            //-
            //- if user is an admin of any teams they belong to
            //- then render a dropdown menu and allow the user to select one
            //-
            if adminTeams && adminTeams.length > 0
              if adminTeams.length >= 500
                p.small.help-text.text-muted= t("Limited to the first 1000 results")
              .form-group.floating-label
                select#input-team-domain.form-control.input-lg(
                  name="team_domain"
                )
                  option(value="none", selected)= t("None; this is my own domain")
                  each adminTeam in adminTeams
                    option(value=adminTeam.id)= adminTeam.name
                label(for="input-team-domain")= t("Assign to same domain team")

            if user.group === 'admin'
              .form-group.form-check
                input#input-is-global.form-check-input(
                  type="checkbox",
                  name="is_global",
                  value="true"
                )
                label.form-check-label(for="input-is-global")= t("Global domain")

            button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Continue")
          .hr-text.d-flex.text-secondary.align-items-center= t("or")
          h3.mb-3= t("Use one of our domains:")
          form(action=l("/my-account/domains/aliases/new"), method="GET")
            .form-group.floating-label
              select#input-group.form-control.input-lg(name="domain", required)
                each vanityDomain, i in config.vanityDomains
                  option(value=vanityDomain, selected=i === 0)= `you@${vanityDomain}`
              label(for="input-group")= t("Domain Name")
            button.btn.btn-primary.btn-block.btn-lg(type="submit")= t("Continue")
          .hr-text.d-flex.text-secondary.align-items-center= t("or")
          a.btn.btn-dark.btn-lg(href=l("/domain-registration"))= t("Register a new domain name")
      - const filteredDomains = domains.filter((domain) => !domain.is_global || domain.group === "admin");
      if filteredDomains.length > 0
        .row.my-5
          .col
            a.btn.btn-outline-secondary(href=l("/my-account/domains"))
              i.fa.fa-angle-double-left
              = " "
              = t("Back to Domains")
