
extends ../../layout

block body
  .container-fluid.pt-3
    .row
      .col
        include ../../_breadcrumbs
  .container
    .row
      .col-xs-12.col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        .card
          .card-body
            form.ajax-form(action=ctx.path, method="POST")
              input(type="hidden", name="_csrf", value=ctx.csrf)
              if isSANB(ctx.query.plan) && ['free','enhanced_protection','team'].includes(ctx.query.plan)
                input(type='hidden', name='plan', value=ctx.query.plan)
              .form-group.floating-label
                input#input-domain(required, name='domain', autocomplete="off", placeholder="example.com", autocorrect="off", spellcheck="false", autocapitalize="off", type="text").form-control.form-control-lg
                label(for="input-domain")= t('Domain name')
              if user.group === 'admin'
                .form-group.form-check
                  input#input-is-global(type='checkbox', name='is_global', value='true').form-check-input
                  label(for='input-is-global').form-check-label= t('Global domain')
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
          .card-footer.text-center
            a.card-link(href=l('/domain-registration'), target='_blank', rel='noopener')
              = t('Need to register a domain?')
    if domains.length > 0
      .row.text-center.my-5
        .col
          a(href=l('/my-account/domains')).btn.btn-outline-secondary
            i.fa.fa-angle-double-left
            = ' '
            = t('Back to Domains')
