extends ../../layout

block body
  include _modal-upgrade
  if modalFAQTable
    #modal-faq-table.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-faq-table-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            h4#modal-faq-table-title.modal-title.d-inline-block.ml-4= t("DNS Management Pages")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body!= modalFAQTable
  .container-fluid.pt-3
    .row
      .col
        include ../../_breadcrumbs
  .py-5.text-center
    h2.display-5.font-weight-bold.mb-3.text-uppercase= t("Verification Status")
    if domain.has_mx_record && domain.has_txt_record
      .alert.alert-success.d-inline-block.mx-2
        = t("You have successfully completed setup.")
        = " "
        = emoji("tada")
    else
      .alert.alert-danger.d-inline-block.mx-2
        = t('Follow steps below then "Verify Records"')
    ul.list-inline
      li.list-inline-item
        button.btn.btn-link(
          type="button",
          data-placement="bottom",
          data-toggle="tooltip",
          data-title=domain.has_mx_record ? t("Verified") : t("Not Verified"),
          class=domain.has_mx_record ? "text-success" : "text-danger"
        )
          i.fa.fa-4x(class=domain.has_mx_record ? "fa-check" : "fa-times")
        .text-monospace.text-uppercase= t("MX")
      li.list-inline-item
        button.btn.btn-link(
          type="button",
          data-placement="bottom",
          data-toggle="tooltip",
          data-title=domain.has_txt_record ? t("Verified") : t("Not Verified"),
          class=domain.has_txt_record ? "text-success" : "text-danger"
        )
          i.fa.fa-4x(class=domain.has_txt_record ? "fa-check" : "fa-times")
        .text-monospace.text-uppercase= t("TXT")
    if domain.group === 'admin'
      form.ajax-form(
        action=l(`/my-account/domains/${domain.name}/verify-records`),
        method="POST"
      )
        input(type="hidden", name="_csrf", value=_csrf)
        button.btn.btn-success.btn-lg(type="submit")
          i.fa.fa-refresh
          = " "
          = t("Verify Records")
      if !domain.has_mx_record
        .container
          .row
            .col
              .card.border-dark.mt-5
                h5.card-header.bg-dark.text-white= t("MX Records Required")
                .card-body
                  p!= t("Set these <strong>MX records</strong> as the <u>only MX records</u> to your domain's DNS:")
                  .table-responsive
                    table.table.table-striped.table-hover.mt-2
                      thead.thead-dark
                        tr
                          th Name/Host/Alias
                          th.text-center TTL
                          th Type
                          th Priority
                          th Value
                      tbody
                        tr
                          td: em "@", ".", or blank
                          td.text-center 3600
                          td MX
                          td 10
                          td: code mx1.forwardemail.net
                        tr
                          td: em "@", ".", or blank
                          td.text-center 3600
                          td MX
                          td 10
                          td: code mx2.forwardemail.net
                  if modalFAQTable
                    .text-center.mt-2
                      button.btn.btn-danger.btn-lg(
                        type="button",
                        data-toggle="modal",
                        data-target="#modal-faq-table"
                      )= t("Need help?")
      if domain.plan === 'free' && !domain.has_txt_record
        .container
          .row
            .col
              .card.border-dark.mt-5
                h5.card-header.bg-dark.text-white= t("TXT Record Required")
                .card-body
                  p!= t("Add this <strong>TXT record</strong> to your domain's DNS for a global catch-all:")
                  .input-group
                    input#verification-record.form-control(
                      type="text",
                      readonly,
                      value=`${config.recordPrefix}=${user.email}`
                    )
                    .input-group-append
                      button.btn.btn-primary(
                        type="button",
                        data-toggle="clipboard",
                        data-clipboard-target="#verification-record"
                      )
                        i.fa.fa-clipboard
                        = " "
                        = t("Copy")
                  p.text-center.text-muted.py-2: small!= t('Use "@", ".", or blank for the name/host/alias value. Read <a href="%s" class="notranslate" rel="noopener noreferrer" target="_blank">our FAQ section</a> for more options', l(`/faq?domain=${domain.name}#how-do-i-get-started-and-set-up-email-forwarding`))
                  if modalFAQTable
                    .text-center.mt-3
                      button.btn.btn-danger.btn-lg(
                        type="button",
                        data-toggle="modal",
                        data-target="#modal-faq-table"
                      )= t("Need help?")
      else if domain.plan !== 'free' && !domain.has_txt_record
        .container
          .row
            .col
              .card.border-dark.mt-5
                h5.card-header.bg-dark.text-white= t("TXT Record Required")
                .card-body
                  p!= t("Add your Enhanced Protection Verification <strong>TXT record</strong> to your domain's DNS:")
                  .input-group
                    input#verification-record.form-control(
                      type="text",
                      readonly,
                      value=`${config.recordPrefix}-site-verification=${domain.verification_record}`
                    )
                    .input-group-append
                      button.btn.btn-primary(
                        type="button",
                        data-toggle="clipboard",
                        data-clipboard-target="#verification-record"
                      )
                        i.fa.fa-clipboard
                        = " "
                        = t("Copy")
                  p.text-center.text-muted.py-2: small!= t('Use "@", ".", or blank for the name/host/alias value. You <u>must remove</u> any existing "<span class="notranslate">%s</span><span class="notranslate">=</span>" records.', config.recordPrefix)
                  if modalFAQTable
                    .text-center.mt-3
                      button.btn.btn-danger.btn-lg(
                        type="button",
                        data-toggle="modal",
                        data-target="#modal-faq-table"
                      )= t("Need help?")
  .container-fluid.py-5
    .position-relative
      .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
        .col-12.d-flex
          .p-3.p-md-5.m-2.mt-lg-0.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("1. Set up your domain for email forwarding")
            p.lead.mb-3= t("Do you need to configure (or re-configure) this domain name for email forwarding?")
            a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l(`/faq?domain=${domain.name}#how-do-i-get-started-and-set-up-email-forwarding`),
              target="_blank",
              rel="noopener noreferrer"
            )
              = t("Configure your domain")
              = " "
              i.fa.fa-angle-double-right
        .col-12.d-flex
          .p-3.p-md-5.mt-5.mt-lg-0.mt-md-2.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("2. Send emails with your domain using Gmail (optional)")
            p.lead.mb-3!= t("Follow our simple guide for sending and receiving emails with your domain, directly inside of Gmail.")
            a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l(`/faq?domain=${domain.name}#how-to-send-mail-as-using-gmail`),
              target="_blank",
              rel="noopener noreferrer"
            )
              = t("Setup your Gmail")
              = " "
              i.fa.fa-angle-double-right
        .col-12.d-flex
          .p-3.p-md-5.mt-5.mt-lg-0.mt-md-2.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("3. Still need help with something?")
            p.lead.mb-3!= t("We are here to answer your questions, but please be sure to read our FAQ section first.")
            a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l("/help"),
              role="button",
              data-target="#modal-help"
            )
              = t("Ask us a question")
              = " "
              i.fa.fa-angle-double-right
    .row.text-center.mt-5
      .col
        a.btn.btn-outline-secondary(href=l("/my-account/domains"))
          i.fa.fa-angle-double-left
          = " "
          = t("Back to Domains")
