extends ../../layout

block body
  .fixed-bottom.text-center
    .bg-dark.p-2.border-top.border-light
      ul.list-inline.mb-0
        li.list-inline-item
          a.btn.btn-sm.btn-light(href="#setup-step-1")
            span.badge.badge-pill.mr-1(
              class=domain.has_mx_record && domain.has_txt_record ? "badge-success" : "badge-primary"
            )
              if domain.has_mx_record && domain.has_txt_record
                i.fa.fa-check
              else
                i.fa.fa-external-link
            = t("Step 1")
        li.list-inline-item: i.fa.fa-angle-right.align-middle.text-white
        li.list-inline-item
          a.btn.btn-sm.btn-light(href="#setup-step-2")
            span.badge.badge-pill.mr-1(
              class=domain.has_mx_record && domain.has_txt_record ? "badge-success" : "badge-danger"
            )
              if domain.has_mx_record && domain.has_txt_record
                i.fa.fa-check
              else
                i.fa.fa-times
            = t("Step 2")
        li.list-inline-item: i.fa.fa-angle-right.align-middle.text-white
        li.list-inline-item
          form.ajax-form(
            action=l(`/my-account/domains/${domain.name}/verify-records`),
            method="POST"
          )
            button.btn.btn-success.btn-sm(type="submit")
              i.fa.fa-refresh
              = " "
              = t("Verify")
  include _modal-upgrade
  if modalFAQTable
    #modal-faq-table.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-faq-table-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-xl(role="document")
        .modal-content
          .modal-header.text-center.d-block
            h4#modal-faq-table-title.d-inline-block.ml-4= t("DNS Management Pages")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body!= modalFAQTable
  .min-vh-80.d-flex.flex-column
    .container.pt-3
      .row
        .col
          include ../../_breadcrumbs
    .container.text-center
      .row
        .col
          if domain.has_mx_record && domain.has_txt_record
            .alert.alert-success
              = emoji("tada")
              = ' '
              != t("Congratulations &ndash; you completed all steps!")
              if domain.plan !== 'free'
                a.btn.btn-success.ml-3(
                  href=l(`/my-account/domains/${domain.name}/aliases`),
                )
                  i.fa.fa-fw.fa-users
                  = " "
                  = t("Manage Your Aliases")
          //-.
            else
              .alert.alert-danger
                != ("Complete both steps to finish setup:")
          else
            .alert.alert-danger
              i.fa.fa-exclamation-circle.font-weight-bold
              = ' '
              strong.font-weight-bold= t('Important:')
              = ' '
              span= t('Follow the instructions below to complete setup and verify your domain.')
          if domain.plan === 'free'
            .alert.alert-warning.small
              = t("Need secure and private email?")
              br.d-block.d-md-none
              = " "
              a.alert-link(
                href=l(`/my-account/domains/${domain.name}/billing?plan=enhanced_protection`)
              )= t("Upgrade for $3")
              = ' '
              = t('or')
              = ' '
              a(href=l('/private-business-email'), target='_blank').alert-link= t('learn more')
      .row
        .col-12
          - const provider = nsProviderLookup(domain)
          .card.position-relative
            if domain.has_mx_record && domain.has_txt_record
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-success.mt-3.mr-3
                  i.fa.fa-check
                  = " "
                  = t("Completed")
            else if provider && provider.name && provider.url
              .position-absolute.w-100.text-right
                a(href=provider.url, target='_blank', rel='noopener noreferrer').badge.badge-pill.badge-primary.mt-3.mr-3
                  i.fa.fa-external-link
                  = " "
                  != t('Go to <span class="notranslate">%s</span>', provider.name)
            else if modalFAQTable
              .position-absolute.w-100.text-right
                button.badge.badge-pill.badge-primary.mt-3.mr-3.border-0(
                  type="button",
                  data-toggle="modal",
                  data-target="#modal-faq-table"
                )
                  i.fa.fa-external-link
                  = " "
                  = t("Go to DNS settings")
            h1#setup-step-1.h5.card-header.text-left.text-md-center= t("Step 1")
            .card-body
              //-
              //- TODO: highlight in FAQ if provider exists
              //- TODO: we should also suggest SPF and DMARC
              //- TODO: link to video
              p.small.mb-0
                if provider && provider.name && provider.url
                  != t('Go to <a href="%s" target="_blank" rel="noopener noreferrer" class="font-weight-bold notranslate">%s</a>', provider.url, provider.name)
                  != t(' &rarr; log in &rarr; DNS settings')
                  br.d-block.d-md-none
                  != t(' &rarr; scroll down to <strong>Step 2</strong>')
                else
                  != t("Go to your domain provider")
                  != t(' &rarr; log in &rarr; DNS settings')
                  br.d-block.d-md-none
                  != t(' &rarr; scroll down to <strong>Step 2</strong>')
              if provider && provider.gif
                img(src=manifest(`img/guides/${provider.gif}.gif`), alt='', width='480', height='270').d-inline-block.img-thumbnail.mt-3
              if provider && provider.name && provider.url
                .text-center.mt-3
                  a(href=provider.url, target='_blank', rel='noopener noreferrer').btn.btn-primary
                    i.fa.fa-external-link
                    = ' '
                    != t('Go to <span class="notranslate">%s</span>', provider.name)
              else if modalFAQTable
                .text-center.mt-3
                  button.btn.btn-primary(
                    type="button",
                    data-toggle="modal",
                    data-target="#modal-faq-table"
                  )
                    i.fa.fa-list
                    = " "
                    = t("Browse our list of providers")
        .col-12.mt-3
          .card.position-relative
            if domain.has_mx_record && domain.has_txt_record
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-success.mt-3.mr-3
                  i.fa.fa-check
                  = " "
                  = t("Completed")
            else
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-danger.mt-3.mr-3
                  i.fa.fa-times
                  = " "
                  = t("Not Completed")
            h1#setup-step-2.h5.card-header.text-left.text-md-center= t("Step 2")
            .card-body
              .small.text-center.mb-3
                != t('Add these records to <strong class="notranslate">%s</strong>', domain.root_name || domain.name)
                span.d-inline.d-md-none= ':'
                if hasExistingMX || hasExistingTXT
                  span.d-md-inline.d-none= ':'
                else
                  span.d-none.d-md-inline= t(' and click ')
                  form.ajax-form.d-none.d-md-inline(
                    action=l(`/my-account/domains/${domain.name}/verify-records`),
                    method="POST"
                  )
                    button.btn.btn-success.btn-sm.d-inline(type="submit")
                      i.fa.fa-refresh
                      = " "
                      = t('Verify')
                .d-block.d-md-none.my-3.text-muted.small
                  = '('
                  = t("Scroll to the right to see entire table")
                  = ')'
              .table-responsive.mb-3
                table.table.table-striped.table-bordered.table-hover.table-sm.mb-0
                  thead.thead-dark
                    tr
                      th Name/Host/Alias
                      th.text-center TTL
                      th Type
                      th Priority
                      th.text-left Answer/Value
                  tbody
                    tr(class=domain.has_mx_record ? 'table-success' : domain.has_txt_record ? 'table-warning' : '')
                      td.small
                        if !domain.root_name || domain.root_name === domain.name
                          if provider && typeof provider.host === 'string'
                            = provider.host
                          else
                            | "@", ".", or leave empty/blank if allowed.
                        else
                          code.text-dark= domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                      td.text-center: code.text-dark 3600
                      td MX
                      td: code.text-dark 10
                      td.text-left: code.text-dark.text-nowrap mx1.forwardemail.net
                    tr(class=domain.has_mx_record ? 'table-success' : domain.has_txt_record ? 'table-warning' : '')
                      td.small
                        if !domain.root_name || domain.root_name === domain.name
                          if provider && typeof provider.host === 'string'
                            = provider.host
                          else
                            | "@", ".", or leave empty/blank if allowed.
                        else
                          code.text-dark= domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                      td.text-center: code.text-dark 3600
                      td MX
                      td: code.text-dark 10
                      td.text-left: code.text-dark.text-nowrap mx2.forwardemail.net
                    if domain.plan === 'free' && hasExistingTXT
                      each record in existingTXT
                        tr.table-success
                          td.small
                            if !domain.root_name || domain.root_name === domain.name
                              if provider && typeof provider.host === 'string'
                                = provider.host
                              else
                                | "@", ".", or leave empty/blank if allowed.
                            else
                              code.text-dark= domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                          td.text-center: code.text-dark 3600
                          td TXT
                          td
                          td.text-left: code.text-dark.text-nowrap= record
                    else
                      tr(class=domain.has_txt_record ? 'table-success' : domain.has_mx_record ? 'table-warning' : '')
                        td.small
                          if !domain.root_name || domain.root_name === domain.name
                            if provider && typeof provider.host === 'string'
                              = provider.host
                            else
                              | "@", ".", or leave empty/blank if allowed.
                          else
                            code.text-dark= domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                        td.text-center: code.text-dark 3600
                        td TXT
                        td
                        td.text-left
                          code.text-dark.text-nowrap
                            if domain.plan === 'free'
                              = `${config.recordPrefix}=${user.email}`
                            else
                              = `${config.recordPrefix}-site-verification=${domain.verification_record}`
                  if hasExistingMX || (hasExistingTXT && domain.plan !== 'free')
                    tr.table-danger.small.text-left.text-md-center
                      th(colspan=5, scope='row')!= t("You must delete these records:")
                  if hasExistingMX
                    each record in existingMX
                      tr.table-danger
                        td(colspan=2)
                        td MX
                        td.text-monospace.small= record.priority
                        td.text-monospace.text-left.small= record.exchange
                  if hasExistingTXT && domain.plan !== 'free'
                    each record in existingTXT
                      tr.table-danger
                        td(colspan=2)
                        td TXT
                        td
                          td.text-monospace.text-left.small= record

              if domain.plan === 'free'
                .alert.alert-warning.small
                  = t("Need to configure more aliases on the free plan?")
                  br.d-block.d-md-none
                  = " "
                  a(href=l('/faq#dns-configuration-options')).alert-link= t('See Options A to G in our FAQ')

              form.ajax-form(
                action=l(`/my-account/domains/${domain.name}/verify-records`),
                method="POST"
              )
                button.btn.btn-success.btn-lg.btn-block(type="submit")
                  i.fa.fa-refresh
                  = " "
                  = t("Verify")
      //-.
        ul.list-inline
          li.list-inline-item
            button.btn.btn-link(
              type="button",
              data-placement="bottom",
              data-toggle="tooltip",
              data-title=domain.has_mx_record ? t("Verified") : t("Not Verified"),
              class=domain.has_mx_record ? "text-success" : "text-danger"
            )
              i.fa.fa-4x(class=domain.has_mx_record ? "fa-check" : "fa-times")
            .text-monospace.text-uppercase= t("MX")
          li.list-inline-item
            button.btn.btn-link(
              type="button",
              data-placement="bottom",
              data-toggle="tooltip",
              data-title=domain.has_txt_record ? t("Verified") : t("Not Verified"),
              class=domain.has_txt_record ? "text-success" : "text-danger"
            )
              i.fa.fa-4x(class=domain.has_txt_record ? "fa-check" : "fa-times")
            .text-monospace.text-uppercase= "TXT"
    .container.py-3.py-md-4.py-lg-5
      .position-relative
        .row.d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
          //-.
            .col-12.d-flex
              .p-3.p-md-5.m-2.mt-lg-0.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
                h2.display-5.font-weight-bold.mb-3= t("Set up your domain for email forwarding")
                p.lead.mb-3= t("Do you need to configure (or re-configure) this domain name for email forwarding?")
                a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
                  href=l(`/faq?domain=${domain.name}#how-do-i-get-started-and-set-up-email-forwarding`),
                  target="_blank"
                )
                  = t("Configure your domain")
                  = " "
                  i.fa.fa-angle-double-right.align-middle
          .col-12.d-flex
            .p-3.p-md-5.mt-5.mt-lg-0.mt-md-2.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
              h2.display-5.font-weight-bold.mb-3= t("Send emails with your domain using Gmail (optional)")
              p.lead.mb-3!= t("Follow our simple guide for sending and receiving emails with your domain, directly inside of Gmail.")
              a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
                href=l('/guides/send-mail-as-gmail-custom-domain'),
                target="_blank"
              )
                = t("Setup your Gmail")
                = " "
                i.fa.fa-angle-double-right.align-middle
          .col-12.d-flex
            .p-3.p-md-5.mt-5.mt-lg-0.mt-md-2.m-2.rounded-lg.border.border-dark.bg-white.border-dark-50.border.d-flex.flex-column.flex-grow-1.align-items-start
              h2.display-5.font-weight-bold.mb-3= t("Still need help with something?")
              p.lead.mb-3!= t("We are here to answer your questions, but please be sure to read our FAQ section first.")
              a.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
                href=l("/help"),
                role="button",
                data-target="#modal-help"
              )
                = t("Ask us a question")
                = " "
                i.fa.fa-angle-double-right.align-middle
      .row.text-center.mt-5
        .col
          a.btn.btn-outline-secondary(href=l("/my-account/domains"))
            i.fa.fa-angle-double-left
            = " "
            = t("Back to Domains")
