extends ../../layout

block append scripts
  if domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
    script(
      nonce=nonce,
      defer,
      src=manifest("js/confetti.js"),
      integrity=manifest("js/confetti.js", "integrity"),
      crossorigin="anonymous"
    )

block body
  - const provider = nsProviderLookup(domain);
  //- FAQ modal
  if modalFAQTable
    #modal-faq-table.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-faq-table-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            h4#modal-faq-table-title.d-inline-block.ml-4= t("DNS Management Pages")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body!= modalFAQTable
  if !domain.has_dkim_record || !domain.has_return_path_record || !domain.has_dmarc_record
    .fixed-bottom.text-center.d-print-none
      .bg-dark.p-2.border-top.border-themed
        ul.list-inline.mb-0
          li.list-inline-item
            a.btn.btn-sm.btn-light(href="#setup-step-1")
              span.badge.badge-pill.mr-1(
                class=domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record ? "badge-success" : "badge-primary"
              )
                if domain.has_has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
                  i.fa.fa-check
                else
                  i.fa.fa-external-link
              = t("Step 1")
          li.list-inline-item.d-none.d-md-inline-block: i.fa.fa-angle-right.align-middle.text-white
          li.list-inline-item
            a.btn.btn-sm.btn-light(href="#setup-step-2")
              span.badge.badge-pill.mr-1(
                class=domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record ? "badge-success" : "badge-danger"
              )
                if domain.has_has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
                  i.fa.fa-check
                else
                  i.fa.fa-times
              = t("Step 2")
          li.list-inline-item.d-none.d-md-inline-block: i.fa.fa-angle-right.align-middle.text-white
          li.list-inline-item
            form.ajax-form(action=ctx.path, method="POST")
              button.btn.btn-success.btn-sm(type="submit")
                i.fa.fa-refresh
                = " "
                = t("Verify")
  .min-vh-80.d-flex.flex-column
    .container.pt-3
      .row
        .col
          include ../../_breadcrumbs
    if domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
      .container.text-center
        .row
          .col
            .alert.alert-success
              = emoji("tada")
              = " "
              != t("Congratulations &ndash; you completed setup!")
            ul.list-inline
              li.list-inline-item.d-block.d-md-inline-block.mr-0.mr-md-2.mb-3.mb-md-0: a.btn.btn-lg.btn-success.btn-block(
                href=l(`/my-account/domains/${punycode.toASCII(domain.name)}/aliases`)
              )= t("Generate alias passwords")
              li.list-inline-item.d-block.d-md-inline-block.mr-0.mr-md-2.mb-3.mb-md-0: a.btn.btn-lg.btn-dark.btn-block(
                href=l("/faq#do-you-support-sending-email-with-smtp"),
                target="_blank"
              )= t("Send via SMTP")
              li.list-inline-item.d-block.d-md-inline-block: a.btn.btn-lg.btn-dark.btn-block(
                href=l("/email-api#tag/emails/POST/v1/emails"),
                target="_blank"
              )= t("Send via API")
    .container.text-center.mb-3
      .row
        .col-12
          .card.position-relative
            if domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-success.mt-3.mr-3
                  i.fa.fa-check
                  = " "
                  = t("Completed")
            else if provider && provider.name && provider.url
              .position-absolute.w-100.text-right
                a.badge.badge-pill.badge-primary.mt-3.mr-3(
                  href=provider.url,
                  target="_blank",
                  rel="noopener noreferrer"
                )
                  i.fa.fa-external-link
                  = " "
                  != t('Go to <span class="notranslate">%s</span>', provider.name)
            else if modalFAQTable
              .position-absolute.w-100.text-right
                button.badge.badge-pill.badge-primary.mt-3.mr-3.border-0(
                  type="button",
                  data-toggle="modal",
                  data-target="#modal-faq-table",
                  data-dismiss="modal"
                )
                  i.fa.fa-external-link
                  = " "
                  = t("Go to DNS settings")
            else
              .position-absolute.w-100.text-right
                a.badge.badge-pill.badge-primary.mt-3.mr-3.border-0(
                  href=l("/faq#table-dns-management-by-registrar"),
                  target="_blank"
                )
                  i.fa.fa-external-link
                  = " "
                  = t("Go to DNS settings")
            h1#setup-step-1.h5.card-header.text-left.text-md-center= t("Step 1")
            .card-body
              p.small.mb-0
                if provider && provider.name && provider.url
                  != t('Go to <a href="%s" target="_blank" rel="noopener noreferrer" class="font-weight-bold notranslate">%s</a>', provider.url, provider.name)
                  != t(" &rarr; log in &rarr; DNS settings")
                  br.d-block.d-md-none
                  != t(" &rarr; scroll down to <strong>Step 2</strong>")
                else
                  != t("Go to your domain provider")
                  != t(" &rarr; log in &rarr; DNS settings")
                  br.d-block.d-md-none
                  != t(" &rarr; scroll down to <strong>Step 2</strong>")
              if provider && provider.gif
                video.d-inline-block.img-thumbnail.mt-3(
                  controls,
                  autoplay,
                  loop,
                  muted,
                  width="480",
                  height="270"
                )
                  source(
                    src=manifest(`img/guides/${provider.gif}.webm`),
                    type="video/webm"
                  )
                  source(
                    src=manifest(`img/guides/${provider.gif}.mp4`),
                    type="video/mp4"
                  )
                  = t("Your browser does not support the video tag.")
              if provider && provider.name && provider.url
                .text-center.mt-3
                  a.btn.btn-primary(
                    href=provider.url,
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    i.fa.fa-external-link
                    = " "
                    != t('Go to <span class="notranslate">%s</span>', provider.name)
              else if modalFAQTable
                .text-center.mt-3
                  button.btn.btn-primary(
                    type="button",
                    data-toggle="modal",
                    data-target="#modal-faq-table"
                  )
                    i.fa.fa-list
                    = " "
                    = t("Browse our list of providers")
              else
                .text-center.mt-3
                  a.btn.btn-primary(
                    href=l("/faq#table-dns-management-by-registrar"),
                    target="_blank"
                  )
                    i.fa.fa-list
                    = " "
                    = t("Browse our list of providers")
        .col-12.mt-3
          .card.position-relative
            if domain.has_dkim_record && domain.has_return_path_record && domain.has_dmarc_record
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-success.mt-3.mr-3
                  i.fa.fa-check
                  = " "
                  = t("Completed")
            else
              .position-absolute.w-100.text-right
                span.badge.badge-pill.badge-danger.mt-3.mr-3
                  i.fa.fa-times
                  = " "
                  = t("Not Completed")
            h1#setup-step-2.h5.card-header.text-left.text-md-center= t("Step 2")
            .card-body
              if isDMARCInvalid
                .alert.alert-danger.text-left.text-md-center.small!= t('Your existing <span class="notranslate">DMARC</span> record must have <span class="badge badge-dark text-monospace notranslate">v=DMARC1</span> and <span class="badge badge-dark text-monospace notranslate">pct=100</span> values &ndash; or you can delete it and add the one below.')
              .small.text-center.mb-3
                != t('Add these records to <strong class="notranslate">%s</strong>', domain.root_name || domain.name)
                span.d-inline.d-md-none= ":"
                span.d-none.d-md-inline= t(" and click ")
                form.ajax-form.d-none.d-md-inline(
                  action=ctx.path,
                  method="POST"
                )
                  button.btn.btn-success.btn-sm.d-inline(type="submit")
                    i.fa.fa-refresh
                    = " "
                    = t("Verify")
                if provider && provider.slug && provider.slug === 'cloudflare'
                  .alert.alert-warning.my-3
                    strong= t("Important Note:")
                    = " "
                    != t('Set the <span class="notranslate">"Proxy status"</span> in Cloudflare to <span class="notranslate">"DNS only"</span> and <strong class="text-decoration-underline">not</strong> <span class="notranslate">"Proxied"</span>.')
                .d-block.d-md-none.my-3.text-muted.small
                  = "("
                  = t("Scroll to the right to see entire table")
                  = ")"
              .table-responsive.mb-3
                table.table.table-hover.table-sm.mb-0
                  thead
                    tr
                      th.border-0
                      th.border-0.align-middle= t("Purpose")
                      th.border-0.align-middle.text-left Name/Host/Alias
                      th.border-0.align-middle Type
                      th.border-0.align-middle.text-left Answer/Value
                      if provider && provider.slug && provider.slug === 'cloudflare'
                        th.border-0.align-middle.text-nowrap Proxy status
                  tbody
                    tr
                      td(class=domain.has_dkim_record ? "bg-success" : "bg-danger")
                      th.align-middle.text-nowrap
                        a.btn.btn-secondary.mx-2(
                          href="https://wikipedia.org/wiki/DomainKeys_Identified_Mail",
                          target="_blank",
                          rel="noopener noreferrer",
                          data-toggle="tooltip",
                          data-placement="bottom",
                          title=t("Learn more on Wikipedia")
                        )
                          | DKIM
                          = " "
                          i.fa.fa-external-link
                      td.align-middle.small.text-left
                        code#copy-host-dkim.d-block.text-nowrap
                          //- TODO: fix `parseRootDomain` for emoji domains with subdomain
                          = `${domain.dkim_key_selector}._domainkey`
                          if domain.root_name !== domain.name
                            = "."
                            = domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                        if !domain.has_dkim_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-host-dkim"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      td.align-middle: strong.px-2 TXT
                      td.align-middle.text-left.py-3
                        //- DKIM (required)
                        - let str = `v=DKIM1; k=rsa; p=${domain.dkim_public_key.toString("base64")};`;
                        - let splitDKIM = false;
                        //-
                        //- if the provider is AWS Route 53, Google, or Hover then we need to split to max 255 each
                        //- <https://www.mailhardener.com/tools/dns-record-splitter>
                        //- <https://www.mailhardener.com/blog/how-to-enter-txt-values-in-google-cloud-dns>
                        //- <https://serverfault.com/a/763871>
                        //- <https://serverfault.com/a/255676>
                        //-
                        - const modulusLength = domain.dkim_modulus_length || 2048; //- legacy support (2048 was the original setting we had before changing to 1024)
                        //- Button to allow users to switch between 1024 and 2048 bit keys
                        form.ajax-form.confirm-prompt.text-center.mb-3(
                          action=l(`/my-account/domains/${punycode.toASCII(domain.name)}/change-modulus-length`),
                          method="POST",
                          data-confirm-prompt-title=striptags(t('Switch to <span class="notranslate">%d</span>-bit DKIM key?', modulusLength === 2048 ? 1024 : 2048)),
                          data-confirm-prompt-html=t("Please confirm if you wish to change the DKIM key modulus length from <strong>%d</strong> to <strong>%d</strong>.", modulusLength, modulusLength === 2048 ? 1024 : 2048)
                        )
                          //- safeguard in case the user has multiple tabs open
                          input(
                            type="hidden",
                            name="dkim_modulus_length",
                            value=modulusLength === 2048 ? 1024 : 2048
                          )
                          button.btn.btn-sm.btn-link.font-weight-bold.text-decoration-underline(
                            type="submit",
                            class=modulusLength === 2048 ? "text-danger" : "text-primary"
                          )
                            if modulusLength === 2048
                              = t("Does your provider limit TXT records to 255 characters?")
                            else
                              = t("Does your provider support 255+ character TXT records?")
                        if modulusLength === 2048 && provider && provider.slug && provider.slug !== 'cloudflare'
                          - splitDKIM = true;
                          .alert.alert-warning.user-select-none.small
                            = t("Please use the exact values below to support a 2048-bit DKIM key.")
                            = " "
                            != t('Each value below needs to be entered as its own TXT record with the same <span class="notranslate">Name/Host/Alias</span>.')
                            = " "
                            if provider.slug === 'amazon-route-53'
                              = " "
                              != t('Refer to <a class="alert-link notranslate" target="_blank" href="https://repost.aws/knowledge-center/route53-resolve-dkim-text-record-error" rel="noopener noreferrer">re:Post</a> and <a target="_blank" rel="noopener noreferrer" class="notranslate alert-link" href="https://serverfault.com/a/875184">StackExchange</a> answers on this topic.')
                            else if provider.slug === 'hover'
                              = " "
                              != t('If you have issues, we recommend that you contact Hover support or switch to a different provider such as <a href="https://cloudflare.com" class="alert-link" target="_blank" rel="noopener noreferrer">Cloudflare</a>.')
                            else if provider.slug === 'google-domains'
                              = " "
                              != t('Refer to Google\'s official topic on <a class="alert-link notranslate" target="_blank" href="https://support.google.com/a/answer/11613097?hl=en" rel="noopener noreferrer">DKIM keys and TXT record limits</a>.')
                            else
                              = t("We did not detect that your provider supports TXT records longer than 255 characters, however if it does, then you can combine these two strings together.")
                        //- legacy support for route53 users that signed up and their dkim record has 2048 default
                        if splitDKIM || (provider && provider.slug === 'amazon-route-53' && str.length >= 250)
                          - const index = Math.floor(str.length / 2);
                          code#copy-dkim-part-1.d-block.text-break.small= str.slice(0, index)
                          if !domain.has_dkim_record
                            button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                              type="button",
                              data-toggle="clipboard",
                              data-clipboard-target="#copy-dkim-part-1"
                            )
                              i.fa.fa-clipboard
                              = " "
                              = t("Copy")
                          .hr-text.d-flex.text-secondary.align-items-center.user-select-none= t("and")
                          code#copy-dkim-part-2.d-block.text-break.small= str.slice(index)
                          if !domain.has_dkim_record
                            button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                              type="button",
                              data-toggle="clipboard",
                              data-clipboard-target="#copy-dkim-part-2"
                            )
                              i.fa.fa-clipboard
                              = " "
                              = t("Copy")
                        else
                          code#copy-dkim.d-block.text-break.small= str
                          if !domain.has_dkim_record
                            button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                              type="button",
                              data-toggle="clipboard",
                              data-clipboard-target="#copy-dkim"
                            )
                              i.fa.fa-clipboard
                              = " "
                              = t("Copy")
                      if provider && provider.slug && provider.slug === 'cloudflare'
                        td.align-middle.small.text-center.user-select-none.text-nowrap DNS only

                    //- Return-Path (required)
                    tr
                      td(
                        class=domain.has_return_path_record ? "bg-success" : "bg-danger"
                      )
                      th.align-middle.text-nowrap
                        a.btn.btn-secondary.mx-2(
                          href="https://wikipedia.org/wiki/Bounce_address",
                          target="_blank",
                          rel="noopener noreferrer",
                          data-toggle="tooltip",
                          data-placement="bottom",
                          title=t("Learn more on Wikipedia")
                        )
                          | Return-Path
                          = " "
                          i.fa.fa-external-link
                      td.align-middle.text-left
                        code#copy-host-return-path.d-block
                          = domain.return_path
                          if domain.root_name !== domain.name
                            = "."
                            = domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                        if !domain.has_return_path_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-host-return-path"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      td.align-middle: strong.px-2 CNAME
                      td.align-middle.text-left.py-3
                        code#copy-return-path.d-block.text-nowrap
                          if config.webHost === 'localhost' && config.env === 'development'
                            = "forwardemail.net"
                          else
                            = config.webHost
                          if provider && provider.trailingPeriod
                            = "."
                        if !domain.has_return_path_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-return-path"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      if provider && provider.slug && provider.slug === 'cloudflare'
                        td.align-middle.small.text-center.user-select-none.text-nowrap DNS only

                    //- DMARC (required)
                    tr
                      td(
                        class=domain.has_dmarc_record ? (domain.has_strict_dmarc ? "bg-success" : "bg-warning") : "bg-danger"
                      )
                      th.align-middle.text-nowrap
                        a.btn.btn-secondary.mx-2(
                          href="https://wikipedia.org/wiki/DMARC",
                          target="_blank",
                          rel="noopener noreferrer",
                          data-toggle="tooltip",
                          data-placement="bottom",
                          title=t("Learn more on Wikipedia")
                        )
                          | DMARC
                          = " "
                          i.fa.fa-external-link
                      td.align-middle.text-left
                        code#copy-host-dmarc.d-block
                          = "_dmarc"
                          if domain.root_name !== domain.name
                            = "."
                            = domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                        if !domain.has_dmarc_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-host-dmarc"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      td.align-middle: strong.px-2 TXT
                      td.align-middle.text-left.py-3
                        code#copy-dmarc.d-block.text-break.small
                          = `v=DMARC1; p=reject; pct=100; rua=mailto:dmarc-${domain.id}@${config.webHost};`
                        if domain.has_dmarc_record && !domain.has_strict_dmarc
                          .alert.alert-warning.small.mt-2.mb-0(
                            data-toggle="tooltip",
                            data-html="true",
                            data-placement="top",
                            data-title=t("Without p=reject policy, attackers can still send emails impersonating your domain. This can damage your domain reputation and enable phishing attacks against your contacts.")
                          )
                            i.fa.fa-exclamation-triangle.mr-1
                            = t("Your DMARC record does not have p=reject. We recommend using p=reject for better security.")
                        if !domain.has_dmarc_record || !domain.has_strict_dmarc
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-dmarc"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      if provider && provider.slug && provider.slug === 'cloudflare'
                        td.align-middle.small.text-center.user-select-none.text-nowrap DNS only

                    //- SPF (optional/recommended)
                    tr
                      td(class=domain.has_spf_record ? "bg-success" : "bg-warning")
                      th.align-middle.text-nowrap
                        a.btn.btn-secondary.mx-2(
                          href="https://wikipedia.org/wiki/Sender_Policy_Framework",
                          target="_blank",
                          rel="noopener noreferrer",
                          data-toggle="tooltip",
                          data-placement="bottom",
                          title=t("Learn more on Wikipedia")
                        )
                          | SPF
                          = " "
                          i.fa.fa-external-link
                      td.align-middle.text-left
                        code#copy-host-spf.d-block
                          = "@"
                          if domain.root_name !== domain.name
                            = " or "
                            = domain.name.slice(0, domain.name.lastIndexOf(domain.root_name) - 1)
                        if !domain.has_spf_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-host-spf"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      td.align-middle: strong.px-2 TXT
                      td.align-middle.text-left.py-3
                        code#copy-spf.d-block.text-break.small
                          = "v=spf1 include:spf.forwardemail.net -all"
                        .small.text-muted.mt-1!= t('If you have an existing SPF record, add <code class="notranslate">include:spf.forwardemail.net</code> to it.')
                        if !domain.has_spf_record
                          button.btn.btn-dark.btn-sm.text-nowrap.mt-1(
                            type="button",
                            data-toggle="clipboard",
                            data-clipboard-target="#copy-spf"
                          )
                            i.fa.fa-clipboard
                            = " "
                            = t("Copy")
                      if provider && provider.slug && provider.slug === 'cloudflare'
                        td.align-middle.small.text-center.user-select-none.text-nowrap DNS only

              .alert.alert-warning.text-left.text-md-center.small!= t('<strong>Need a <span class="notranslate">TTL</span> value?</strong> Make it as close to <span class="notranslate text-monospace">3600</span> (60 minutes) as possible.')
              form.ajax-form(action=ctx.path, method="POST")
                button.btn.btn-success.btn-lg.btn-block(type="submit")
                  i.fa.fa-refresh
                  = " "
                  = t("Verify")
      .row.text-center.my-5
        .col
          a.btn.btn-outline-secondary(
            href=l(`/my-account/domains/${punycode.toASCII(domain.name)}/advanced-settings`)
          )
            = " "
            = t("Go to Advanced Settings")
