
extends ../layout

block body
  .bg-light.py-5.d-block.border-bottom
    .container-fluid
      .row
        .col
          h1.text-center= t(`${emoji('alarm_clock')} Save Yourself Time`)
          p.text-center.mb-0.text-muted= t('Want to make the entire FAQ below tailored for you and easier to read?')
          form(action=ctx.path, method='POST').ajax-form.pt-4.mb-3
            input(type='hidden', name='_csrf', value=csrf)
            .form-row
              .col-12.col-md-6.offset-md-3
                .form-group.floating-label
                  input#input-domain.form-control.form-control-lg(type='text', name='domain', value=domain, required, placeholder='example.com')
                  label(for='input-domain')= t('Enter your domain')
                .form-group.floating-label
                  input#input-email.form-control.form-control-lg(type='email', autocomplete="email", name="email", value=email, placeholder='name@gmail.com', required)
                  label(for='input-email')= t('Enter your email')
                if user
                  .form-check.form-group
                    input#input-create-domain(type='checkbox', name='create_domain', checked, value='true').form-check-input
                    label.form-check-label(for='input-create-domain')= t('Add this domain to your account (if it does not exist)')
                else
                  .form-check.form-group.d-flex
                    input#input-create-account(type='checkbox', name='create_account', checked, value='true', aria-describedby='help-create-account').form-check-input
                    label.form-check-label(for='input-create-account').mr-2= t('Create your free account now')
                    small#help-create-account.text-black-50.align-self-center.flex-grow-1.text-right
                      != t(`Read our <a href="${l('/privacy')}" target="_blank" rel="noopener">Privacy Policy</a> and <a href="${l('/terms')}" target="_blank" rel="noopener">Terms</a>`)
                button.btn.btn-success.btn-lg.btn-block(type="submit")
                  = t('Continue')
                  = ' '
                  i.fa.fa-angle-double-right
          p.text-center.mb-0: small: a(href='#frequently-asked-questions').text-black-50= t('Not interested?  Click here to keep reading')
  .container.py-5
    .row
      .col
        case locale
          when 'ar'
            include:md index-ar.md
          when 'cs'
            include:md index-cs.md
          when 'da'
            include:md index-da.md
          when 'de'
            include:md index-de.md
          when 'es'
            include:md index-es.md
          when 'fi'
            include:md index-fi.md
          when 'fr'
            include:md index-fr.md
          when 'he'
            include:md index-he.md
          when 'hu'
            include:md index-hu.md
          when 'id'
            include:md index-id.md
          when 'it'
            include:md index-it.md
          when 'ja'
            include:md index-ja.md
          when 'ko'
            include:md index-ko.md
          when 'nl'
            include:md index-nl.md
          when 'no'
            include:md index-no.md
          when 'pl'
            include:md index-pl.md
          when 'pt'
            include:md index-pt.md
          when 'ru'
            include:md index-ru.md
          when 'sv'
            include:md index-sv.md
          when 'th'
            include:md index-th.md
          when 'tr'
            include:md index-tr.md
          when 'uk'
            include:md index-uk.md
          when 'vi'
            include:md index-vi.md
          when 'zh'
            include:md index-zh.md
          default
            include:md index.md
