include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered.table-sm
    thead.thead-dark
      tr
        th(scope="col")
          +sortHeader(config.passport.fields.givenName, 'First Name', '#table-users')
        th(scope="col")
          +sortHeader(config.passport.fields.familyName, 'Last Name', '#table-users')
        th(scope="col")
          +sortHeader('email', null, '#table-users')
        th(scope="col")
          +sortHeader('domain_count', 'Domains', '#table-users')
        th(scope="col")
          +sortHeader('alias_count', 'Aliases', '#table-users')
        th(scope="col")
          +sortHeader('plan', null, '#table-users')
        th(scope="col")
          +sortHeader('group', null, '#table-users')
        th(scope="col")
          +sortHeader('has_passed_kyc', 'Passed KYC', '#table-users')
        th(scope="col")
          +sortHeader('max_quota_per_alias', 'Max Quota', '#table-users')
        th(scope="col")
          +sortHeader('smtp_limit', 'SMTP Limit', '#table-users')
        th(scope="col")
          +sortHeader('created_at', 'Created', '#table-users')
        th(scope="col")
          +sortHeader('updated_at', 'Updated', '#table-users')
        //- th(scope="col")
        //-   +sortHeader('last_login_at', 'Last Login', '#table-users')
        if passport && passport.otp
          th(scope="col")
            +sortHeader(config.passport.fields.otpEnabled, 'OTP Enabled', '#table-users')
        th.text-center.align-middle(scope="col")= t("Actions")
    tbody
      if users.length === 0
        td.alert.alert-info(colspan=passport && passport.otp ? "14" : "13")= t("No users exist for that search.")
      else
        each user in users
          tr
            td.align-middle= user[config.passport.fields.givenName]
            td.align-middle= user[config.passport.fields.familyName]
            td.align-middle
              a(
                href=`mailto:${user.email}`,
                target="_blank",
                rel="noopener noreferrer"
              )= user.email
              = " "
              = "("
              code.text-muted= user.id
              = ")"
            td.align-middle: a(
              href=l(`/admin/domains?name=${encodeURIComponent(user.email)}`)
            )= user.domain_count
            td.align-middle= user.alias_count
            td.align-middle= titleize(humanize(user.plan))
            td.align-middle= titleize(humanize(user.group))
            td.align-middle.text-center
              form.ajax-form.confirm-prompt.d-inline-block(
                action=l(`/admin/users/${user.id}`),
                method="POST"
              )
                input(type="hidden", name="_method", value="PUT")
                input(
                  type="hidden",
                  name="has_passed_kyc",
                  value=(!user.has_passed_kyc).toString()
                )
                button.btn.btn-sm(
                  type="submit",
                  class=user.has_passed_kyc ? "btn-danger" : "btn-success"
                )
                  if user.has_passed_kyc
                    = "Missing KYC"
                  else
                    = "Passed KYC"
            td.align-middle.text-center
              form.ajax-form.confirm-prompt.d-inline-block(
                action=l(`/admin/users/${user.id}`),
                method="PUT"
              )
                input(type="hidden", name="_method", value="PUT")
                .input-group
                  input.form-control(
                    type="string",
                    name="max_quota_per_alias",
                    value=Number.isFinite(user.max_quota_per_alias) ? bytes(user.max_quota_per_alias) : ""
                  )
                  .input-group-append
                    button.btn.btn-sm.btn-dark(
                      type="submit",
                      data-toggle="tooltip",
                      data-title=t("Update")
                    ): i.fa.fa-fw.fa-save
            td.align-middle.text-center
              form.ajax-form.confirm-prompt.d-inline-block(
                action=l(`/admin/users/${user.id}`),
                method="PUT"
              )
                input(type="hidden", name="_method", value="PUT")
                .input-group
                  input.form-control(
                    type="number",
                    min=300,
                    step=100,
                    name="smtp_limit",
                    value=user.smtp_limit
                  )
                  .input-group-append
                    button.btn.btn-sm.btn-dark(
                      type="submit",
                      data-toggle="tooltip",
                      data-title=t("Update")
                    ): i.fa.fa-fw.fa-save
            td.align-middle.dayjs(
              data-time=new Date(user.created_at).getTime()
            )= dayjs(user.created_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY h:mm A z")
            td.align-middle.dayjs(
              data-time=new Date(user.updated_at).getTime()
            )= dayjs(user.updated_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY h:mm A z")
            //- td.align-middle.dayjs(
            //-   data-time=new Date(user.last_login_at).getTime()
            //- )= dayjs(user.last_login_at).tz(user.timezone === 'Etc/Unknown' ? 'UTC' : user.timezone).format("M/D/YY h:mm A z")
            if passport && passport.otp
              td.align-middle= user[config.passport.fields.otpEnabled]
            td.align-middle
              .btn-group(role="group", aria-label=t("Actions"))
                a.btn.btn-secondary(
                  href=l(`/admin/users/${user.id}`),
                  data-toggle="tooltip",
                  data-title=t("Edit")
                ): i.fa.fa-fw.fa-edit
                form.ajax-form.confirm-prompt.btn-group(
                  action=l(`/admin/users/${user.id}/login`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  button.btn.btn-secondary(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Log in as user")
                  ): i.fa.fa-fw.fa-user-secret
                form.ajax-form.confirm-prompt.btn-group(
                  action=l(`/admin/users/${user.id}`),
                  method="POST",
                  autocomplete=config.env === "test" ? "off" : randomstring()
                )
                  input(type="hidden", name="_method", value="DELETE")
                  button.btn.btn-danger(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Remove")
                  ): i.fa.fa-fw.fa-remove
+paginate('#table-users')
