
include ../_sort_header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope='col')
          +sort_header(config.passport.fields.givenName, 'First Name', '#table-users')
        th(scope='col')
          +sort_header(config.passport.fields.familyName, 'Last Name', '#table-users')
        th(scope='col')
          +sort_header('email', null, '#table-users')
        th(scope='col')
          +sort_header('group', null, '#table-users')
        th(scope='col')
          +sort_header('created_at', 'Created', '#table-users')
        th(scope='col')
          +sort_header('updated_at', 'Updated', '#table-users')
        th(scope='col')
          +sort_header('last_login_at', 'Last Login', '#table-users')
        if boolean(process.env.AUTH_OTP_ENABLED)
          th(scope='col')
            +sort_header(config.passport.fields.otpEnabled, 'OTP Enabled', '#table-users')
        th.text-center.align-middle(scope='col')= t('Actions')
    tbody
      each user in users
        tr
          td.align-middle= user[config.passport.fields.givenName]
          td.align-middle= user[config.passport.fields.familyName]
          td.align-middle: a(href=`mailto:${user.email}`, target='_blank')= user.email
          td.align-middle= titleize(user.group)
          td.align-middle= dayjs(user.created_at).format('M/D/YY h:mm A')
          td.align-middle= dayjs(user.updated_at).format('M/D/YY h:mm A')
          td.align-middle= dayjs(user.last_login_at).format('M/D/YY h:mm A')
          if boolean(process.env.AUTH_OTP_ENABLED)
            td.align-middle= user[config.passport.fields.otpEnabled]
          td.align-middle
            .btn-group(role='group', aria-label=t('Actions'))
              a(href=l(`/admin/users/${user.id}`), data-toggle='tooltip', data-title=t('Edit')).btn.btn-secondary: i.fa.fa-fw.fa-edit
              form.ajax-form.confirm-prompt.btn-group(action=l(`/admin/users/${user.id}/login`), method="POST", autocomplete="off")
                input(type="hidden", name="_csrf", value=ctx.csrf)
                button(type='submit', data-toggle='tooltip', data-title=t('Log in as user')).btn.btn-secondary: i.fa.fa-fw.fa-user-secret
              form.ajax-form.confirm-prompt.btn-group(action=l(`/admin/users/${user.id}`), method="POST", autocomplete="off")
                input(type="hidden", name="_csrf", value=ctx.csrf)
                input(type="hidden", name="_method", value="DELETE")
                button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
+paginate('#table-users')
