include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope="col")
          +sortHeader(config.passport.fields.givenName, 'First Name', '#table-users')
        th(scope="col")
          +sortHeader(config.passport.fields.familyName, 'Last Name', '#table-users')
        th(scope="col")
          +sortHeader('email', null, '#table-users')
        th(scope="col")
          +sortHeader('group', null, '#table-users')
        th(scope="col")
          +sortHeader('created_at', 'Created', '#table-users')
        th(scope="col")
          +sortHeader('updated_at', 'Updated', '#table-users')
        th(scope="col")
          +sortHeader('last_login_at', 'Last Login', '#table-users')
        if boolean(process.env.AUTH_OTP_ENABLED)
          th(scope="col")
            +sortHeader(config.passport.fields.otpEnabled, 'OTP Enabled', '#table-users')
        th(scope="col").text-center.align-middle= t("Actions")
    tbody
      if users.length === 0
        td(
          colspan=boolean(process.env.AUTH_OTP_ENABLED) ? "8" : "7"
        ).alert.alert-info= t("No users exist for that search.")
      else
        each user in users
          tr
            td.align-middle= user[config.passport.fields.givenName]
            td.align-middle= user[config.passport.fields.familyName]
            td: a(href=`mailto:${user.email}`, target="_blank").align-middle= user.email
            td.align-middle= titleize(user.group)
            td.align-middle= dayjs(user.created_at).format("M/D/YY h:mm A")
            td.align-middle= dayjs(user.updated_at).format("M/D/YY h:mm A")
            td.align-middle= dayjs(user.last_login_at).format("M/D/YY h:mm A")
            if boolean(process.env.AUTH_OTP_ENABLED)
              td.align-middle= user[config.passport.fields.otpEnabled]
            td.align-middle
              div(role="group", aria-label=t("Actions")).btn-group
                a(
                  href=l(`/admin/users/${user.id}`),
                  data-toggle="tooltip",
                  data-title=t("Edit")
                ).btn.btn-secondary: i.fa.fa-fw.fa-edit
                form(
                  action=l(`/admin/users/${user.id}/login`),
                  method="POST",
                  autocomplete="off"
                ).ajax-form.confirm-prompt.btn-group
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Log in as user")
                  ).btn.btn-secondary: i.fa.fa-fw.fa-user-secret
                form(
                  action=l(`/admin/users/${user.id}`),
                  method="POST",
                  autocomplete="off"
                ).ajax-form.confirm-prompt.btn-group
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  input(type="hidden", name="_method", value="DELETE")
                  button(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Remove")
                  ).btn.btn-secondary: i.fa.fa-fw.fa-remove
+paginate('#table-users')
