include ../../_sort-header
include ../../_pagination

.table-responsive
  table.table.table-hover.table-bordered
    thead.thead-dark
      tr
        th(scope="col")
          +sortHeader(config.passport.fields.givenName, 'First Name', '#table-users')
        th(scope="col")
          +sortHeader(config.passport.fields.familyName, 'Last Name', '#table-users')
        th(scope="col")
          +sortHeader('email', null, '#table-users')
        th(scope="col")
          +sortHeader('group', null, '#table-users')
        th(scope="col")
          +sortHeader('created_at', 'Created', '#table-users')
        th(scope="col")
          +sortHeader('updated_at', 'Updated', '#table-users')
        th(scope="col")
          +sortHeader('last_login_at', 'Last Login', '#table-users')
        if ctx.passport && ctx.passport.config.providers.otp
          th(scope="col")
            +sortHeader(config.passport.fields.otpEnabled, 'OTP Enabled', '#table-users')
        th.text-center.align-middle(scope="col")= t("Actions")
    tbody
      if users.length === 0
        td.alert.alert-info(
          colspan=ctx.passport && ctx.passport.config.providers.otp ? '8' : '7'
        )= t("No users exist for that search.")
      else
        each user in users
          tr
            td.align-middle= user[config.passport.fields.givenName]
            td.align-middle= user[config.passport.fields.familyName]
            td.align-middle: a(href=`mailto:${user.email}`, target="_blank")= user.email
            td.align-middle= titleize(user.group)
            td.align-middle= dayjs(user.created_at).format("M/D/YY h:mm A")
            td.align-middle= dayjs(user.updated_at).format("M/D/YY h:mm A")
            td.align-middle= dayjs(user.last_login_at).format("M/D/YY h:mm A")
            if ctx.passport && ctx.passport.config.providers.otp
              td.align-middle= user[config.passport.fields.otpEnabled]
            td.align-middle
              .btn-group(role="group", aria-label=t("Actions"))
                a.btn.btn-secondary(
                  href=l(`/admin/users/${user.id}`),
                  data-toggle="tooltip",
                  data-title=t("Edit")
                ): i.fa.fa-fw.fa-edit
                form.ajax-form.confirm-prompt.btn-group(
                  action=l(`/admin/users/${user.id}/login`),
                  method="POST",
                  autocomplete="off"
                )
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button.btn.btn-secondary(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Log in as user")
                  ): i.fa.fa-fw.fa-user-secret
                form.ajax-form.confirm-prompt.btn-group(
                  action=l(`/admin/users/${user.id}`),
                  method="POST",
                  autocomplete="off"
                )
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  input(type="hidden", name="_method", value="DELETE")
                  button.btn.btn-danger(
                    type="submit",
                    data-toggle="tooltip",
                    data-title=t("Remove")
                  ): i.fa.fa-fw.fa-remove
+paginate('#table-users')
