extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form.ajax-form.table-ajax-form(
          action=ctx.path,
          method="GET",
          data-table="#table-users",
          data-search-params="q"
        )
          input(type="hidden", name="_csrf", value=_csrf)
          .input-group.mb-3
            input#input-keyword-search.form-control(
              type="text",
              value=ctx.query.q ? ctx.query.q : "",
              name="q",
              placeholder="Search by first name, last name, or email"
            )
            .input-group-append
              button.btn.btn-success(type="submit")= t("Search")
        #table-users
          include ./_table
