extends ../../layout

block body
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
          input(type="hidden", name="_method", value="PUT")
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card.border-dark
            h4.card-header.bg-dark.text-white= result.id
            .card-body
              .form-group.floating-label
                input#input-first-name.form-control(
                  type="text",
                  name=config.passport.fields.givenName,
                  value=result[config.passport.fields.givenName],
                  placeholder=t("First name")
                )
                label(for="input-first-name")= t("First name")
              .form-group.floating-label
                input#input-last-name.form-control(
                  type="text",
                  name=config.passport.fields.familyName,
                  value=result[config.passport.fields.familyName],
                  placeholder=t("Last name")
                )
                label(for="input-last-name")= t("Last name")
              .form-group.floating-label
                input#input-email.form-control(
                  type="email",
                  required,
                  name="email",
                  value=result.email,
                  placeholder="name@example.com"
                )
                label(for="input-email")= t("Email address")
              .form-group.floating-label
                select#input-group.form-control(name="group", required)
                  option(value="user", selected=result.group === "user") User
                  option(value="admin", selected=result.group === "admin") Admin
                label(for="input-group")= t("Group")
              if ctx.passport && ctx.passport.config.providers.otp && result[config.passport.fields.otpEnabled]
                .form-check
                  input#otp-enabled(
                    type="checkbox",
                    name=config.passport.fields.otpEnabled,
                    value="true",
                    checked
                  )
                  label(for="input-otp-enabled")= t("OTP Enabled")
            .card-footer.text-right
              button.btn.btn-secondary(type="reset")= t("Reset")
              button.btn.btn-primary(type="submit")= t("Save")
