extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h1.h5.card-header
            = emoji("lock")
            = " "
            = t("Two-factor auth")
          .card-body.p-0
            a(href=`${config.urls.web}/${locale}/my-account/security`)
              img.img-fluid.d-block.align-top(
                src=`${config.urls.web}/img/emails/self-test.gif`,
                alt="",
                data-inline-ignore
              )
            .p-3
              p.card-text
                strong= t("Don't worry! Your account is secure.")
              p.card-text
                = t("This is a friendly reminder for your protection.")
              a.btn.btn-lg.btn-block.btn-success(
                href=`${config.urls.web}/${locale}/my-account/security`
              )= t("Enable two-factor auth")
          .card-footer.small.text-muted= t("We send this reminder every three months to increase security.")
