extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block
          h1.h5.card-header.text-center
            if payment.method === 'free_beta_program'
              = emoji("tada")
              = " "
              = t("You earned free credit!")
            else
              if payment.amount_refunded > 0
                = t("You have been refunded")
              else
                = t("Thank you!")
          .card-body.p-0
            a(href=config.urls.web)
              img.img-fluid.d-block.align-top(
                src=`${config.urls.web}/img/emails/${_.sample(['domain-onboard', 'domain-verified', 'self-test', 'welcome'])}.gif`,
                alt="",
                data-inline-ignore
              )
            h1.h3.text-center.mt-3.mb-0= t("Receipt")
            .small!= prefixHTMLPathBasedAnchors(receiptHTML, config.urls.web)
            ul.list-inline.text-center
              if !isSANB(user[config.userFields.stripeSubscriptionID]) && !isSANB(user[config.userFields.paypalSubscriptionID])
                li.list-inline-item.mt-3
                  a.btn.btn-md.btn-danger(
                    href=`${config.urls.web}/${locale}/my-account/billing/make-payment`
                  )= t("Make Payment")
              if isSANB(user[config.userFields.stripeSubscriptionID])
                li.list-inline-item.mt-3
                  a.btn.btn-md.btn-primary(
                    href=`${config.urls.web}/${locale}/my-account/billing/update-card`
                  )= t("Update Payment Method")
              if !isSANB(user[config.userFields.stripeSubscriptionID]) && !isSANB(user[config.userFields.paypalSubscriptionID])
                li.list-inline-item.mt-3
                  a.btn.btn-md.btn-success(
                    href=`${config.urls.web}/${locale}/my-account/billing/enable-auto-renew`
                  )= t("Enable Auto-Renew")
              li.list-inline-item.mt-3
                a.btn.btn-md.btn-dark(
                  href=`${config.urls.web}/${locale}/my-account/billing`
                )= t("Manage Billing")
          .card-footer.small.text-muted.text-center= t("Your receipt is also attached as a PDF to this email.")
