extends ../layout

block body
  if !isBot(ctx.get('User-Agent'))
    .fixed-bottom.text-center
      .bg-dark.p-2.border-top.border-light
        ul.list-inline.mb-0
          li.list-inline-item
            a.btn.btn-lg.btn-light(href="#quick-video-guide")
              i.fab.fa-youtube.text-danger
              = ' '
              = t("Video")
          li.list-inline-item: i.fa.fa-angle-right.align-middle.text-white
          li.list-inline-item
            a.btn.btn-lg.btn-light(href="#step-by-step-instructions")
              span.badge.badge-pill.mr-1.badge-success
                i.fa.fa-list-ol
              = t("Steps")
  .container.py-3.py-md-4.py-lg-5
    .row
      .col-12
        h1.mb-0.text-center
          if isBot(ctx.get('User-Agent'))
            != t('Send Email with Custom Domain')
          else
            != t('Send Mail As with Gmail')
        if !isBot(ctx.get('User-Agent'))
          .alert.my-3.alert-primary.text-center
            = t('Not using Gmail?')
            = ' '
            a(href=l('/faq')).alert-link
              = t('Read our FAQ')
          .alert.my-3.alert-danger.text-center
            i.fa.fa-exclamation-circle.font-weight-bold
            = ' '
            = t('Domain not yet verified?')
            = ' '
            a(href=user ? l('/my-account/domains') : l('/my-account/domains/new'), target='_blank').alert-link
              = t('Click here')
        .card.mt-3#quick-video-guide
          h2.h5.card-header.text-center
            if isBot(ctx.get('User-Agent'))
              = t('How to use Gmail\'s "Send Mail As" with your Custom Domain')
            else
              = t("Quick Video Guide")
          .card-body.text-center
            if isBot(ctx.get('User-Agent'))
              a.btn.btn-outline-dark.btn-lg(
                href='https://www.youtube.com/watch?v=MEheS8gM4Xs'
                target='_blank',
                rel='noopener noreferrer'
              )
                i.fab.fa-youtube.text-danger
                = " "
                = t("Watch Video")
            else
              .lazyframe.border.border-light.d-inline-block(
                data-vendor="youtube_nocookie",
                title=t("How to Send Mail As using Gmail"),
                style="max-width: 100%; border-width: 0.5rem !important; width: 640px; height: 360px",
                data-src="https://www.youtube-nocookie.com/embed/MEheS8gM4Xs?autoplay=0"
              )
      .col-12.mt-3#step-by-step-instructions
        .card
          h2.h5.card-header.text-center
            if isBot(ctx.get('User-Agent'))
              = t("How to fix send mail as Gmail not working?")
            else
              = t("Step by Step Instructions")
          .card-body.markdown-body
            != sendMailAsContent
