extends ../layout

block content
  .container.mt-3
    .row
      .col-12
        .card.border-dark.d-block.text-center
          h1.h5.card-header= t("You received 1 year of free credit!")
          .card-body.text-center.p-0
            a(href=`${config.urls.web}/${locale}/my-account`)
              img.img-fluid.d-block.align-top(
                src=manifest("img/emails/domain-verified.gif"),
                alt=""
              )
            .p-3
              h1.h3= t("Quantum Resistant Encryption")
              p.mb-0!= t('If you\'re not aware, we now support <a href="%s">SMTP</a>, <a href="%s">IMAP</a>, and <a href="%s">POP3</a> &ndash; and we are also the world\'s first email service to use <a href="%s">quantum resistant and encrypted SQLite databases</a> for mailboxes.', `${config.urls.web}/${locale}/faq#do-you-support-sending-email-with-smtp`, `${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`, `${config.urls.web}/${locale}/faq#do-you-support-pop3`, `${config.urls.web}/${locale}/blog/docs/best-quantum-safe-encrypted-email-service`)
            .p-3
              h1.h3= t("Features")
              ul.list-unstyled.text-left.mb-0.d-inline-block.mx-auto
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Unlimited domains and aliases")
                  = " "
                  span.badge.badge-success
                    = t("100% Free")
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("10 GB encrypted email storage")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/blog/docs/best-quantum-safe-encrypted-email-service`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Privacy-focused email")
                  = " "
                  a.badge.badge-dark.align-middle(
                    href=`${config.urls.web}/${locale}/privacy`
                  )
                    = t("Privacy Policy")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Send outbound SMTP email")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/guides/send-email-with-custom-domain-smtp`
                  )
                    = t("SMTP Guide")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Works with Apple, Outlook, Gmail, Betterbird, Android")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-receiving-email-with-imap`
                  )
                    = t("Apps")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Support for E2EE/OpenPGP/WKD")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#do-you-support-openpgpmime-end-to-end-encryption-e2ee-and-web-key-directory-wkd`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Easily migrate from any provider")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/faq#how-do-i-import-and-migrate-my-existing-mailbox`
                  )
                    = t("Learn more")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Enterprise-grade 99.99% uptime SLA")
                  = " "
                  a.badge.badge-dark(href=`${config.urls.web}/${locale}/faq`)
                    = t("View FAQ")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Powered by bare metal servers")
                  = " "
                  a.badge.badge-dark(
                    href="https://status.forwardemail.net",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("Status Page")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("100% open-source software")
                  = " "
                  a.badge.badge-dark(
                    href="https://github.com/forwardemail",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    = t("View")
                    = " "
                    = t("GitHub")
                    = " "
                    != "&rarr;"
                li
                  = emoji("white_check_mark")
                  = " "
                  = t("Email API designed for developers")
                  = " "
                  a.badge.badge-dark(
                    href=`${config.urls.web}/${locale}/email-api`
                  )
                    = t("Email API")
                    = " "
                    != "&rarr;"
            if user.plan === 'free'
              include ../_upgrade
            .p-3
              h1.h3!= t("Your Account")
              p.card-text!= t("Manage your aliases, domains, settings, and security.")
              a.btn.btn-lg.btn-dark(
                href=`${config.urls.web}/${locale}/my-account`
              )
                = t("My Account")
            .p-3
              h1.h3!= t("Customer Support")
              p.card-text!= t("Read our FAQ, submit a help request, or reply to this email.")
              ul.list-inline.mb-0
                li.list-inline-item
                  a.btn.btn-lg.btn-primary(
                    href=`${config.urls.web}/${locale}/faq`
                  )
                    = t("Read FAQ")
                li.list-inline-item
                  a.btn.btn-lg.btn-dark(
                    href=`${config.urls.web}/${locale}/help`
                  )
                    = t("Help Request")
          .card-footer.small.text-muted= t("If you have any questions or comments, then please let us know")
