extends layout

block body
  .min-vh-80.d-flex.flex-column
    .container-fluid.text-center.py-3.py-md-4.py-lg-5.my-auto
      h1!= meta.title
      p.lead.text-muted!= meta.description
      form.mb-3.mb-md-4.mb-lg-5(action=ctx.path, method="GET")
        button.btn.btn-outline-success.btn-lg(type="submit")= t("Try again")
      .markdown-body: img.rounded-lg(
        src=manifest("img/articles/500.webp"),
        alt="Server error illustration"
      )
