if breadcrumbs.length > 1
  nav(aria-label='breadcrumb')
    ol.breadcrumb.justify-content-center.justify-content-md-start.mb-3
      each breadcrumb, i in breadcrumbs
        if i === breadcrumbs.length - 1
          li.breadcrumb-item.active(aria-current='page')
            = _.isObject(breadcrumb) ? breadcrumb.name : t(titleize(humanize(breadcrumb)))
        else
          li.breadcrumb-item
            a(href=_.isObject(breadcrumb) ? breadcrumb.href : `/${breadcrumbs.slice(0, i + 1).join('/')}/`).text-dark
              = _.isObject(breadcrumb) ? breadcrumb.name : t(titleize(humanize(breadcrumb)))
  .text-center.text-md-left.d-md-flex.mb-3
    h1.text-muted.mb-0(class=breadcrumbHeaderCentered ? 'flex-grow-1 text-center' : '')
      if breadcrumbs.length > 0
        = _.isObject(breadcrumbs[breadcrumbs.length - 1]) ? breadcrumbs[breadcrumbs.length - 1].header || breadcrumbs[breadcrumbs.length - 1].name : t(titleize(humanize(breadcrumbs[breadcrumbs.length - 1])))
      else
        = _.isObject(breadcrumbs[0]) ? breadcrumbs[0].header || breadcrumbs[0].name : t(titleize(humanize(breadcrumbs[0])))
    if !breadcrumbHeaderCentered
      .flex-grow-1.ml-md-5.d-md-flex.align-items-center.justify-content-md-end.justify-content-center.mt-3.mt-md-0
        if domain && (ctx.pathWithoutLocale === `/my-account/domains/${domain.id}` || ctx.pathWithoutLocale === `/my-account/domains/${domain.name}`)
          ul.list-inline.mb-0
            li.list-inline-item
              a(href=l(`/my-account/domains/${domain.name}/aliases`)).btn.btn-dark
                i.fa.fa-fw.fa-users
                = ' '
                = t('Aliases')
            li.list-inline-item
              a(href=l(`/my-account/domains/${domain.name}/advanced-settings`)).btn.btn-dark
                i.fa.fa-fw.fa-tools
                = ' '
                = t('Advanced Settings')
            //-.
              if domain.group === 'admin'
                li.list-inline-item
                  a(href=l(`/my-account/domains/${domain.name}/billing`)).btn.btn-dark
                    i.fa.fa-fw.fa-receipt
                    = ' '
                    = t('Billing')
        else if domain && (ctx.pathWithoutLocale === `/my-account/domains/${domain.id}/aliases` || ctx.pathWithoutLocale === `/my-account/domains/${domain.name}/aliases`)
          ul.list-inline.mb-0
            if !domain.is_global && ctx.state.domain.group === 'admin'
              li.list-inline-item
                form(action=l(`/my-account/domains/${domain.name}/aliases/import`), method='POST').ajax-form.confirm-prompt.d-inline-block
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button(type='submit').btn.btn-dark.text-uppercase.font-weight-bold
                    = t('Import TXT Records')
                    = ' '
                    i.fa.fa-cloud-download-alt
            li.list-inline-item
              a(href=l(`/my-account/domains/${domain.name}/aliases/new`), role='button', data-toggle='modal-anchor', data-target='#modal-alias').btn.btn-primary.text-uppercase.font-weight-bold
                = t('Add New Alias')
                = ' '
                i.fa.fa-angle-double-right
        else
          case ctx.pathWithoutLocale
            when '/my-account/domains'
              ul.list-inline.mb-0
                li.list-inline-item
                  a(href=l('/my-account/domains/new'), role='button', data-toggle='modal-anchor', data-target='#modal-domain').btn.btn-primary.text-uppercase.font-weight-bold
                    = t('Add New Domain')
                    = ' '
                    i.fa.fa-angle-double-right
                if domains.length > 0
                  li.list-inline-item
                    a(href=l('/my-account/domains/aliases/new'), role='button', data-toggle='modal-anchor', data-target='#modal-alias').btn.btn-primary.text-uppercase.font-weight-bold
                      = t('Add New Alias')
                      = ' '
                      i.fa.fa-angle-double-right
            default
              = ' '
