if breadcrumbs.length > 1
  nav(aria-label="breadcrumb").d-none.d-md-block
    ol.breadcrumb.bg-dark.justify-content-center.justify-content-md-start.mb-3
      each breadcrumb, i in breadcrumbs
        if i === breadcrumbs.length - 1
          li.breadcrumb-item.active(aria-current="page")
            = _.isObject(breadcrumb) ? breadcrumb.name : t(titleize(humanize(breadcrumb)))
        else
          li.breadcrumb-item
            a.text-white(
              href=_.isObject(breadcrumb) ? breadcrumb.href : `/${breadcrumbs.slice(0, i + 1).join("/")}/`
            )
              = _.isObject(breadcrumb) ? breadcrumb.name : t(titleize(humanize(breadcrumb)))
  .text-center.text-md-left.d-md-flex.mb-3
    h1.mb-0(class=breadcrumbHeaderCentered ? "flex-grow-1 text-center" : "")
      if breadcrumbs.length > 0
        = _.isObject(breadcrumbs[breadcrumbs.length - 1]) ? breadcrumbs[breadcrumbs.length - 1].header || breadcrumbs[breadcrumbs.length - 1].name : t(titleize(humanize(breadcrumbs[breadcrumbs.length - 1])))
      else
        = _.isObject(breadcrumbs[0]) ? breadcrumbs[0].header || breadcrumbs[0].name : t(titleize(humanize(breadcrumbs[0])))
    if !breadcrumbHeaderCentered
      .flex-grow-1.ml-md-5.d-md-flex.align-items-center.justify-content-md-end.justify-content-center.mt-3.mt-md-0
        if domain && (ctx.pathWithoutLocale === `/my-account/domains/${domain.id}` || ctx.pathWithoutLocale === `/my-account/domains/${domain.name}`)
          ul.list-inline.mb-0
            li.list-inline-item
              a.btn.btn-dark(
                href=domain.plan === "free" ? "#" : l(`/my-account/domains/${domain.name}/aliases`),
                role=domain.plan === "free" ? "button" : false,
                data-target=domain.plan === "free" ? "#modal-upgrade" : false,
                data-toggle=domain.plan === "free" ? "modal" : false
              )
                i.fa.fa-fw.fa-users
                = " "
                = t("Aliases")
            li.list-inline-item
              a.btn.btn-dark(
                href=l(`/my-account/domains/${domain.name}/advanced-settings`)
              )
                i.fa.fa-fw.fa-tools
                = " "
                span.d-none.d-md-inline-block= t("Advanced Settings")
                span.d-md-none= t("Settings")
            if domain.group === 'admin'
              li.list-inline-item
                .btn-group
                  button.btn.btn-dark.dropdown-toggle(
                    type="button",
                    data-toggle="dropdown",
                    aria-haspopup="true",
                    aria-expanded="false"
                  )
                    span.d-none.d-md-inline-block= t("Change Plan")
                    span.d-md-none= t("Plan")
                  .dropdown-menu.dropdown-menu-right
                    h6.dropdown-header.text-uppercase= t("Change Plan")
                    each plan in [ 'free', 'enhanced_protection', 'team' ]
                      a.dropdown-item(
                        href=l(`/my-account/domains/${domain.name}/billing?plan=${plan}`),
                        disabled=plan === domain.plan,
                        class=plan === domain.plan ? "disabled" : ""
                      )
                        case plan
                          when 'enhanced_protection'
                            i.fa.fa-fw.fa-shield
                            = " "
                            = t("Enhanced Protection")
                          when 'team'
                            i.fa.fa-fw.fa-users
                            = " "
                            = t("Team")
                          default
                            = t("Free")
                            = " ("
                            = t("DNS-based")
                            = ")"
                        if plan === domain.plan
                          = " ("
                          = t("Current")
                          = ")"
                    .dropdown-divider
                    a.dropdown-item(href=l(`/pricing?domain=${domain.name}`))
                      small.text-muted= t("See all plan features")
        else if domain && (ctx.pathWithoutLocale === `/my-account/domains/${domain.id}/aliases` || ctx.pathWithoutLocale === `/my-account/domains/${domain.name}/aliases`)
          ul.list-inline.mb-0
            if !domain.is_global && ctx.state.domain.group === 'admin'
              li.list-inline-item
                form.ajax-form.confirm-prompt.d-inline-block(
                  action=l(`/my-account/domains/${domain.name}/aliases/import`),
                  method="POST"
                )
                  input(type="hidden", name="_csrf", value=ctx.csrf)
                  button.btn.btn-dark.text-uppercase.font-weight-bold(
                    type="submit"
                  )
                    = t("Import TXT Records")
                    = " "
                    i.fa.fa-cloud-download-alt
            li.list-inline-item
              a.btn.btn-primary.text-uppercase.font-weight-bold(
                href=l(`/my-account/domains/${domain.name}/aliases/new`),
                role="button",
                data-toggle="modal-anchor",
                data-target="#modal-alias"
              )
                = t("Add Alias")
                = " "
                i.fa.fa-angle-double-right
        else
          case ctx.pathWithoutLocale
            when '/my-account/domains'
              ul.list-inline.mb-0
                li.list-inline-item
                  a.btn.btn-primary.text-uppercase.font-weight-bold(
                    href=l("/my-account/domains/new"),
                    role="button",
                    data-toggle="modal-anchor",
                    data-target="#modal-domain"
                  )
                    = t("Add Domain")
                    = " "
                    i.fa.fa-angle-double-right
                if domains.length > 0
                  li.list-inline-item
                    a.btn.btn-primary.text-uppercase.font-weight-bold(
                      href=l("/my-account/domains/aliases/new"),
                      role="button",
                      data-toggle="modal-anchor",
                      data-target="#modal-alias"
                    )
                      = t("Add Alias")
                      = " "
                      i.fa.fa-angle-double-right
            default
              = " "
