ul.list-unstyled.mb-3
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    != t('Send and receive email as <strong class="notranslate">you@yourdomain.com</strong>')
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    != t('<strong class="text-decoration-underline">Unlimited</strong> addresses and domains')
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("10 GB encrypted email storage")
    = " "
    a.btn.btn-link.badge.badge-success.text-uppercase.text-white(
      href=l("/blog/docs/best-quantum-safe-encrypted-email-service"),
      role="button",
      data-toggle="modal",
      data-target="#modal-storage",
      title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/docs/best-quantum-safe-encrypted-email-service"][0])) : false
    )
      = t("Encrypted Email")
      = " "
      i.fa.fa-angle-right
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Compliant with the new 2024 bulk sender requirements by Gmail/Yahoo")
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    != t("Mix and match custom domain email forwarding, webhooks, mailboxes, and more")
  //-.
    li
      i.fa.fa-fw.fa-check-circle.text-success
      = " "
      != t("100% open-source software")
      = " "
      a.btn.btn-link.badge.badge-light.text-uppercase.text-white(
        href="https://github.com/forwardemail",
        target="_blank",
        rel="noopener noreferrer"
      )
        i.fa.fa-github
        = " "
        = "GitHub"
    li
      i.fa.fa-fw.fa-check-circle.text-success
      = " "
      = t("Enterprise-grade 99.99% uptime SLA")
  li.mb-3
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Works with")
    = " "
    ul.list-inline.d-inline.lead.mb-0
      //- Apple
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/apple-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/apple-email-clients"][0])) : false
        )
          //- apple doesn't let you use logo
          = "Apple"
          != "&reg;"
      //- Windows
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/windows-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/windows-email-clients"][0])) : false
        )
          = "Windows"
          != "&reg;"
      //- Android
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/android-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/android-email-clients"][0])) : false
        )
          i.fa-fw.fab.fa-android
          = " "
          = "Android"
          != "&trade;"
      //- Linux
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/linux-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/linux-email-clients"][0])) : false
        )
          i.fa-fw.fab.fa-linux
          = " "
          = "Linux"
          != "&reg;"
      //- Desktop
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/desktop-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/desktop-email-clients"][0])) : false
        )
          i.fa-fw.fas.fa-desktop
          = " "
          = t("Desktop")
      //- Web
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/web-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/web-email-clients"][0])) : false
        )
          if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Firefox")
            i.fab.fa-fw.fa-firefox-browser
            = " "
            = "Firefox"
            != "&reg;"
          else if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Safari") && !ctx.get("User-Agent").includes("Chrome")
            = " "
            = "Safari"
            != "&reg;"
          else
            i.fab.fa-fw.fa-chrome
            = " "
            = "Chrome"
            != "&reg;"
      //- Terminal
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/blog/open-source/terminal-email-clients"),
          title=isBot(ctx.get("User-Agent")) ? striptags(t(config.meta["/blog/open-source/terminal-email-clients"][0])) : false
        )
          i.fa-fw.fas.fa-terminal
          = " "
          = "Terminal"
  li
    i.fa.fa-fw.fa-check-circle.text-success
    = " "
    = t("Supports")
    = " "
    ul.list-inline.d-inline.lead.mb-0
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-openpgpmime-end-to-end-encryption-e2ee-and-web-key-directory-wkd")
        )
          = "E2EE"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-sending-email-with-smtp")
        )
          = "SMTP"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-receiving-email-with-imap")
        )
          = "IMAP"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-pop3")
        )
          = "POP3"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-calendars-caldav")
        )
          = "CalDAV"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-bounce-webhooks")
        )
          = "Bounce Webhooks"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-webhooks")
        )
          = "HTTP Webhooks"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-sending-email-with-api")
        )
          = "API"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-i-set-up-spf-for-forward-email")
        )
          = "SPF"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-i-set-up-dkim-for-forward-email")
        )
          = "DKIM"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-i-set-up-dmarc-for-forward-email")
        )
          = "DMARC"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#do-you-support-email-best-practices")
        )
          = "ARC"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-i-set-up-srs-for-forward-email")
        )
          = "SRS"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-i-set-up-mta-sts-for-forward-email")
        )
          = "MTA-STS"
          = " "
          i.fa.fa-angle-right
      li.list-inline-item.mr-1
        a.badge.badge-light(
          target="_blank",
          href=l("/faq#how-do-you-perform-dns-lookups-on-domain-names")
        )
          = "DNS over HTTPS"
          = " "
          i.fa.fa-angle-right
    //-.
      = ": "
      ul.list-inline.d-inline.lead.mb-0
        li.list-inline-item.mr-1: span.badge.badge-primary= "Amazon"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Backblaze"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Box"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Cloudflare"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Digital Ocean"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Dropbox"
        li.list-inline-item.mr-1: span.badge.badge-primary= "SFTP"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Google"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Microsoft"
        li.list-inline-item.mr-1: span.badge.badge-primary= "Oracle"
        li.list-inline-item: span.badge.badge-primary= "S3-compatible"
