//- preload fonts
//- https://caniuse.com/link-rel-preload
//- integrity attribute not currently supported
//- <https://crbug.com/981419>
//-.
- const fonts = ["fa-solid-900.woff2", "fa-brands-400.woff2"];
if !isBot(ctx.get('User-Agent'))
  - fonts.push("nunito-sans-latin-400.woff2");
  - fonts.push("nunito-sans-latin-700.woff2");
  - fonts.push("vc-honey-latin-400.woff2");
  - fonts.push("vc-honey-latin-700.woff2");
each font in fonts
  link(
    rel="preload",
    href=manifest(`fonts/${font}`),
    type="font/woff2",
    as="font",
    crossorigin="anonymous"
  )
