footer.mt-auto
  //-.
    if !isHelp
      .bg-primary.text-center.py-3.border-top.border-themed
        .container
          .row
            if !user
              .col-6
                a.btn.btn-dark(
                  href=l("/register"),
                  role="button",
                  data-toggle="modal-anchor",
                  data-target="#modal-sign-up"
                )
                  = t("Sign up free")
                  = " "
                  i.fa.fa-angle-double-right.align-middle
            div(class=user ? "col-12" : "col-6")
              a.btn.btn-dark(
                href=l("/help"),
                role=isHelp ? "link" : "button",
                data-target=isHelp ? false : "#modal-help"
              )= t("Need help?")
  .bg-dark.text-white
    .container.py-3.py-md-4.py-lg-5.text-center.text-lg-left
      .d-flex.flex-column.flex-lg-row
        .flex-nowrap.order-3.order-lg-0.d-flex.flex-column.flex-grow-1
          if !isBot(ctx.get('User-Agent'))
            .no-js
              hr.d-lg-none.w-100
              .dropdown.dropup
                a#navbar-dropdown-language-btn.btn.btn-outline-light.dropdown-toggle(
                  href=ctx.url,
                  role="button",
                  data-toggle="dropdown",
                  data-boundary="window",
                  aria-haspopup="true",
                  aria-expanded="false"
                )
                  = `${titleize(t(currentLanguage))} ${ctx.locale !== "en" && currentLanguage !== titleize(currentLanguage) ? `(${titleize(currentLanguage)})` : ""}`
                ul#navbar-dropdown-language-ul.dropdown-menu(
                  role="menu",
                  aria-expanded="false",
                  aria-hidden="true",
                  aria-labelledby="navbar-dropdown-language-btn"
                )
                  each language in availableLanguages
                    if language.locale !== locale
                      li: a.dropdown-item(href=language.url)= `${titleize(t(language.name))} ${ctx.locale !== "en" ? `(${titleize(language.name)})` : ""}`
          hr.d-lg-none.w-100
          .mt-auto
            a(href="#", aria-label=t("Go to top"))
              noscript
                img.d-inline-block.mx-lg-auto(
                  src=manifest("img/logo-square.svg"),
                  width=50,
                  height=50,
                  alt="Go to top"
                )
              img.d-inline-block.mx-lg-auto.lazyload(
                data-src=manifest("img/logo-square.svg"),
                width=50,
                height=50,
                alt="Go to top"
              )
        .flex-wrap.flex-fill
          h3.h5.mb-2= t("Guides")
          ul.list-unstyled.mb-0
            //-.
              li
                a.d-block.text-light.py-2.py-md-0(
                  href=l('/guides/professional-business-email')
                )= t('Professional business email')
              li
                a.d-block.text-light.py-2.py-md-0(
                  href=l('/guides/how-to-setup-business-email')
                )= t('How to setup business email')
              li
                a.d-block.text-light.py-2.py-md-0(
                  href=l('/guides/custom-domain-email-service')
                )= t('Custom domain email service')
              li
                a.d-block.text-light.py-2.py-md-0(
                  href=l('/guides/free-business-email-address')
                )= t('Free business email address')
            li
              a.d-block.text-light.py-2.py-md-0(
                href=l("/guides/send-mail-as-gmail-custom-domain")
              )
                if isBot(ctx.get('User-Agent'))
                  = t("Send Email Custom Domain")
                else
                  = t("Send Mail As with Gmail")
            each provider in nsProviders
              li
                a.d-block.text-light.py-2.py-md-0(
                  href=domain && domain.name ? l(`/guides/${provider.slug}?domain=${domain.name}`) : l(`/guides/${provider.slug}`)
                )= provider.name
            li: a.d-block.text-light.py-2.py-md-0(
              href=l("/faq#table-dns-management-by-registrar")
            )= t("Other providers")
        hr.d-lg-none.w-100
        .flex-wrap.flex-fill
          h3.h5.mb-2= t("Developers")
          ul.list-unstyled.mb-0.mb-lg-3
            li: a.d-block.text-light.py-2.py-md-0(href=l("/free-email-webhooks"))= t("Free Email Webhooks")
            li: a.d-block.text-light.py-2.py-md-0(
              href=l("/email-forwarding-regex-pattern-filter")
            )= t("Email Forwarding Regex Pattern Filter")
            li: a.d-block.text-light.py-2.py-md-0(
              href=l("/email-forwarding-api")
            )= t("Email Forwarding API")
            li: a.d-block.text-light.py-2.py-md-0(
              href="https://github.com/forwardemail/free-email-forwarding/releases",
              target="_blank",
              rel="noopener noreferrer"
            )= t("Releases")
            li: a.d-block.text-light.py-2.py-md-0(
              href="https://github.com/forwardemail",
              target="_blank",
              rel="noopener noreferrer"
            )= t("Source Code")
          hr.d-lg-none.w-100
          h3.h5.mb-2= t("Resources")
          ul.list-unstyled.mb-0
            - let pricingPageHref = domain && domain.name ? l(`/private-business-email?domain=${domain.name}`) : l("/private-business-email");
            if !isBot(ctx.get('User-Agent'))
              - pricingPageHref += "?pricing=true";
            li: a.d-block.text-light.py-2.py-md-0(href=pricingPageHref)
              if isBot(ctx.get('User-Agent'))
                = t("Private Business Email")
              else
                = t("Features")
            li: a.d-block.text-light.py-2.py-md-0(
              href=domain && domain.name ? l(`/faq?domain=${domain.name}`) : l("/faq")
            )= t("FAQ")
            li: a.d-block.text-light.py-2.py-md-0(
              href=l("/disposable-addresses")
            )= t("Disposable Addresses")
            li: a.d-block.text-light.py-2.py-md-0(href=l("/domain-registration"))= t("Domain Registration")
            li: a.d-block.text-light.py-2.py-md-0(
              href=l("/reserved-email-addresses")
            )= t("Reserved Email Addresses")
            li: a.d-block.text-light.py-2.py-md-0(
              href=domain && domain.name ? l(`/guides/port-25-blocked-by-isp-workaround?domain=${domain.name}`) : l("/guides/port-25-blocked-by-isp-workaround")
            )= t("Port 25 blocked by ISP")
            if !isBot(ctx.get('User-Agent'))
              li: a.d-block.text-light.py-2.py-md-0(href=l("/denylist"))= t("Denylist Removal")
        hr.d-lg-none.w-100
        .flex-wrap.flex-fill.d-flex.flex-column
          div
            h3.h5.mb-2= t("Company")
            ul.list-unstyled.mb-0
              if !isBot(ctx.get('User-Agent'))
                li: a.d-block.text-light.py-2.py-md-0(
                  href=l("/help"),
                  role=isHelp ? "link" : "button",
                  data-target=isHelp ? false : "#modal-help"
                )= t("Help")
              li: a.d-block.text-light.py-2.py-md-0(href=l("/about"))= t("About")
              li: a.d-block.text-light.py-2.py-md-0(href=l("/privacy"))= t("Privacy")
              li: a.d-block.text-light.py-2.py-md-0(href=l("/terms"))= t("Terms")
              if !isBot(ctx.get('User-Agent'))
                li: a.d-block.text-light.py-2.py-md-0(
                  href="https://status.forwardemail.net/",
                  target="_blank",
                  rel="noopener noreferrer"
                )
                  = t("Status Page")
              li
                a.d-block.text-light.py-2.py-md-0(
                  title=t("GitHub"),
                  href="https://github.com/forwardemail",
                  target="_blank",
                  rel="noopener noreferrer"
                )= t("GitHub")

          if !isBot(ctx.get('User-Agent'))
            .mt-lg-auto.mt-3.text-right
              a.d-inline-block.text-light(
                data-toggle="tooltip",
                title=t("GitHub"),
                href="https://github.com/forwardemail",
                target="_blank",
                rel="noopener noreferrer"
              )
                i.fa.fa-2x.fa-github
                span.sr-only.sr-only-focusable
                  = " "
                  = t("GitHub")
        if isBot(ctx.get('User-Agent'))
          hr.d-lg-none.w-100
          .flex-wrap.flex-fill.d-flex.flex-column
            div
              h3.h5.mb-2= t("Languages")
              ul.list-unstyled.mb-0.small
                each language in availableLanguages
                  li: a.d-block.text-light.py-2.py-md-0(href=language.url)= `${titleize(t(language.name))} ${ctx.locale !== "en" ? `(${titleize(language.name)})` : ""}`
        else
          noscript
            hr.d-lg-none.w-100
            .flex-wrap.flex-fill.d-flex.flex-column
              div
                h3.h5.mb-2= t("Languages")
                ul.list-unstyled.mb-0.small
                  each language in availableLanguages
                    li: a.d-block.text-light.py-2.py-md-0(href=language.url)= `${titleize(t(language.name))} ${ctx.locale !== "en" ? `(${titleize(language.name)})` : ""}`
