// First Hero Section - Professional Email Solutions
section.d-flex.py-5.bg-themed.min-vh-100.align-items-center.text-center
  .container.flex-grow-1
    .row
      .col
        h2.h1.display-3.mb-4= t("Custom domain email hosting")
        h3.h4.text-sans-serif.mb-5
          = t("Free email forwarding and custom domain hosting that works everywhere.")
        .row.text-left
          .col-md-6.mb-4
            .d-flex.align-items-start
              i.fas.fa-check-circle.text-success.mr-3.mt-1.fa-2x
              div
                h4.font-weight-bold.text-sans-serif= t("Custom Domain Email Address")
                p.lead= t("Establish credibility with you@yourdomain.com – professional email addresses that build trust.")

          .col-md-6.mb-4
            .d-flex.align-items-start
              i.fas.fa-check-circle.text-success.mr-3.mt-1.fa-2x
              div
                h4.font-weight-bold.text-sans-serif= t("Unlimited Email Accounts")
                p.lead= t("Create as many domain names and email addresses as your team needs, without extra costs.")

          .col-md-6.mb-4
            .d-flex.align-items-start
              i.fas.fa-check-circle.text-success.mr-3.mt-1.fa-2x
              div
                h4.font-weight-bold.text-sans-serif= t("Generous 10 GB Email Storage")
                p.lead= t("Ample space for all your important communications and attachments. Pay as you go.")

          .col-md-6.mb-4
            .d-flex.align-items-start
              i.fas.fa-check-circle.text-success.mr-3.mt-1.fa-2x
              div
                h4.font-weight-bold.text-sans-serif= t("Seamless Compatibility & Deliverability")
                p.lead!= t("Works flawlessly with Gmail, Yahoo, Outlook, and adheres to all <span class='notranslate'>%d</span> email standards for optimal deliverability.", dayjs().format("YYYY"))

// Second Hero Section - Universal Access & Device Compatibility
section.bg-dark.bg-fixed.lazyload.py-5.text-white(
  data-src=manifest("img/articles/atmosphere.webp")
)
  .container.d-flex.min-vh-100.align-items-center.justify-content-center
    .row.justify-content-center.text-center
      .col
        h2.h1.display-3.mb-4= t("Access your email anywhere")
        p.lead.mb-5= t("Our professional email solution offers universal compatibility, ensuring you stay connected from anywhere.")
        .row.text-center.mb-5
          .col-md-3.col-6.mb-3
            .p-3
              i.fab.fa-apple.display-4.mb-2
              h3.h5.text-sans-serif= t("iPhone & macOS")

          .col-md-3.col-6.mb-3
            .p-3
              i.fab.fa-android.display-4.mb-2
              h3.h5.text-sans-serif= t("Android")

          .col-md-3.col-6.mb-3
            .p-3
              i.fab.fa-windows.display-4.mb-2
              h3.h5.text-sans-serif= t("Windows")

          .col-md-3.col-6.mb-3
            .p-3
              i.fas.fa-desktop.display-4.mb-2
              h3.h5.text-sans-serif= t("Any Email Client")

// Third Section - Comprehensive Features & Advanced Security
section.py-5.bg-dark.text-white
  .container.d-flex.min-vh-100.align-items-center
    .row.justify-content-center.text-center
      .col-md-8
        h2.h3.display-4.mb-4= t("All-inclusive features")
        p.lead.mb-5= t("No additional fees for must-have features.")
        ul.list-inline.lead.mb-5
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("100% Open-Source Software")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Quantum-Resistant Encryption")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Advanced Email Security")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Reliable Email Sending & Receiving")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Email Archiving & Download")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Integrated Calendars & Contacts")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Bounce & Web Alert Notifications")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Developer-Friendly Email API")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Email Encryption & Message Signing")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Encrypted PGP Forwarding")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Intelligent Spam & Phishing Protection")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Email Standards Compliance")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Forwarding & Secure Delivery")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Safe Web Lookups & Data Protection")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Sandboxed Mailboxes")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Self-Hosted Docker Email")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("Zero-Knowledge Architecture")
          li.list-inline-item.mr-3.mb-3
            i.fas.fa-check.text-success
            = " "
            = t("99.99% Uptime")

include _pricing-table

// Fourth Section - Trusted by Leading Organizations
section.py-5
  .container.d-flex.min-vh-100.align-items-center.justify-content-center
    .row.justify-content-center.text-center
      .col
        h2.h1.display-3.mb-4= t("Trusted by millions")
        p.lead.mb-5= t("Leading organizations and businesses worldwide rely on our secure and reliable email service.")
        .row.text-center.mb-3
          .col-12.col-md-6.col-lg-3.mb-3
            .p-3
              i.fas.fa-landmark.display-4.mb-2
              h3.h5.font-weight-normal= t("US Naval Academy, Government of South Australia, Government of Dominican Republic")
          .col-12.col-md-6.col-lg-3.mb-3
            .p-3
              i.fas.fa-briefcase.display-4.mb-2
              h3.h5.font-weight-normal= t("Netflix Games, Disney Ad Sales, Fox News Radio, RCD Hotels")
          .col-12.col-md-6.col-lg-3.mb-3
            .p-3
              i.fas.fa-code.display-4.mb-2
              h3.h5.font-weight-normal= t("The Linux Foundation, jQuery, Ubuntu, LineageOS, Canonical")
          .col-12.col-md-6.col-lg-3.mb-3
            .p-3
              i.fas.fa-user-graduate.display-4.mb-2
              h3.h5.font-weight-normal= t("Carnegie Mellon, Cambridge, UMD, UW, Tufts, Swarthmore")
        p.mb-3= t("Ready to join these organizations?")
        include _quick-start
