.row
  .col-12
    h2.display-5.font-weight-bold.mt-5.mb-3
      if isBot(ctx.get("User-Agent"))
        = t("Free Email Forwarding Service")
      else
        = t("All-in-one alternative to Gmail + Mailchimp + Sendgrid")
    p.lead!= t("Since 2017, we provide email service to 500,000+ domains and these notable users:")
    ul.list-inline.lead
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/canonical-ubuntu-email-enterprise-case-study")
      )= t("Canonical")
      li.list-inline-item.badge.bg-white.text-dark= t("Netflix")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/linux-foundation-email-enterprise-case-study")
      )= t("The Linux Foundation")
      li.list-inline-item.badge.bg-white.text-dark= t("The PHP Foundation")
      li.list-inline-item.badge.bg-white.text-dark= t("Fox News Radio")
      li.list-inline-item.badge.bg-white.text-dark= t("Disney Ad Sales")
      li.list-inline-item.badge.bg-white.text-dark= t("jQuery")
      li.list-inline-item.badge.bg-white.text-dark= t("LineageOS")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/canonical-ubuntu-email-enterprise-case-study")
      )= t("Ubuntu")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/canonical-ubuntu-email-enterprise-case-study")
      )= t("Kubuntu")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/canonical-ubuntu-email-enterprise-case-study")
      )= t("Lubuntu")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/alumni-email-forwarding-university-case-study")
      )= t("The University of Cambridge")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/alumni-email-forwarding-university-case-study")
      )= t("The University of Maryland")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/alumni-email-forwarding-university-case-study")
      )= t("The University of Washington")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/alumni-email-forwarding-university-case-study")
      )= t("Tufts University")
      li.list-inline-item: a.badge.bg-white.text-dark(
        href=l("/blog/docs/alumni-email-forwarding-university-case-study")
      )= t("Swarthmore College")
      li.list-inline-item.badge.bg-white.text-dark= t("Government of South Australia")
      li.list-inline-item.badge.bg-white.text-dark= t("Government of Dominican Republic")
      li.list-inline-item.badge.bg-white.text-dark= t("Fly.io")
      li.list-inline-item.badge.bg-white.text-dark= t("RCD Hotels")
      li.list-inline-item.badge.bg-white.text-dark= t("International Correspondence Chess Federation")
      li.list-inline-item.badge.bg-white.text-dark= t("John Graham-Cumming (Cloudflare)")
      li.list-inline-item.badge.bg-white.text-dark!= t('Isaac Z. Schlueter (<span class="notranslate">npm</span>)')
      li.list-inline-item.badge.bg-white.text-dark= t("David Heinemeier Hansson (Ruby on Rails)")
hr
.row
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    h2.display-5.font-weight-bold.my-3
      if isBot(ctx.get("User-Agent"))
        = t("Custom Domain Email Hosting")
      else
        = t("Features")
    .lead.text-left
      include _feature-list
  .col-xs-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
    h2.display-5.font-weight-bold.my-3
      if isBot(ctx.get("User-Agent"))
        = t("Open-source Email Hosting Service")
      else
        = t("Compared to others")
    .lead.text-left
      ul.list-unstyled.mb-3
        li.mb-3
          i.fa.fa-fw.fa-check-circle.text-success
          = " "
          != t('We\'re <strong class="text-decoration-underline">the only 100% open-source provider</strong>')
          = " "
          = t("(we're transparent and focused on privacy and security)")
        li.mb-3
          i.fa.fa-fw.fa-check-circle.text-success
          = " "
          = t("We don't rely on any third parties (we don't use Amazon SES or an alternative like others)")
        li.mb-3
          i.fa.fa-fw.fa-check-circle.text-success
          = " "
          = t("Our pricing allows you to scale cost effectively (we don't charge per user and you can pay as you go for storage)")
        li.mb-3
          i.fa.fa-fw.fa-check-circle.text-success
          = " "
          = t("Unlike others, your email with us is not stored in a shared relational database alongside everyone else")
        li
          i.fa.fa-fw.fa-check-circle.text-success
          = " "
          != t("We're the world's first and only email service to use <strong>quantum-resistant</strong> and <strong>individually encrypted SQLite mailboxes</strong>")
    a.btn.btn-success.font-weight-bold.text-uppercase.text-white(
      href=l("/blog/best-email-service"),
      target="_blank"
    )
      != t("Read Email Service Comparison")
      = " "
      i.fa.fa-angle-right.align-middle
