//- TODO: add all this to the FAQ (or include it rendered somehow)
#modal-storage.modal.fade(
  tabindex="-1",
  role="dialog",
  aria-labelledby="modal-storage-title",
  aria-hidden="true"
)
  .modal-dialog.modal-xl(role="document")
    .modal-content
      .modal-header.d-block
        h2#modal-storage-title.h3.d-inline-block.text-success
          i.fa.fa-lock
          = " "
          = t("Encrypted Email Storage")
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        h2.h4= t("How secure is this?")
        p
          != t('Our service ensures your mailboxes are <strong class="text-decoration-underline">only accessible by you</strong> and are not stored in a shared database.')
          = " "
          != t('We purposely designed our service so that it operates in-memory when you connect and <strong class="text-decoration-underline">we don\'t even have access to your mailbox</strong> at rest.')
          = " "
          != t("If you forget your password, then you lose your mailbox and need to either recover with offline backups or start over.")
        hr
        h2.h4= t("How do I get started?")
        p
          != t('Simply go to <a class="font-weight-bold text-decoration-underline" href="%s">My Account &rarr; Domains</a> &rarr; Aliases, click Add Alias (or) Edit Alias, and then click the checkbox to enable IMAP Storage.', l("/my-account/domains"))
          = " "
          = t("You can even have both IMAP storage and forwarding recipients enabled at the same time.")
        hr
        h2.h4= t("What email clients can I use?")
        p.mb-2!= t('You can easily send and receive email with these popular email clients using our instructions <a href="%s" class="font-weight-bold text-decoration-underline" target="_blank">(click here)</a>.', l("/faq#how-do-i-configure-my-email-client-to-work-with-forward-email"))
        ul.list-inline.h3
          //- Apple
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/apple-email-clients"),
              target="_blank"
            )
              = "Apple"
              != "&reg;"
          //- Windows
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/windows-email-clients"),
              target="_blank"
            )
              = "Windows"
              != "&reg;"
          //- Android
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/android-email-clients"),
              target="_blank"
            )
              i.fa-fw.fab.fa-android
              = " "
              = "Android"
              != "&trade;"
          //- Linux
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/linux-email-clients"),
              target="_blank"
            )
              i.fa-fw.fab.fa-linux
              = " "
              = "Linux"
              != "&reg;"
          //- Desktop
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/desktop-email-clients"),
              target="_blank"
            )
              i.fa-fw.fas.fa-desktop
              = " "
              = "Desktop"
          //- Web
          li.list-inline-item.mr-1
            a.badge.badge-dark(
              href=l("/open-source/web-email-clients"),
              target="_blank"
            )
              if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Firefox")
                i.fab.fa-fw.fa-firefox-browser
                = " "
                = "Firefox"
                != "&reg;"
              else if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Safari") && !ctx.get("User-Agent").includes("Chrome")
                = " "
                = "Safari"
                != "&reg;"
              else
                i.fab.fa-fw.fa-chrome
                = " "
                = "Chrome"
                != "&reg;"
          //- Terminal
          li.list-inline-item
            a.badge.badge-dark(
              href=l("/open-source/terminal-email-clients"),
              target="_blank"
            )
              i.fa-fw.fas.fa-terminal
              = " "
              = "Terminal"
        hr
        h2.h4= t("How does it work?")
        p
          != t("We use individual mailboxes encrypted with your password.")
          = " "
          = t("Our service uses encryption-at-rest (AES-256), encryption-in-transit (TLS), and industry standard security procedures.")
          = " "
          != t("We are also <strong>100% open-source</strong> and privacy-focused.")
          = " "
          != t('At anytime you can download, view, export, backup, and/or delete your mailboxes &ndash; and <strong class="text-decoration-underline">easily migrate to or from another email service provider</strong>.')
        hr
        h2.h4= t("What are your storage limits?")
        p
          = t("If you exceed the default storage limit of 10 GB, then you can purchase additional storage as needed.")
          = " "
          = t("Storage is shared across all of your domains and aliases, but you can impose limits if desired on a per domain and alias basis.")
          = " "
          = t("Unlike other email providers, you do not need to pay for storage on a per domain or alias basis.")
          = " "
          != t('<strong class="text-decoration-underline">You can even bring your own storage provider</strong> for backups to use with our service &ndash; such as Amazon, Backblaze, Box, Cloudflare, Digital Ocean, Dropbox, SFTP, Google, Microsoft, Oracle, or any S3-compatible storage provider.')
          = " "
          != t("This means you can own your data and most importantly &ndash; <strong>you don't have to operate and maintain your own email servers</strong>.")
        hr
        a.text-uppercase.font-weight-bold.btn.btn-block.btn-success.btn-lg(
          href=l("/encrypted-email")
        )= t("Click to learn more")
