- const isHelp = ctx.pathWithoutLocale === '/help'
- const isRegisterOrLogin = ['/register', '/login'].includes(ctx.pathWithoutLocale)

if !isHelp
  #modal-help.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-help-title', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header.text-center.d-block
          h4.modal-title.d-inline-block.ml-4#modal-help-title= t('Ask a question')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body
          form.ajax-form.confirm-prompt(action=l('/help'), method="POST")
            input(type="hidden", name="_csrf", value=ctx.csrf)
            if ctx.pathWithoutLocale !== '/faq'
              p.text-center.font-weight-bold!= t(`Have you read our <a href="${domain && domain.name ? t(`/faq?domain=${domain.name}`) : l('/faq')}" target="_blank" rel="noopener">FAQ</a> yet?`)
            .form-group.floating-label
              input#input-email.form-control(required, autocomplete="email", name="email", type="email", value=user ? user.email : '', placeholder='name@example.com')
              label(for="input-email")= t('Email address')
            .form-group.floating-label
              textarea#input-message.form-control(rows="3", maxlength=config.supportRequestMaxLength, name="message", placeholder=t('Write your message'))
              label(for="input-message")= t('Message')
            button.btn.btn-block.btn-success.btn-lg(type="submit", data-toggle="tooltip", data-placement="bottom", title=t("We'll be in contact with you!"))= t('Send message')

if !user && !registerOrLogin
  include _register-or-login
  each verb in [ 'sign up', 'sign in' ]
    .modal.fade(tabindex='-1', role='dialog', id=`modal-${dashify(verb)}`, aria-labelledby=`modal-${dashify(verb)}-title`, aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header.text-center.d-block
            h4.modal-title.d-inline-block.ml-4(id=`modal-${dashify(verb)}-title`)
              if verb === 'sign up'
                = t('Sign up now')
                = ' '
                = emoji('sparkles')
              else
                = t('Welcome back!')
                = ' '
                = emoji('wave')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body
            +registerOrLogin(verb, true)
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.border-light.border-bottom
  button.navbar-toggler.hidden-lg-up(type="button", data-toggle="collapse", data-target="#navbar-header", aria-controls="navbar-header", aria-expanded="false", aria-label=t('Toggle navigation'))
    span.navbar-toggler-icon
  a.navbar-brand.d-inline-block.m-0(href=user ? l(config.passportCallbackOptions.successReturnToOrRedirect) : l())
    img.d-inline-block(src=manifest('img/logo-square.svg'), width=50, height=50, alt="").mr-1
    h1.h2.m-0.align-middle.d-none.d-sm-inline-block
      span.text-primary.font-weight-bold Forward
      span.text-info.font-weight-normal Email
      span.text-success.font-weight-light .net
  //- once we have responsive border utilities added to bootstrap
  //- then we can apply them to the anchor tags inside the navbar
  //- so that on mobile devices there is no border around the links
  //- <https://github.com/twbs/bootstrap/issues/25030>
  #navbar-header.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.ml-md-1.mt-1.mt-md-0
        a.btn.btn-lg.d-block.text-left.text-lg-center(href=l('/features'), class=ctx.pathWithoutLocale.startsWith('/features') ? 'btn-outline-light' : 'text-light')= t('Features')
      li.nav-item.ml-md-1.mt-1.mt-md-0
        a.btn.btn-lg.d-block.text-left.text-lg-center(href=domain && domain.name ? l(`/faq?domain=${domain.name}`) : l('/faq'), class=ctx.pathWithoutLocale.startsWith('/faq') ? 'btn-outline-light' : 'text-light')= t('FAQ')
      li.nav-item.ml-md-1.mt-1.mt-md-0
        a.btn.btn-lg.d-block.text-left.text-lg-center(href=l('/help'), role=isHelp ? 'link' : 'button', data-toggle=isHelp ? '' : 'modal-anchor', data-target=isHelp ? '' : '#modal-help', class=ctx.pathWithoutLocale.startsWith('/help') ? 'btn-outline-light' : 'text-light')= t('Help')
      //- links that show only if you're logged in
      if user
        //- links that show if you're an admin
        if user.group === 'admin'
          li.nav-item.dropdown.ml-md-1.mt-1.mt-md-0
            a#navbar-dropdown-admin.btn.btn-lg.dropdown-toggle.d-block.text-left.text-lg-center(href=l('/admin'), data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', class=ctx.pathWithoutLocale.startsWith('/admin') ? 'btn-outline-light' : 'text-light')
              = t('Admin')
            .dropdown-menu(aria-labelledby='navbar-dropdown-admin')
              a.dropdown-item(class=ctx.pathWithoutLocale === '/admin' ? 'active' : '', href=l('/admin'))= t('Dashboard')
              a.dropdown-item(class=ctx.pathWithoutLocale.startsWith('/admin/users') ? 'active' : '', href=l('/admin/users'))= t('Users')
        li.nav-item.dropdown.ml-md-1.mt-1.mt-md-0
          a#navbar-dropdown-my-account.btn.btn-lg.dropdown-toggle.d-block.text-left.text-lg-center(href=l('/my-account'), data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', class=ctx.pathWithoutLocale.startsWith('/my-account') ? 'btn-outline-light' : 'text-light')
            = t('My Account')
          .dropdown-menu(aria-labelledby='navbar-dropdown-admin')
            //- a.dropdown-item(class=ctx.pathWithoutLocale === '/my-account' ? 'active' : '', href=l('/my-account'))= t('Dashboard')
            a.dropdown-item(class=ctx.pathWithoutLocale.startsWith('/my-account/domains') ? 'active' : '', href=l('/my-account/domains'))= t('Domains')
            a.dropdown-item(class=ctx.pathWithoutLocale === '/my-account/profile' ? 'active' : '', href=l('/my-account/profile'))= t('Profile')
            a.dropdown-item(class=ctx.pathWithoutLocale === '/my-account/security' ? 'active' : '', href=l('/my-account/security'))= t('Security')
            a.dropdown-item(href=l('/logout'))= t('Log out')
      //- links that show only if you're logged out
      else
        li.nav-item.ml-md-1.mt-1.mt-md-0
          a.btn.btn-lg.d-block.text-left.text-lg-center(
            role=isRegisterOrLogin ? 'link' : 'button',
            href=l('/login'),
            data-toggle=isRegisterOrLogin ? '': 'modal-anchor',
            data-target=isRegisterOrLogin ? '' : '#modal-sign-in',
            class=ctx.pathWithoutLocale === '/login' ? 'btn-outline-light' : 'text-light'
          )= t('Sign in')
        li.nav-item.ml-md-1.mt-1.mt-md-0
          a.btn.btn-lg.d-block.text-uppercase.font-weight-bold(
            role=isRegisterOrLogin ? 'link' : 'button',
            href=l('/register'),
            data-toggle=isRegisterOrLogin ? '' : 'modal-anchor',
            data-target=isRegisterOrLogin ? '' : '#modal-sign-up',
          ).btn-primary
            = t('Sign up for free')
            = ' '
            i.fa.fa-angle-double-right
if ctx.pathWithoutLocale === '/'
  h3.h6.text-monospace.py-3.px-3.mb-0.text-center.d-none.d-sm-block
    .d-none.d-md-block!= t(`${emoji('wave')} We <u class="font-weight-bold">don't store logs nor emails</u>. We don't track you. Regain your right to privacy. ${emoji('tada')}`)
    .d-none.d-sm-block.d-md-none!= t(`${emoji('wave')} We <u class="font-weight-bold">don't store logs nor emails</u>. Period. ${emoji('tada')}`)
