mixin onboard(onboardHeader, onboardText, onboardFormAction=ctx.path, onboardKeepReading=false, onboardContainerClass='')
  div&attributes(attributes)
    .container-fluid.bg-light.py-5(class=onboardContainerClass)
      .row
        .col
          if onboardHeader
            h1.text-center!= onboardHeader
          if onboardText
            p.text-center.mb-0.text-muted!= onboardText
          form.ajax-form.pt-4.mb-3(action=onboardFormAction, method="POST")
            input(type="hidden", name="_csrf", value=ctx.csrf)
            .form-row
              .col-12.col-md-6.offset-md-3
                .form-group.floating-label
                  input#input-onboard-domain.form-control.form-control-lg(
                    type="text",
                    name="domain",
                    value=domain,
                    required,
                    placeholder="example.com"
                  )
                  label(for="input-onboard-domain")= t("Your custom domain")
                .form-group.floating-label
                  input#input-onboard-email.form-control.form-control-lg(
                    type="email",
                    autocomplete="email",
                    name="email",
                    value=email,
                    placeholder="name@gmail.com",
                    required
                  )
                  label(for="input-onboard-email")= t("Your existing email")
                .form-check.form-group
                  input#input-enhanced-protection.form-check-input(
                    type="checkbox",
                    name="enhanced_protection",
                    checked,
                    value="true"
                  )
                  label.form-check-label(for="input-enhanced-protection")!= t('Upgrade to <a href="%s" target="_blank" rel="noopener noreferrer" class="notranslate">Enhanced Protection</a>', l("/pricing"))
                if user
                  .form-check.form-group
                    input#input-create-domain.form-check-input(
                      type="checkbox",
                      name="create_domain",
                      checked,
                      value="true"
                    )
                    label.form-check-label(for="input-create-domain")= t("Add this domain to your account (if it does not exist)")
                else
                  .form-check.form-group.d-flex
                    input#input-create-account.form-check-input(
                      type="checkbox",
                      name="create_account",
                      checked,
                      value="true",
                      aria-describedby="help-create-account"
                    )
                    label.form-check-label.mr-2(for="input-create-account")= t("Create your free account now")
                .h-captcha(data-sitekey=config.hcaptchaSiteKey, data-error-callback='hCaptchaError')
                button.btn.btn-success.btn-lg.btn-block(type="submit")
                  = t("Continue")
                  = " "
                  i.fa.fa-angle-double-right
                p.mt-3.mb-1.text-center#help-create-account
                  small.text-black-50!= t('By signing up, you agree to our <a href="%s" target="_blank" rel="noopener noreferrer">Privacy Policy</a> and <a href="%s" target="_blank" rel="noopener noreferrer">Terms</a>.', l("/privacy"), l("/terms"))
          if onboardKeepReading
            p.text-center.mb-0: small: a.text-black-50.font-weight-bold(href=onboardKeepReading)= t("Not interested?  Click here to keep reading")
