mixin paginate(tableSelector)
  if pageCount && pageCount > 1
    nav.d-flex.justify-content-center.mt-3.mt-md-0(
      aria-label="Page navigation"
    )
      ul.pagination
        if paginate.hasPreviousPages
          li.page-item
            a.page-link.ajax-form.table-ajax-form(
              href=paginate.href({ page: 1 }),
              data-table=tableSelector,
              data-page=1,
              aria-label=t("First Page")
            )
              span(aria-hidden="true")
                i.fa.fa-step-backward
              span.sr-only= t("First Page")
        if pages
          each page in pages
            if page.number === 1 && pageCount === 1
              li.page-item.disabled
                span.page-link= page.number
            else
              if page.number === ctx.query.page
                li.page-item.active
                  a.page-link.ajax-form.table-ajax-form(
                    href=page.url,
                    data-table=tableSelector,
                    data-page=page.number
                  )= page.number
              else
                li.page-item
                  a.page-link.ajax-form.table-ajax-form(
                    href=page.url,
                    data-table=tableSelector,
                    data-page=page.number
                  )= page.number
        if paginate.hasNextPages(pageCount)
          li.page-item
            a.page-link.ajax-form.table-ajax-form(
              href=paginate.href({ page: pageCount }),
              data-table=tableSelector,
              data-page=pageCount,
              aria-label=t("Last Page")
            )
              span(aria-hidden="true")
                i.fa.fa-step-forward
              span.sr-only= t("Last Page")
    .dropdown.text-center.mb-3
      button#pagination-menu-link.btn.btn-outline-secondary.btn-sm.dropdown-toggle(
        type="button",
        data-toggle="dropdown",
        data-boundary="window",
        aria-haspopup="true",
        aria-expanded="false"
      )
        strong= t("Results per page:")
        = " "
        = t(ctx.query.limit.toString())
      .dropdown-menu(aria-labelledby="pagination-menu-link")
        //- my-account/billing = max of 100, min of 25
        //- my-account/logs = max of 100, min of 25
        //- my-account/emails = max of 100, min of 25
        //- my-account/domains/:domain_id/aliases = max of 500 min of 10
        //- NOTE: there's a weird bug where if you specify limit < 10 then results are weird
        //- (e.g. <https://forwardemail.net/en/my-account/domains/hideaddress.net/aliases?page=1&limit=5>)
        - let limits = [10, 25, 50];
        if ctx.query.limit === 25
          - limits = [10, 25, 50, 100];
        else if ctx.pathWithoutLocale.startsWith('/my-account/domains/') && ctx.pathWithoutLocale.endsWith('/aliases')
          - limits = [10, 25, 50, 100, 500];
        each limit in limits
          a.dropdown-item(
            class=ctx.query.limit === limit ? "active" : "",
            href=paginate.href({ page: 1, limit })
          )= t(limit.toString())
  if itemCount && itemCount > 1
    p.small.text-muted.text-center(
      class=pageCount && pageCount > 1 ? false : "mt-3 mt-md-0"
    )
      if itemCount >= 10000
        != t('<span class="notranslate">%d+</span> results found (showing first 10,000)', itemCount)
      else
        != t('<span class="notranslate">%d</span> results found', itemCount)
