mixin registerOrLogin(verb, isModal = false)
  div(class=isModal ? false : "container py-3")
    if !isModal
      .text-center
        h1.my-3.py-3
          = t(`${humanize(verb)} now`)
    div(class=isModal ? false : "row")
      div(class=isModal ? false : "col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3")
        - let dataDismissModal = false;
        - let dataToggle = false;
        - let dataTarget = false;
        - let anchorHref = "#";
        - const isRegisterOrLogin = ["/register", config.loginRoute].includes(ctx.pathWithoutLocale);
        if verb === 'sign up'
          - anchorHref = l(config.loginRoute);
          - dataDismissModal = isRegisterOrLogin ? false : "true";
          - dataToggle = isRegisterOrLogin ? false : "modal-anchor";
          - dataTarget = isRegisterOrLogin ? false : "#modal-log-in";
        else
          - anchorHref = l("/register");
          - dataDismissModal = isRegisterOrLogin ? false : "true";
          - dataToggle = isRegisterOrLogin ? false : "modal-anchor";
          - dataTarget = isRegisterOrLogin ? false : "#modal-sign-up";
        a.alert.alert-warning.text-center.d-block(
          href=anchorHref,
          data-dismiss-modal=dataDismissModal,
          data-toggle=dataToggle,
          data-target=dataTarget
        )
          span.alert-link
            = emoji("wave")
            = " "
            if verb === 'sign up'
              = t("Have an account?")
            else
              = t("Don't have an account?")
            = " "
            = t("Click here")
        if passport && passport.google
          a.btn-auth.btn-auth-google.btn-auth-google-dark.border-themed.border.mb-3.text-decoration-none(
            href="/auth/google",
            role="button"
          )
            .btn-auth-wrapper
              span.btn-auth-icon.lazyload(
                data-src=manifest("img/google-logo.svg")
              )
              noscript
                span.btn-auth-icon(
                  style=`background-image:url("${manifest("img/google-logo.svg")}")`
                )
              span.btn-auth-text= t(`${humanize(verb)} with Google`)
        if passport && passport.github
          a.btn-auth.btn-auth-github.btn-auth-github-dark.border-themed.border.mb-3.text-decoration-none(
            href="/auth/github",
            role="button"
          )
            .btn-auth-wrapper
              span.btn-auth-icon.lazyload(
                data-src=manifest("img/github-logo.svg")
              )
              noscript
                span.btn-auth-icon(
                  style=`background-image:url("${manifest("img/github-logo.svg")}")`
                )
              span.btn-auth-text= t(`${humanize(verb)} with GitHub`)
        if passport && (passport.google || passport.github)
          .hr-text.d-flex.text-secondary.align-items-center= t("or")
        - const action = verb === "sign up" ? "/register" : config.loginRoute;
        form.ajax-form(action=l(action), method="POST")
          .form-group.floating-label
            input.form-control(
              id=`input-email-${dashify(verb)}`,
              type="email",
              required,
              name="email",
              placeholder="name@example.com",
              autocomplete="email"
            )
            label(for=`input-email-${dashify(verb)}`)= t("Email address")
          .form-group.floating-label
            input.form-control(
              id=`input-password-${dashify(verb)}`,
              type="password",
              required,
              name="password",
              placeholder=" ",
              autocomplete=verb === "sign up" ? "off" : "current-password"
            )
            label(for=`input-password-${dashify(verb)}`)= t("Password")
          if config.turnstileEnabled
            noscript
              .alert.alert-danger.font-weight-bold.text-center.border-top-0.border-left-0.border-right-0.rounded-0.small!= t("Please enable JavaScript to use our website.")
            .cf-explicit-turnstile
          button.btn.btn-success.btn-lg.btn-block.font-weight-bold.text-uppercase(
            type="submit"
          )
            if verb === 'sign up'
              = t("Get started")
            else
              = t(capitalize(verb))
          if verb === 'sign up'
            p.mt-3.mb-1.text-center.small.text-black.text-themed-50!= t('You agree to our <a href="%s" target="_blank">Privacy Policy</a> and <a href="%s" target="_blank">Terms</a>.', l("/privacy"), l("/terms"))
          else if verb === 'log in'
            p.mt-3.mb-1.text-center.small
              a.text-black.text-themed-50(href=l("/forgot-password"))= t("Forget your password?")
