#testimonials.bg-fixed.bg-md-down-none.lazyload(
  data-src=manifest("img/articles/pricing-lg.webp"),
  data-ignore-hash-change
)
  .text-center.d-block.d-lg-none.mt-3
    .h2.display-3.mb-1.text-danger
      i.fa.fa-heart
    .h1!= t("Happy Customers")
  .container.py-3.py-lg-5.d-block
    .row.row-cols-1.row-cols-md-2
      //- DHH
      .col
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                width=50,
                height=50,
                src=manifest("img/testimonials/dhh.jpg"),
                alt="dhh"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/dhh.jpg"),
              alt="dhh"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div
                  | DHH
                  noscript
                    img.ml-1(
                      src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  img.ml-1(
                    loading="lazy",
                    data-src=manifest("img/testimonials/twitter-verified.svg"),
                    width=20,
                    height=20,
                    alt="Verified"
                  )
                .small.text-muted @dhh
          .mt-3
            | Congrats for fully launching Forward Email – a forwarding service
            | for email that doesn't keep logs or store emails, and which works with ARC to ensure
            | signed forwards don't trip email filters
            = " "
            = emoji("clap")
            | . I'm a happy user!
            = " "
            = emoji("heart")
          .mt-2.small.text-muted Creator of Ruby on Rails, Founder & CTO at Basecamp & HEY
      //- Abhi Nemani
      .col.mt-4.mt-md-0
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                width=50,
                height=50,
                src=manifest("img/testimonials/abhinemani.jpg"),
                alt="abhinemani"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/abhinemani.jpg"),
              alt="abhinemani"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div
                  | abhi nemani
                  noscript
                    img.ml-1(
                      src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  img.ml-1(
                    loading="lazy",
                    data-src=manifest("img/testimonials/twitter-verified.svg"),
                    width=20,
                    height=20,
                    alt="Verified"
                  )
                .small.text-muted @abhinemani
          .mt-3
            | Have now switched email forwarding from MailGun to
            = " "
            | ForwardEmail.net
            | . Simple and painless (and free!). Just some DNS changes, and it just works. Thanks
          .mt-2.small.text-muted Government Technology Advisor, Sacramento and Los Angeles
    .row.row-cols-1.row-cols-md-2
      //- Andrew Escobar
      .col.mt-4
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                src=manifest("img/testimonials/andrewe.jpg"),
                width=50,
                height=50,
                alt="Verified"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/andrewe.jpg"),
              alt="andrewe"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div
                  | Andrew Escobar (Andres)
                  noscript
                    img.ml-1(
                      src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  img.ml-1(
                    loading="lazy",
                    data-src=manifest("img/testimonials/twitter-verified.svg"),
                    width=20,
                    height=20,
                    alt="Verified"
                  )
                .small.text-muted @andrewe
          .mt-3
            | This is so dope. Thank you.
            = " "
            | forwardemail.net
          .mt-2.small.text-muted Fintech Explorer and Open Finance Advocate
      //- Ullrich Schäfer
      .col.mt-4
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                width=50,
                height=50,
                src=manifest("img/testimonials/stigi.jpg"),
                alt="stigi"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/stigi.jpg"),
              alt="stigi"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div Ullrich Schäfer
                .small.text-muted @stigi
          .mt-3
            | Thanks so much for
            = " "
            | forwardemail.net
            | ! It solves a real problem for our little org!
          .mt-2.small.text-muted Mobile Lead at Pitch, Formerly at Facebook and Soundcloud
    .row.row-cols-1.row-cols-md-2
      //- Andre Goncalves
      .col.mt-4
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                width=50,
                height=50,
                src=manifest("img/testimonials/andregce.jpg"),
                alt="andregce"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/andregce.jpg"),
              alt="andregce"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div Andre Goncalves
                .small.text-muted @andregce
          .mt-3
            | So they made this cool app that forwards email from your own domain to your Gmail inbox. There is even a catch all option, so sales@, support@, etc all goes to your own inbox. Check it out! It's free!
            = " "
            | forwardemail.net
          .mt-2.small.text-muted Computer Engineer, Software Developer
      //- Phil Cockfield
      .col.mt-4
        .p-4.border.border-themed.rounded-lg.bg-white.bg-themed.border-05rem
          .d-flex.align-items-top
            noscript
              img.rounded-circle(
                width=50,
                height=50,
                src=manifest("img/testimonials/philcockfield.jpg"),
                alt="philcockfield"
              )
            img.rounded-circle(
              loading="lazy",
              width=50,
              height=50,
              data-src=manifest("img/testimonials/philcockfield.jpg"),
              alt="philcockfield"
            )
            .d-flex.flex-column.ml-2.font-weight-bold.text-themed
              div
                div Phil
                .small.text-muted @philcockfield
          .mt-3
            | Thanks for your
            = " "
            | forwardemail.net
            | . What you've done is a beautiful thing! Your FAQ just smacks of integrity, and is just the thing I need.
          .mt-2.small.text-muted hypersheet, db.team
