#tti
  if tti
    .container.text-center.mb-3
      .row
        .col
          h2.h1.mt-3.mt-md-5
            = t("Time to Inbox")
      .row
        .col-xs-12.col-sm-12.col-md-8.offset-md-2
          .small.text-muted.mb-3
            != t('Last updated on <span class="dayjs" data-time="%d">%s</span>', tti.created_at.getTime(), dayjs(tti.created_at).format("M/D/YY h:mm A z"))
          p.small
            = t("We monitor how long it takes for emails sent by our service to be delivered to test inboxes at major email service providers.")
            = " "
            = t("This monitoring helps us to ensure high-quality IP reputation and email deliverability.")
            = " "
            = t("Our team of engineers are automatically alerted if any of these timers exceed 10 seconds.")
      .row
        .col
          .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch.justify-content-center.flex-grow-1.mt-3
            each provider, i in tti.providers
              - let providerClass = "mb-3";
              if i === tti.providers.length - 1
                - providerClass = "";
              .col-12.col-sm-6.col-lg-4(class=providerClass)
                p.lead.font-weight-bold= provider.name
                ul.list-inline.mb-0
                  li.list-inline-item.mr-3.border.p-3.rounded-lg
                    - let directClass = "text-success";
                    if provider.directMs === 0
                      - directClass = "text-muted";
                    else if provider.directMs > 10000
                      - directClass = "text-warning";
                    .h4.text-monospace.font-weight-bold(class=directClass)
                      if provider.directMs === 0
                        i.fa.fa-spin.fa-spinner.text-muted
                      else
                        = prettyMilliseconds(provider.directMs)
                    .small= t("Direct")
                  li.list-inline-item.border.p-3.rounded-lg
                    - let forwardingClass = "text-success";
                    if provider.forwardingMs === 0
                      - forwardingClass = "text-muted";
                    else if provider.forwardingMs > 10000
                      - forwardingClass = "text-warning";
                    .h4.text-monospace.font-weight-bold(class=forwardingClass)
                      if provider.forwardingMs === 0
                        i.fa.fa-spin.fa-spinner.text-muted
                      else
                        = prettyMilliseconds(provider.forwardingMs)
                    .small= t("Forwarding")
          if ctx.pathWithoutLocale === '/' || ctx.pathWithoutLocale === '/tti'
            .alert.alert-success.d-inline-block.mb-0.small.mt-3
              strong= t("Did you know?")
              = " "
              != t("We are the only email service with 100% open-source and transparent monitoring.")
              = " "
              != t('Source code is <a href="https://github.com/forwardemail/forwardemail.net/blob/master/jobs/tti.js" target="_blank" rel="noopener noreferrer" class="alert-link">available on GitHub</a>.')
          // if ctx.pathWithoutLocale === '/tti'
          //   .markdown-body: img.rounded-lg(src=manifest("img/articles/tti.webp"), alt="")
