
extends layout

block body
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    h1.display-3.font-weight-bold.text-white.my-3.text-uppercase= t('We are the standard')
    .row
      .col-md-12
        p.lead.text-white-50!= t('Our service was founded in 2017 by <a class="text-light" href="https://github.com/niftylettuce" target="_blank" rel="noopener">@niftylettuce</a> and is trusted and relied upon by thousands.')
  .py-5
    .text-center.mb-5
      .h2.display-3.mb-1= emoji('book')
      h2.display-5.font-weight-light.mb-0.text-uppercase= t('Our Story')
      small.text-black-50.text-uppercase= t('Why did we create this?')
    .container
      p.lead.font-weight-bold
        mark
          strong TLDR;
          = ' '
          != t('No email-forwarding service existed that was free, secure, and open-source &ndash; so we built one.')
      p.lead
        = t('We created this service after realizing that the only “free” email forwarding services that exist today are closed-source and proprietary.  This means they probably read your forwarded emails.')
        = ' '
        = t('We also practice the "do not repeat yourself" and "good coders code, great coders re-use" principles - so an endless search, trial, and error was conducted  on StackOverflow, GitHub, Gists, and elsewhere for alternative solutions.')
      p.lead.mb-0
        = t('Of course there is Haraka, sendmail, postfix, and dozens of other options, but they require a lot of setup, configuration, testing, maintenance, and are not simple. The current service offering for email forwarding is either extremely bloated, insecure, requires payment, has a convoluted setup with unsolved or undocumented bugs (that lead you down a rabbit hole of searching for hours to come up empty handed), or they are closed-source.')
        = ' '
        = t('There are also solutions that use "serverless" technologies, such as through Amazon SES and Amazon Lambda, but again they are extremely confusing, time intensive, and no typical user would go to those lengths for setup (and instead would probably end up using a simpler alternative as we almost did; in exchange for lack of privacy).')
        = ' '
        = t('Furthermore, solutions like Amazon SES do not allow you to modify the envelope of the SMTP request, therefore you will need to do an ugly Reply-To field and rewrite the From as well to something like from@noreply.com (which is really not clean).')
        = ' '
        = t('Then there is Gmail, which costs money for custom domains (it used to be free).  They obviously scan and parse your emails as well. They also do not allow you to easily set up email forwarding for custom domains anymore.')
        = ' '
        = t('There is also Zoho mail, but again that requires you signing up for an account with Zoho, and then forwarding over the emails in a configuration setting.')
