extends layout

block body
  .min-vh-80.d-flex.flex-column
    .container.py-3
      .text-center: h1.my-3.py-3= t("Denylist Removal")
      .row
        .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
          if user.group !== 'admin' && user.plan === 'free'
            .alert.alert-warning.text-center.mb-3
              != t("Need instant removal?")
              br.d-block.d-md-none
              = " "
              if isSANB(ctx.query.q) && ctx.query.q !== 'true'
                a.alert-link.text-decoration-underline(
                  href=l(`/my-account/billing/upgrade?plan=enhanced_protection&denylist=${ctx.query.q}`)
                )= t("Upgrade for $3")
              else
                a.alert-link.text-decoration-underline(
                  href=l("/my-account/billing/upgrade?plan=enhanced_protection&denylist=true")
                )= t("Upgrade for $3")
          else if user.group !== 'admin' && !user[config.hasDenylistRequests] && user[config.userFields.planSetAt] >= dayjs().startOf('day').subtract(30, 'days').toDate().getTime()
            .alert.alert-warning.text-center.mb-3
              != t("Submitting your request will void our refund policy.")
          else if user.group !== 'admin'
            .alert.alert-primary.text-center.mb-3
              != t("Requests are not permanent and removals may be reversed.")
          form.ajax-form(action=ctx.path, method="POST")
            if user.group === 'admin' && isSANB(ctx.query.email) && validator.isEmail(ctx.query.email)
              input(
                type="hidden",
                name="email",
                value=ctx.query.email.toLowerCase().trim()
              )
            .form-group.floating-label
              input#input-q.form-control.form-control-lg(
                type="text",
                required,
                name="q",
                value=isSANB(ctx.query.q) && ctx.query.q !== "true" ? ctx.query.q : "",
                readonly=isSANB(ctx.query.q) && !isFQDN(ctx.query.q) && !validator.isEmail(ctx.query.q) && !validator.isIP(ctx.query.q) && ctx.query.q !== "true",
                placeholder=" ",
                autocomplete=config.env === "test" ? "off" : randomstring()
              )
              label(for="input-q")
                if isSANB(ctx.query.q) && (!isFQDN(ctx.query.q) && !validator.isEmail(ctx.query.q) && !validator.isIP(ctx.query.q) && ctx.query.q !== 'true')
                  = t("Encrypted value to protect privacy")
                else
                  = t("Email, domain name, or IP address")
            if config.turnstileEnabled
              noscript
                .alert.alert-danger.font-weight-bold.text-center.border-top-0.border-left-0.border-right-0.rounded-0.small!= t("Please enable JavaScript to use our website.")
              .cf-explicit-turnstile
            button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Submit Request")
