extends layout

include _onboard
include _modal-domain-search

block append scripts
  if !isBot(ctx.get('User-Agent'))
    if config.env === 'test'
      script(
        defer,
        src=`${config.urls.web}/js/domain-search.js`,
        crossorigin="anonymous"
      )
    else
      script(
        defer,
        src=manifest("js/domain-search.js"),
        integrity=manifest("js/domain-search.js", "integrity"),
        crossorigin="anonymous"
      )

block body
  +modalDomainSearch
  .min-vh-80.d-flex.flex-column
    .container.py-3
      .row
        .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
          .card.border-themed
            h1.h4.card-header.bg-dark.text-white.text-center= t("Register a domain name")
            .card-body
              .text-center
                p= t("Search for a domain name to check availability and register.")
                button.btn.btn-success.btn-block.btn-lg(
                  type="button",
                  data-toggle="modal",
                  data-target="#modal-domain-search"
                )
                  i.fa.fa-search.mr-2
                  = t("Search Domain Availability")
                p.text-muted.small.mt-3.mb-0= t("Check if your desired domain is available and register it through Cloudflare.")
    +onboard(t('Already have a domain?'), t('Simply enter your domain below to setup its email.'), l('/faq?redirect_to_domain=true'), false, 'border-top').d-flex.flex-column.flex-grow-1.justify-content-end
