extends layout

include _onboard

block body
  .container.py-3
    .row
      .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        .card.border-dark
          h4.card-header.bg-dark.text-white.text-center= t("Register a domain name")
          .card-body
            .text-center
              p= t("Enter a custom domain name below to register.")
            form(
              target="_blank",
              action="https://www.anrdoezrs.net/links/9237059/type/dlg/https://www.namecheap.com/domains/registration/results.aspx"
            )
              .form-group.floating-label
                input#input-domain.form-control.form-control-lg(
                  name="domain",
                  autocomplete="off",
                  placeholder="example.com",
                  autocorrect="off",
                  spellcheck="false",
                  autocapitalize="off",
                  type="text"
                )
                label(for="input-domain")= t("Domain name")
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Continue")
  +onboard(t('Did you finish registering?'), t('Simply enter your domain below to setup free email forwarding.'), l('/faq?redirect_to_domain=true'), false, 'border-top').d-flex.flex-column.flex-grow-1.justify-content-end
