//- Pug makes it DOCTYPE if we do this:
//- `doctype html`
!= "<!doctype html>"
- const isNotPrivateRoute = ["/my-account", "/admin", "/verify", "/denylist", "/forgot-password", "/reset-password", "/help", "/auth", "/register", config.loginOtpRoute, config.loginRoute, config.verifyRoute, config.otpRoutePrefix].every((s) => !ctx.pathWithoutLocale.startsWith(s));
html.h-100.no-js(
  lang=locale,
  class=isBot(ctx.get("User-Agent")) ? "bot-detected" : "",
  dir=["ar", "he"].includes(locale) ? "rtl" : false
)
  head
    block meta
      include _meta
    block opengraph
      include _opengraph
    block fonts
      include _fonts
    block stylesheets
      style.
        :root {
          --scalar-font: "Nunito Sans", "Helvetica Neue", Arial, sans-serif;
          --scalar-font-code: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        }

      link(
        rel="stylesheet",
        href=manifest("css/app.css"),
        integrity=manifest("css/app.css", "integrity"),
        fetchpriority="high",
        crossorigin="anonymous"
      )
  body(role="document")
    include _nav
    .scalar-app-reset
      #app
    include _footer
    script(
      defer,
      src=manifest("js/build.js"),
      integrity=manifest("js/build.js", "integrity"),
      crossorigin="anonymous",
      fetchpriority="low"
    )
    script(src="/js/scalar.js", crossorigin="anonymous")
    if user
      script.
        window.API_TOKEN = "#{user[config.userFields.apiToken]}";
    - const API_SPEC = `${config.urls.web}/api-spec${locale === "en" ? "" : "-" + locale}.json`;
    script.
      window.API_URL = "#{config.urls.api}";
      window.WEB_URL = "#{config.urls.web}";
      window.OG_IMAGE = "#{ogImage}";
      window.SITE_NAME = "#{config.appName}";
      window.TITLE = "#{meta.title}";
      window.DESCRIPTION = "#{meta.description}";

      Scalar.createApiReference("#app", {
        withDefaultFonts: false,
        servers: [
          {
            url: window.API_URL,
          },
        ],
        url: "#{API_SPEC}",
        authentication: {
          preferredSecurityScheme: "ApiKeyAuth",
          securitySchemes: {
            ApiKeyAuth: {
              username: window.API_TOKEN || "",
              password: "",
            },
            AliasAuth: {
              name: "Authorization",
              in: "header",
              value: window.API_TOKEN || "",
            },
          },
        },
        favicon: "/img/favicon.svg",
        metaData: {
          title: window.TITLE,
          ogTitle: window.TITLE,
          description: window.DESCRIPTION,
          ogDescription: window.DESCRIPTION,
          ogImage: window.OG_IMAGE,
          siteName: window.SITE_NAME,
        },
        hideClientButton: true,
      });

    include _wikipedia
