block head
  //- prefetch fonts
  //- https://caniuse.com/link-rel-prefetch
  //- integrity attribute not currently supported
  //- <https://crbug.com/981419>
  //-.
  - const fonts = ["fa-solid-900.woff2", "fa-brands-400.woff2"];
  - fonts.push("nunito-sans-latin-400.woff2");
  - fonts.push("nunito-sans-latin-700.woff2");
  - fonts.push("vc-honey-latin-400.woff2");
  - fonts.push("vc-honey-latin-700.woff2");
  each font in fonts
    link(
      rel="prefetch",
      href=manifest(`fonts/${font}`),
      type="font/woff2",
      as="font",
      crossorigin="anonymous"
    )

  style.
    :root {
      --scalar-font: "Nunito Sans", "Helvetica Neue", Arial, sans-serif;
      --scalar-font-code: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

  link(
    rel="stylesheet",
    href=manifest("css/app.css"),
    integrity=manifest("css/app.css", "integrity"),
    fetchpriority="high",
    crossorigin="anonymous"
  )

block body
  include _nav
  .scalar-app-reset
    #app
  script(
    defer,
    src=manifest("js/build.js"),
    integrity=manifest("js/build.js", "integrity"),
    crossorigin="anonymous",
    fetchpriority="low"
  )
  - const ogImage = `${config.urls.web}${ctx.path}${ctx.pathWithoutLocale === "/" ? "/index" : ""}.png`;
  script(src="/js/scalar.js", crossorigin="anonymous")
  script.
    window.API_URL = "#{config.urls.api}";
    window.WEB_URL = "#{config.urls.web}";
    window.API_TOKEN = "#{user ? user[config.userFields.apiToken] : ""}";
    window.OG_IMAGE = "#{ogImage}";
    window.SITE_NAME = "#{config.appName}";
    window.TITLE = "#{meta.title}";
    window.DESCRIPTION = "#{meta.description}";

    Scalar.createApiReference("#app", {
      withDefaultFonts: false,
      servers: [
        {
          url: window.API_URL
        }
      ],
      url: `${window.WEB_URL}/api-spec.json`,
      authentication: {
        preferredSecurityScheme: "ApiKeyAuth",
        securitySchemes: {
          ApiKeyAuth: {
            username: window.API_TOKEN,
            password: "",
          },
          AliasAuth: {
            name: "Authorization",
            in: "header",
            value: window.API_TOKEN,
          },
        }
      },
      favicon: '/img/favicon.svg',
      metaData: {
        title: window.TITLE,
        ogTitle: window.TITLE,
        description: window.DESCRIPTION,
        ogDescription: window.DESCRIPTION,
        ogImage: window.OG_IMAGE,
        siteName: window.SITE_NAME
      }
    });
