extends layout

block body
  .min-vh-80.d-flex.flex-column
    .container.py-3
      .text-center: h1.my-3.py-3= t("Encrypt TXT Record")
      .row
        .col-sm-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
          .alert.alert-primary.text-center.mb-4.small
            != t("Enter your plaintext TXT record below to encrypt it &ndash; which will effectively hide and mask your forwarding configuration from being publicly searchable.")
          form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
            .form-group
              label(for="input-txt")= t("Plaintext TXT Record")
              textarea#input-txt.form-control(
                name="input",
                required,
                rows=3,
                maxlength=1000,
                placeholder="user@gmail.com"
              )= `forward-email=${user ? user.email : "user@gmail.com"}`
            button.btn.btn-success.btn-block.btn-lg(type="submit")= t("Encrypt")
          hr
          .alert.alert-secondary.small.mt-3
            = t("We allow you to encrypt records even on the free plan at no cost.")
            = " "
            = t("Privacy should not be a feature, it should be inherently built-in to all aspects of a product.")
            = " "
            != t('As highly requested in a <a target="_blank" class="alert-link" rel="noopener noreferrer" href="https://discuss.privacyguides.net/t/forward-email-email-provider/13370">Privacy Guides discussion</a> and on <a target="_blank" class="alert-link" rel="noopener noreferrer" href="https://github.com/forwardemail/forwardemail.net/issues/254">our GitHub issues</a> we\'ve added this.')
