extends layout

block body
  .container.py-3
    div: h1.text-center.my-3.py-3= t("Forgot Password")
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        .alert.alert-primary.text-center.mb-4= t("Enter your email address to continue.")
        form(action=ctx.path, method="POST").ajax-form
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .form-group.floating-label
            input#input-email(
              type="email",
              autofocus,
              autocomplete="email",
              name="email",
              placeholder="name@example.com"
            ).form-control.form-control-lg
            label(for="input-email")= t("Email address")
          button(type="submit").btn.btn-success.btn-block.btn-lg= t("Continue")
        .alert.alert-warning.mt-3.text-center
          ul.list-inline.mb-0
            li.list-inline-item= t("Remember your password?")
            li.list-inline-item
              a(href=l(config.loginRoute)).alert-link= t("Log in")
