
extends layout

block body
  .container.py-3
    .row
      .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        .card
          .card-body
            .text-center
              h1.card-title.h4= t('Forgot Password')
              p= t('Enter your email to reset password.')
            form.ajax-form(action=ctx.path, method="POST")
              input(type="hidden", name="_csrf", value=ctx.csrf)
              .form-group.floating-label
                input#input-email.form-control.form-control-lg(type="email", autocomplete="email", name="email", placeholder='name@example.com')
                label(for="input-email")= t('Email address')
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
          .card-footer.text-center
            = t('Remember it?')
            = ' '
            a.card-link(href=l('/login'))= t('Log in')
