
extends layout

include _onboard

block body
  - const hash = 'do-you-support-webhooks';
  if !user
    +onboard(
      t('Need email forwarding webhooks?'),
      t('Skip ahead to the instructions to forward emails to webhooks.'),
      l(`/faq?hash=${hash}`),
      l(`/faq#${hash}`),
      'border-bottom'
    )
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block.text-center
    .row
      .col-md-12
        p.lead.mb-0.text-white.font-weight-bold
          t= t('Easily set up webhooks for email delivery. We are the best alternative to Mailgun.')
  .container.py-5
    .text-center.mb-5
      h1.h2.display-5.font-weight-light.mb-0.text-uppercase= t('Email webhooks')
      small.text-black-50.text-uppercase= t('Setup an email webhook in minutes')
      p.text-muted.my-5.text-center
        a(href=l(`/faq#${hash}`)).btn.btn-lg.btn-primary= t('Create free email webhooks')
