extends layout

block append scripts
  script(defer, src="https://hcaptcha.com/1/api.js")

block body
  .container.py-5
    .row
      .col-sm-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        form(action=l("/help"), method="POST").ajax-form.confirm-prompt
          input(type="hidden", name="_csrf", value=ctx.csrf)
          .card
            h4.card-header.text-center= t("Ask a question")
            .card-body
              if ctx.pathWithoutLocale !== '/faq'
                p.card-text.font-weight-bold.text-center!= t('Have you read our <a href="%s" target="_blank" rel="noopener noreferrer">FAQ</a> yet?', l("/faq"))
              .form-group.floating-label
                input#input-email(
                  required,
                  autocomplete="email",
                  name="email",
                  type="email",
                  value=user ? user.email : "",
                  placeholder="name@example.com"
                ).form-control
                label(for="input-email")= t("Email address")
              .form-group.floating-label
                textarea#input-message(
                  rows="10",
                  required,
                  maxlength=config.supportRequestMaxLength,
                  name="message",
                  placeholder=t("Write your message")
                ).form-control
                label(for="input-message")= t("Message")
              if boolean(config.hcaptchaEnabled) && !user
                div(data-sitekey=config.hcaptchaSiteKey).h-captcha
                p: small.text-left.mb-3.text-muted= t("If you log in to your account, you will not need to fill out these captchas.")
            .card-footer
              button(
                type="submit",
                data-toggle="tooltip",
                data-placement="bottom",
                title=t("We'll be in contact with you!")
              ).btn.btn-block.btn-success.btn-lg= t("Send message")
