extends layout

block append stylesheets
  if freddyCss
    style(nonce=nonce)!= freddyCss

block append scripts
  if !isBot(ctx.get("User-Agent"))
    //- <https://github.com/mattboldt/typed.js/issues/592>
    script(defer, nonce=nonce).
      window.addEventListener(
        "load",
        function load() {
          if (!window.Typed) return setTimeout(load, 50);
          if ($("#typed-home").length === 0 || $("#typed-home-strings").length === 0) return;
          setTimeout(function () {
            const typed = new window.Typed("#typed-home", {
              stringsElement: "#typed-home-strings",
              smartBackspace: true,
              typeSpeed: 70,
              backSpeed: 70,
              startDelay: 2000,
              backDelay: 2000,
              autoInsertCss: false,
            });
          }, 7000);
        },
        false
      );

block body
  include _modal-storage
  //- modal watch video
  if !isBot(ctx.get('User-Agent'))
    #modal-watch-video.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-watch-video-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-watch-video-title.h4.d-inline-block.ml-4= t("Product Tour")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Forward Email's Paid Plans"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
            )
  if !isBot(ctx.get('User-Agent'))
    #modal-for-creators.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-creators-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-creators-title.h4.d-inline-block.ml-4= t("Email Forwarding for Creators")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Creators"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/ql9rtNpTid4?autoplay=0"
            )
    #modal-for-developers.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-developers-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-developers-title.h4.d-inline-block.ml-4= t("Email Forwarding for Developers")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Developers"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/1e9UyIoFu4Y?autoplay=0"
            )
    #modal-for-businesses.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-businesses-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-businesses-title.h4.d-inline-block.ml-4= t("Email Forwarding for Businesses")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Businesses"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/--p9LdmVSAw?autoplay=0"
            )
  .min-vh-100.d-flex.flex-column.pb-5(
    data-ignore-hash-change,
    id=!isPDF && (ctx.pathWithoutLocale === "/" || ctx.pathWithoutLocale === "/private-business-email") && !isBot(ctx.get("User-Agent")) ? "freddy" : "",
    class=isBot(ctx.get("User-Agent")) ? "" : "text-white"
  )
    - const isSafari = /^((?!chrome|android|crios|fxios).)*safari/i.test(ctx.get("User-Agent"));
    if (!isPDF && (ctx.pathWithoutLocale === '/' || ctx.pathWithoutLocale === '/private-business-email') && !isBot(ctx.get('User-Agent')))
      #stars.user-select-none(data-ignore-hash-change)
      if !isSafari
        #rocket.user-select-none(data-ignore-hash-change)
      #waving.user-select-none(
        class=isSafari ? "" : "floating-animation",
        data-ignore-hash-change
      )
    .container.my-auto.pt-5
      .row
        if !isBot(ctx.get("User-Agent"))
          #typed-home-strings.d-none(data-ignore-hash-change)
            div!= t("Email hosting<br /> for enterprise")
            div!= t("Email hosting<br /> for education")
            div!= t("Email hosting<br /> for startups")
            div!= t("Email hosting<br /> for stores")
            div!= t("Email hosting<br /> for designers")
            div!= t("Email hosting<br /> for developers")
            div!= t("Email hosting<br /> for marketing")
            div!= t("Email hosting<br /> for sales")
            div!= t("Email hosting<br /> for you")
        .col-12(
          class=["en"].includes(locale) ? "col-md-9 col-lg-8 col-xl-6" : "col-lg-9"
        )
        .col-12.text-center
          if isBot(ctx.get("User-Agent"))
            h1.mb-3.text-sans-serif(data-ignore-hash-change)= t("Free Email Forwarding Service")
          else
            #typed-home-header.h1.mb-3(data-ignore-hash-change)
              span#typed-home.text-sans-serif(data-ignore-hash-change)
                != t("Email hosting<br /> for everyone")
          if isBot(ctx.get("User-Agent"))
            p
              != t('For <span class="notranslate">%d</span> years and counting, we are the go-to email service for hundreds of thousands of creators, developers, and businesses.', dayjs().endOf("year").diff(dayjs("1/1/17", "M-D/YY"), "year"))
              = " "
              != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span> with your custom domain or use one of ours!')
          if !isBot(ctx.get("User-Agent"))
            a.btn.btn-success.btn-lg.font-weight-bold.text-uppercase.mt-3.mb-3.mb-md-5(
              href=l("/register"),
              data-toggle="modal-anchor",
              data-target="#modal-sign-up"
            )
              = t("Sign up free")

          if isBot(ctx.get("User-Agent"))
            ul.list-inline
              li.list-inline-item.d-block.d-md-inline
                a.btn.mb-3(
                  class=isBot(ctx.get("User-Agent")) ? "btn-dark" : "btn-light",
                  href=isBot(ctx.get("User-Agent")) ? l("/private-business-email") : l("/private-business-email?pricing=true")
                )
                  i.fa.fa-fw.fa-layer-group
                  = " "
                  != t("Features")
              //- Product Tour
              if !isBot(ctx.get('User-Agent'))
                li.list-inline-item.d-block.d-md-inline
                  a.btn.btn-light.mb-3(
                    role="button",
                    data-toggle="modal",
                    data-target="#modal-watch-video",
                    href="https://www.youtube.com/watch?v=N6zjv40zuIY",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    i.fab.fa-youtube.text-danger
                    = " "
                    = t("Tour")
              //- Developers
              li.list-inline-item.d-block.d-md-inline
                if isBot(ctx.get('User-Agent'))
                  a.btn.btn-dark.mb-3(href=l("/blog/docs"))
                    i.fa.fa-code
                    = " "
                    = t("Transactional Email API")
                else
                  a.btn.btn-light.mb-3(href=l("/blog/docs"))
                    i.fa.fa-code
                    = " "
                    = t("Developers")

    a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-white.mx-auto.bounce-animation(
      href="#learn-more"
    )
      i.fa.fa-angle-double-down
      = " "
      = t("Learn more")
      = " "
      i.fa.fa-angle-double-down
  #learn-more.bg-dark.text-white.py-3.d-block.overflow-hidden.no-search(
    data-ignore-hash-change
  )
    .container.text-center
      include _marketing
      .row.mb-3
        .col-12
          a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.mx-auto.text-white(
            href="#testimonials"
          )
            i.fa.fa-angle-double-down
            = " "
            = t("Testimonials")
            = " "
            i.fa.fa-angle-double-down
  #testimonials.bg-fixed.border-md-top.border-themed.lazyload(
    data-src=manifest("img/art/postcard.svg"),
    data-ignore-hash-change
  )
    .text-center.d-block.d-lg-none.mt-3
      .h2.display-3.mb-1.text-danger
        i.fa.fa-heart
      .h1!= t("Happy users")
    .container.py-3.py-lg-5.d-block
      .row.row-cols-1.row-cols-md-2
        //- DHH
        .col
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  width=50,
                  height=50,
                  src=manifest("img/testimonials/dhh.jpg"),
                  alt="dhh"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/dhh.jpg"),
                alt="dhh"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div
                    | DHH
                    noscript
                      img.ml-1(
                        src=manifest("img/testimonials/twitter-verified.svg"),
                        width=20,
                        height=20,
                        alt="Verified"
                      )
                    img.lazyload.ml-1(
                      data-src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  .small.text-muted @dhh
            .mt-3
              | Congrats for fully launching Forward Email – a forwarding service
              | for email that doesn't keep logs or store emails, and which works with ARC to ensure
              | signed forwards don't trip email filters
              = " "
              = emoji("clap")
              | . I'm a happy user!
              = " "
              = emoji("heart")
            .mt-2.small.text-muted Creator of Ruby on Rails, Founder & CTO at Basecamp & HEY
        //- Abhi Nemani
        .col.mt-4.mt-md-0
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  width=50,
                  height=50,
                  src=manifest("img/testimonials/abhinemani.jpg"),
                  alt="abhinemani"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/abhinemani.jpg"),
                alt="abhinemani"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div
                    | abhi nemani
                    noscript
                      img.ml-1(
                        src=manifest("img/testimonials/twitter-verified.svg"),
                        width=20,
                        height=20,
                        alt="Verified"
                      )
                    img.lazyload.ml-1(
                      data-src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  .small.text-muted @abhinemani
            .mt-3
              | Have now switched email forwarding from MailGun to
              = " "
              | ForwardEmail.net
              | . Simple and painless (and free!). Just some DNS changes, and it just works. Thanks
            .mt-2.small.text-muted Government Technology Advisor, Sacramento and Los Angeles
      .row.row-cols-1.row-cols-md-2
        //- Andrew Escobar
        .col.mt-4
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  src=manifest("img/testimonials/andrewe.jpg"),
                  width=50,
                  height=50,
                  alt="Verified"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/andrewe.jpg"),
                alt="andrewe"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div
                    | Andrew Escobar (Andres)
                    noscript
                      img.ml-1(
                        src=manifest("img/testimonials/twitter-verified.svg"),
                        width=20,
                        height=20,
                        alt="Verified"
                      )
                    img.lazyload.ml-1(
                      data-src=manifest("img/testimonials/twitter-verified.svg"),
                      width=20,
                      height=20,
                      alt="Verified"
                    )
                  .small.text-muted @andrewe
            .mt-3
              | This is so dope. Thank you.
              = " "
              | forwardemail.net
            .mt-2.small.text-muted Fintech Explorer and Open Finance Advocate
        //- Ullrich Schäfer
        .col.mt-4
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  width=50,
                  height=50,
                  src=manifest("img/testimonials/stigi.jpg"),
                  alt="stigi"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/stigi.jpg"),
                alt="stigi"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div Ullrich Schäfer
                  .small.text-muted @stigi
            .mt-3
              | Thanks so much for
              = " "
              | forwardemail.net
              | ! It solves a real problem for our little org!
            .mt-2.small.text-muted Mobile Lead at Pitch, Formerly at Facebook and Soundcloud
      .row.row-cols-1.row-cols-md-2
        //- Andre Goncalves
        .col.mt-4
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  width=50,
                  height=50,
                  src=manifest("img/testimonials/andregce.jpg"),
                  alt="andregce"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/andregce.jpg"),
                alt="andregce"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div Andre Goncalves
                  .small.text-muted @andregce
            .mt-3
              | So they made this cool app that forwards email from your own domain to your Gmail inbox. There is even a catch all option, so sales@, support@, etc all goes to your own inbox. Check it out! It's free!
              = " "
              | forwardemail.net
            .mt-2.small.text-muted Computer Engineer, Software Developer
        //- Phil Cockfield
        .col.mt-4
          .p-4.border.border-themed.bg-white.bg-themed.border-05rem
            .d-flex.align-items-top
              noscript
                img.rounded-circle(
                  width=50,
                  height=50,
                  src=manifest("img/testimonials/philcockfield.jpg"),
                  alt="philcockfield"
                )
              img.lazyload.rounded-circle(
                width=50,
                height=50,
                data-src=manifest("img/testimonials/philcockfield.jpg"),
                alt="philcockfield"
              )
              .d-flex.flex-column.ml-2.font-weight-bold.text-themed
                div
                  div Phil
                  .small.text-muted @philcockfield
            .mt-3
              | Thanks for your
              = " "
              | forwardemail.net
              | . What you've done is a beautiful thing! Your FAQ just smacks of integrity, and is just the thing I need.
            .mt-2.small.text-muted hypersheet, db.team
  include _tti
  .border-top.border-bottom.py-3.py-md-4.py-lg-5.d-block.bg-light.bg-themed
    .container
      .row.text-center.mb-3.mb-md-5
        .col-12
          .h2.display-3.mb-1.text-danger
            i.fab.fa-youtube
          .h1.mb-0!= t("Made for you")
      .row.text-center.mb-3.mb-md-5
        .col-12
          if isBot(ctx.get('User-Agent'))
            a.btn.btn-lg.btn-light.btn-block(
              href="https://www.youtube.com/watch?v=oWEVGMPXMbA",
              target="_blank",
              rel="noopener noreferrer"
            )
              i.fab.fa-youtube.text-danger
              = " "
              = t("Watch Video")
          else
            .lazyframe.border.d-block.mx-auto.lazyframe-bordered(
              data-vendor="youtube_nocookie",
              title=t("How to create unlimited email addresses and aliases"),
              data-src="https://www.youtube-nocookie.com/embed/oWEVGMPXMbA?autoplay=0"
            )
      .row
        .col-md.text-center.mb-3.mb-lg-0
          a.btn.btn-outline-dark.btn-lg(
            role=isBot(ctx.get("User-Agent")) ? false : "button",
            href="https://www.youtube.com/watch?v=ql9rtNpTid4",
            target="_blank",
            rel="noopener noreferrer",
            data-toggle=isBot(ctx.get("User-Agent")) ? false : "modal",
            data-target=isBot(ctx.get("User-Agent")) ? false : "#modal-for-creators"
          )
            i.fa.fa-play-circle
            = " "
            if isBot(ctx.get('User-Agent'))
              = t("Website Email Forwarding")
            else
              = t("Creators")
        .col-md.text-center.mb-3.mb-md-0
          a.btn.btn-outline-dark.btn-lg(
            role=isBot(ctx.get("User-Agent")) ? false : "button",
            data-toggle=isBot(ctx.get("User-Agent")) ? false : "modal",
            data-target=isBot(ctx.get("User-Agent")) ? false : "#modal-for-developers",
            href="https://www.youtube.com/watch?v=1e9UyIoFu4Y",
            target="_blank",
            rel="noopener noreferrer"
          )
            i.fa.fa-play-circle
            = " "
            if isBot(ctx.get('User-Agent'))
              = t("Startup Email Forwarding")
            else
              = t("Developers")
        .col-md.text-center
          a.btn.btn-outline-dark.btn-lg(
            role=isBot(ctx.get("User-Agent")) ? false : "button",
            data-toggle=isBot(ctx.get("User-Agent")) ? false : "modal",
            data-target=isBot(ctx.get("User-Agent")) ? false : "#modal-for-businesses",
            href="https://www.youtube.com/watch?v=--p9LdmVSAw",
            target="_blank",
            rel="noopener noreferrer"
          )
            i.fa.fa-play-circle
            = " "
            if isBot(ctx.get('User-Agent'))
              = t("Shopify Email Forwarding")
            else
              = t("Businesses")

  .bg-dark.py-3.py-md-5.d-block
    .container
      .row
        .col-12
          h2.display-3.font-weight-bold.text-white.my-3.my-md-3
            if isBot(ctx.get('User-Agent'))
              = t("Open-source email forwarding")
            else
              = t("Open-source")
      .row
        .col-12.col-md-9.col-lg-8
          p.lead.text-white.mb-3.mb-md-5
            != t('Unlike other services, we <strong class="font-weight-bold">do not store logs</strong> (with the exception of <a href="%s" class="text-themed font-weight-bold" target="_blank">errors</a> and <a href="%s" class="text-themed font-weight-bold" target="_blank">outbound SMTP</a>) and are <strong class="font-weight-bold">100% open-source</strong>.', l("/faq#do-you-store-error-logs"), l("/faq#do-you-support-sending-email-with-smtp"))
            = " "
            != t('We\'re the <strong class= border-bottom">only</strong> service that <strong class="font-weight-bold">never stores nor writes to disk</strong> any emails &ndash; it\'s all done in-memory.')
          ul.list-inline
            li.list-inline-item
              a.btn.btn-outline-light.btn-lg.mb-md-5(href=l("/privacy"))
                = t("Privacy Policy")
            li.list-inline-item
              a.btn.btn-outline-light.btn-lg.mb-md-5(
                href="https://github.com/forwardemail",
                target="_blank",
                rel="noopener noreferrer"
              )
                = t("Source Code")
        .d-flex.col-md-3.col-lg-4.pt-3.text-center
          noscript.ml-auto.mr-auto.mr-md-none
            img.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
              src=manifest("img/github-logo-white.svg"),
              width=200,
              height=200,
              alt=""
            )
          img.lazyload.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
            data-src=manifest("img/github-logo-white.svg"),
            width=200,
            height=200,
            alt=""
          )
  .py-3.py-md-4.py-lg-5.position-relative.bg-white.bg-themed.bg-fixed.lazyload(
    data-src=manifest("img/art/stars.svg")
  )
    .text-center.mb-lg-5
      .h1.mb-0= t("Features")
    .container
      .row.d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
        .col-12.col-lg-6.d-flex
          .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-themed.bg-md-white.bg-themed.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("Privacy-focused")
            p.lead.mb-3= t("We created this service because you have a right to privacy.  Existing services did not respect it.  We use robust encryption with TLS, do not store SMTP logs (with the exception of errors and outbound SMTP), and do not write your emails to disk storage.", l("/faq#do-you-store-error-logs"))
            a.d-none.d-md-block.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l("/privacy")
            )
              = t("Regain your privacy")
              = " "
              i.fa.fa-angle-double-right.align-middle
            a.d-md-none.mt-auto.stretched-link.btn.btn-md.btn-dark(
              href=l("/privacy")
            )
              = t("Regain your privacy")
              = " "
              i.fa.fa-angle-double-right.align-middle
        .col-12.col-lg-6.d-flex
          .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-themed.bg-md-white.bg-themed.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("Disposable Addresses")
            p.lead.mb-3!= t("Create a specific or an anonymous email address that forwards to you.  You can even assign it a label and enable or disable it at any time to keep your inbox tidy.  Your actual email address is never exposed.")
            a.d-none.d-md-block.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l("/disposable-addresses")
            )
              = t("Disposable addresses")
              = " "
              i.fa.fa-angle-double-right.align-middle
            a.d-md-none.mt-auto.stretched-link.btn.btn-md.btn-dark(
              href=l("/disposable-addresses")
            )
              = t("Disposable addresses")
              = " "
              i.fa.fa-angle-double-right.align-middle
        .col-12.col-lg-6.d-flex
          .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-themed.bg-md-white.bg-themed.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t("Multiple Recipients and Wildcards")
            p.lead.mb-3!= t("You can forward a single address to multiple, and even use wildcard addresses &ndash; also known as catch-all's.  Managing your company's inboxes has never been easier.")
            a.d-none.d-md-block.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l("/register"),
              role="button",
              data-toggle="modal-anchor",
              data-target="#modal-sign-up"
            )
              = t("Start forwarding now")
              = " "
              i.fa.fa-angle-double-right.align-middle
            a.d-md-none.mt-auto.stretched-link.btn.btn-md.btn-dark(
              href=l("/register"),
              role="button",
              data-toggle="modal-anchor",
              data-target="#modal-sign-up"
            )
              = t("Start forwarding now")
              = " "
              i.fa.fa-angle-double-right.align-middle
        .col-12.col-lg-6.d-flex
          .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-themed.bg-md-white.bg-themed.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
            h2.display-5.font-weight-bold.mb-3= t('"Send mail as" with Gmail and Outlook')
            p.lead.mb-3= t("You'll never have to leave your inbox to send out emails as if they're from your company.  Send and reply-to messages as if they're from you@company.com directly from you@gmail.com or you@outlook.com.")
            a.d-none.d-md-block.mt-auto.stretched-link.btn.btn-lg.btn-outline-dark(
              href=l("/guides/send-mail-as-gmail-custom-domain")
            )
              = t("Configure your inbox")
              = " "
              i.fa.fa-angle-double-right.align-middle
            a.d-md-none.mt-auto.stretched-link.btn.btn-md.btn-dark(
              href=l("/guides/send-mail-as-gmail-custom-domain")
            )
              = t("Configure your inbox")
              = " "
              i.fa.fa-angle-double-right.align-middle
  #enterprise-grade.bg-dark.py-3.py-md-5.d-block.overflow-hidden(
    data-ignore-hash-change
  )
    .container
      .row
        .col-12
          h2.display-3.font-weight-bold.text-white.my-3.my-md-5= t("Enterprise-grade")
      .row
        .col-12.col-lg-8
          p.lead.text-white
            != t("We're <strong>email security</strong> and <strong>deliverability experts</strong>.")
          ul.list-unstyled.text-white.text-left.d-inline-block.mb-3.mb-md-5
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t("Protection against phishing, malware, viruses, and spam.")
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t("Industry standard checks for DMARC, SPF, DKIM, SRS, ARC, and MTA-STS.")
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t("SOC 2 Type 2 compliant bare metal servers from Vultr and Digital Ocean.")
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t("Unlike other services, we use 100% open-source software.")
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t("Backscatter prevention, denylists, and rate limiting.")
            li
              i.fa.fa-fw.fa-check-circle.text-success
              = " "
              != t('Global load balancers and application-level DNS over HTTPS ("DoH").')
        .d-flex.col-12.col-lg-4.pt-3.text-center
          noscript
            img.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
              src=manifest("img/art/group.svg"),
              width=369,
              height=200,
              alt=""
            )
          img.lazyload.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
            data-src=manifest("img/art/group.svg"),
            width=369,
            height=200,
            alt=""
          )
