
extends layout

block body
  #modal-for-creators.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-creators-title', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.text-center.d-block
          h1.h4.modal-title.d-inline-block.ml-4#modal-for-creators-title= t('For Creators')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body
          iframe(width='100%', height='450', src='https://www.youtube.com/embed/ql9rtNpTid4?controls=0', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
  #modal-for-developers.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-developers-title', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header.text-center.d-block
            h1.h4.modal-title.d-inline-block.ml-4#modal-for-developers-title= t('For Developers')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body
            iframe(width='100%', height='450', src='https://www.youtube.com/embed/1e9UyIoFu4Y', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
  #modal-for-businesses.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-businesses-title', aria-hidden='true')
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header.text-center.d-block
            h1.h4.modal-title.d-inline-block.ml-4#modal-for-businesses-title= t('For Businesses')
            button(type='button', data-dismiss='modal', aria-label='Close').close
              span(aria-hidden='true') &times;
          .modal-body
            iframe(width='100%', height='450', src='https://www.youtube.com/embed/--p9LdmVSAw', frameborder='0', allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture', allowfullscreen)
  .min-vh-80.text-center.d-flex.flex-column
    .container.my-auto.py-2.py-sm-3.py-md-5
      .row
        .col-12.col-lg-10.offset-lg-1
          h1.display-4.font-weight-bold.mb-3!= t('Free Email Forwarding')
          //- h2.h3.font-weight-light.mb-3= t('Set up email forwarding for your custom domain in seconds.')
          p.lead.font-weight-normal.mb-3.text-black-50
            != t('Create and forward an <u class="font-weight-bold">unlimited</u> amount of email addresses with your domain name.')
            span.d-none.d-lg-block
            span.d-lg-none= ' '
            = t('Plus get catch-all, wildcard, and disposable forwarding addresses!')
          a.btn.btn-primary.btn-lg.text-uppercase.font-weight-bold.mb-2(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')
            = t('Sign up for free')
            = ' '
            i.fa.fa-angle-double-right
          small.d-block.text-muted.text-uppercase.text-black-50.font-weight-bold
            u!= t('No credit card required')
    a(href='#learn-more').text-decoration-none.text-black-50.pt-1.pb-4.pt-md-4.d-block.text-monospace.text-uppercase
      i.fa.fa-angle-down
      = ' '
      = t('Learn more')
  .container-fluid.bg-primary.py-3.px-5.py-md-5.d-block#learn-more   
    .row.text-center.d-block
      h1.display-5.font-weight-bold.text-light.mb-2.text-uppercase= t('Email Forwarding for You')
      p.lead.text-dark.mb-z.mb-md-4
        != t('Whatever your project or business is, we got you covered. Check out the videos below to see how we can help you succeed!')
    .row
      .col-sm.text-center
        button.btn.btn-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-creators')
          i.fa.fa-play-circle
          = ' '
          = t('For Creators')
      .col-sm.text-center
        button.btn.btn-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-developers')
          i.fa.fa-play-circle
          = ' '
          = t('For Developers')
      .col-sm.text-center
        button.btn.btn-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-businesses')
          i.fa.fa-play-circle
          = ' '
          = t('For Businesses')
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block
    h2.display-3.font-weight-bold.text-white.my-3.my-md-5
      = emoji('lock')
      = ' '
      = t('Protect your inbox.')
    .row
      .col-12.col-md-9.col-lg-6
        p.lead.text-white.mb-3.mb-md-5
          != t('We use industry standard email header validation and signature checks, spam prevention tools, DNS blacklist lookups, and domain verification.  All powered by Cloudflare\'s <a href="https://blog.cloudflare.com/announcing-1111/" target="_blank" rel="noopener" class="text-white">privacy-first consumer DNS service</a>.')
        a.btn.btn-outline-light.btn-lg.mb-md-5(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')
          = t('Stay protected')
          = ' '
          i.fa.fa-angle-double-right
      .d-flex.col-md-3.col-lg-6.pt-3
        img(src=manifest('img/logo-square.svg'), width=200, height=200, alt="").mt-auto.ml-auto.flex-shrink-0.mb-3.mb-md-0
  .pt-5.pb-lg-5.text-center.bg-light
    .h2.display-3.mb-1= emoji('tada')
    h2.display-5.font-weight-light.text-black-50.mb-0.text-uppercase= t('Our Features')
  .container-fluid.bg-light.pb-5.position-relative
    .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Privacy First')
          p.lead.mb-3= t("We created this service because you have a right to privacy.  Existing services did not respect it.  We use robust encryption and a zero-tolerance policy for logs of any kind.")
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Regain your privacy')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Regain your privacy')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Disposable Addresses')
          p.lead.mb-3!= t('Create a specific or an anonymous email address that forwards to you.  You can even assign it a label and enable or disable it at any time to keep your inbox tidy.  Your actual email address is never exposed.')
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Disposable addresses')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Disposable addresses')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Multiple Recipients and Wildcards')
          p.lead.mb-3!= t('You can forward a single address to multiple, and even use wildcard addresses &ndash; also known as catch-all\'s.  Managing your company\'s inboxes has never been easier.')
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Start forwarding now')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Start forwarding now')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('"Send mail as" with Gmail')
          p.lead.mb-3= t("You'll never have to leave your inbox to send out emails as if they're from your company.  Send and reply-to messages as if they're from you@company.com directly from you@gmail.com.")
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Configure your inbox')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Configure your inbox')
            = ' '
            i.fa.fa-angle-double-right
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block
    h2.display-3.font-weight-bold.text-white.my-3.my-md-3
      = emoji('heart')
      = ' '
      = t('100% open-source.')
    .row
      .col-12.col-md-9.col-lg-6
        p.lead.text-white.mb-3.mb-md-5
          != t('Unlike other services, we <u>don\'t</u> store logs, <u>never</u> read emails, and are <u>100%</u> open-source.  Made by <a href="https://github.com/niftylettuce" class="text-white" target="_blank" rel="noopener">@niftylettuce</a>, an open-source enthusiast and privacy advocate.')
        a.btn.btn-outline-light.btn-lg.mb-md-5(href='https://github.com/forwardemail', target='_blank', rel='noopener')
          = t('View source code')
          = ' '
          i.fa.fa-angle-double-right
      .d-flex.col-md-3.col-lg-6.pt-3
        img(src=manifest('img/github-logo-white.svg'), width=200, height=200, alt="").mt-auto.ml-auto.flex-shrink-0.mb-3.mb-md-0
  .py-3.py-md-5.text-center.bg-light
    .h2.display-3.mb-1= emoji('zap')
    h2.display-5.font-weight-light.text-black-50.mb-3.text-uppercase= t('Our Numbers')
    .container-fluid
      .row
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('99.99%')
          .text-monospace.text-uppercase.text-black-50= t('Service Uptime')
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('3')
          .text-monospace.text-uppercase.text-black-50= t('Global Servers')
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('20K+')
          .text-monospace.text-uppercase.text-black-50= t('Active Users')
    .display-3.my-3
      = emoji('star')
      = ' '
      = emoji('star')
      = ' '
      = emoji('star')
      = ' '
      = emoji('star')
      = ' '
      = emoji('star')
    .text-monospace.text-uppercase.text-black-50.mb-1= t('Trusted by the community')
    h2.display-5.font-weight-light.text-uppercase= t('1,000+ Stars')
