
extends layout

block body
  #modal-for-creators.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-creators-title', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.text-center.d-block
          h1.h4.modal-title.d-inline-block.ml-4#modal-for-creators-title= t('Free Email Forwarding for Creators')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body
          .lazyframe(title=t('Free Email Forwarding for Creators'), style='width:100%;height:450px;', data-vendor='youtube_nocookie', data-src='https://www.youtube-nocookie.com/embed/ql9rtNpTid4?autoplay=0')
  #modal-for-developers.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-developers-title', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.text-center.d-block
          h1.h4.modal-title.d-inline-block.ml-4#modal-for-developers-title= t('Free Email Forwarding for Developers')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body
          .lazyframe(title=t('Free Email Forwarding for Developers'), style='width:100%;height:450px;', data-vendor='youtube_nocookie', data-src='https://www.youtube-nocookie.com/embed/1e9UyIoFu4Y?autoplay=0')
  #modal-for-businesses.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-for-businesses-title', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.text-center.d-block
          h1.h4.modal-title.d-inline-block.ml-4#modal-for-businesses-title= t('Free Email Forwarding for Businesses')
          button(type='button', data-dismiss='modal', aria-label='Close').close
            span(aria-hidden='true') &times;
        .modal-body
          .lazyframe(title=t('Free Email Forwarding for Businesses'), style='width:100%;height:450px;', data-vendor='youtube_nocookie', data-src='https://www.youtube-nocookie.com/embed/--p9LdmVSAw?autoplay=0')
  .min-vh-80.text-center.d-flex.flex-column
    .container.my-auto.py-2.py-sm-3.py-md-5
      .row
        .col-12.col-lg-10.offset-lg-1
          h1.display-4.font-weight-bold.mb-3!= t('Free Email Forwarding')
          p.lead.mb-3.mb-lg-0.d-block
            != t('Create <strong class="font-weight-bold">unlimited</strong> email addresses for free using your custom domain.')
          p.lead.mb-3.d-none.d-lg-block
            != t('Plus get catch-all, wildcard, and disposable aliases &ndash; all for free!')
          a.btn.btn-dark.btn-lg.text-uppercase.font-weight-bold.mb-2(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')
            = t('Sign up free')
            = ' '
            i.fa.fa-angle-double-right
          small.d-block.text-muted.text-uppercase.font-weight-bold
            u!= t('No credit card required')
    a(href='#learn-more').text-decoration-none.pt-1.pb-4.pt-md-4.d-block.text-monospace.text-uppercase.text-dark
      i.fa.fa-angle-down
      = ' '
      = t('Learn more')
  .container-fluid.bg-light.border-top.border-bottom.p-5.d-block#learn-more
    .row.text-center.d-block.mb-5
      .h2.display-3.mb-1.text-danger
        i.fab.fa-youtube
      h1.display-4.text-uppercase.font-weight-bold!= t('Made for <u>you</u>.')
    .row
      .col-md.text-center.d-block.mb-5
        .lazyframe.border.border-dark.d-inline-block(data-vendor='youtube_nocookie', title=t('How to create unlimited email addresses and aliases'), style='max-width:100%; border-width:0.5rem !important;width:640px;height:360px', data-src='https://www.youtube-nocookie.com/embed/oWEVGMPXMbA?autoplay=0')
    .row
      .col-md.text-center.mb-3.mb-md-0
        button.btn.btn-outline-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-creators')
          i.fa.fa-play-circle
          = ' '
          if isBot(ctx.get('User-Agent'))
            = t('Website Email Forwarding')
          else
            = t('Creators')
      .col-md.text-center.mb-3.mb-md-0
        button.btn.btn-outline-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-developers')
          i.fa.fa-play-circle
          = ' '
          if isBot(ctx.get('User-Agent'))
            = t('Startup Email Forwarding')
          else
            = t('Developers')
      .col-md.text-center
        button.btn.btn-outline-dark.btn-lg.text-uppercase.font-weight-bold(type='button', data-toggle='modal', data-target='#modal-for-businesses')
          i.fa.fa-play-circle
          = ' '
          if isBot(ctx.get('User-Agent'))
            = t('Shopify Email Forwarding')
          else
            = t('Businesses')
  .container.p-5.d-block#happy-users
    .row.text-center.d-block.mb-5
      .h2.display-3.mb-1.text-danger
        i.fa.fa-heart
      h1.display-4.text-uppercase.font-weight-bold!= t('100K+ Happy Users.')
      p.lead.mb-3.mb-lg-0.d-block
        != t('Trusted by the folks at <a href="https://flutter.dev/" target="_blank" rel="noopener noreferrer">Flutter</a>, <a href="https://www.disneyadsales.com/" target="_blank" rel="noopener noreferrer">Disney Ad Sales</a> &ndash; and thousands more.')
    .row.row-cols-1.row-cols-md-2
      //- DHH
      .col
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/dhh/status/1331183379686055936', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/dhh.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div
                  | DHH
                  img(src=manifest('img/testimonials/twitter-verified.svg'), width=20, height=20).ml-1
                .small.text-muted @dhh
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            | Congrats to
            = ' '
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
            = ' '
            | for fully launching Forward Email – a forwarding service
            | for email that doesn't keep logs or store emails, and which works with ARC to ensure
            | signed forwards don't trip email filters
            = ' '
            = emoji('clap')
            | . I'm a happy user!
            = ' '
            = emoji('heart')
          .mt-2.small.text-muted.font-italic.font-weight-light Creator of Ruby on Rails, Founder & CTO at Basecamp & HEY
      //- Abhi Nemani
      .col.mt-4.mt-md-0
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/abhinemani/status/1187406737101545473', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/abhinemani.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div
                  | abhi nemani
                  img(src=manifest('img/testimonials/twitter-verified.svg'), width=20, height=20).ml-1
                .small.text-muted @abhinemani
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            | Have now switched email forwarding from MailGun to
            = ' '
            a(href='https://forwardemail.net') ForwardEmail.net
            | . Simple and painless (and free!). Just some DNS changes, and it just works. Thanks
            = ' '
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
          .mt-2.small.text-muted.font-italic.font-weight-light Government Technology Advisor, Sacramento and Los Angeles
    .row.row-cols-1.row-cols-md-2
      //- Andrew Escobar
      .col.mt-4
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/andrewe/status/1016554126711275520', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/andrewe.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div
                  | Andrew Escobar (Andres)
                  img(src=manifest('img/testimonials/twitter-verified.svg'), width=20, height=20).ml-1
                .small.text-muted @andrewe
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
            |  This is so dope. Thank you.
            = ' '
            a(href='https://forwardemail.net') forwardemail.net
          .mt-2.small.text-muted.font-italic.font-weight-light Fintech Explorer and Open Finance Advocate
      //- Ullrich Schäfer
      .col.mt-4
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/stigi/status/1070084392402460674', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/stigi.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div Ullrich Schäfer
                .small.text-muted @stigi
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
            |  Thanks so much for
            = ' '
            a(href='https://forwardemail.net') forwardemail.net
            | ! It solves a real problem for our little org!
          .mt-2.small.text-muted.font-italic.font-weight-light Mobile Lead at Pitch, Formerly at Facebook and Soundcloud
    .row.row-cols-1.row-cols-md-2
      //- Andre Goncalves
      .col.mt-4
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/andregce/status/1290014041465933824', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/andregce.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div Andre Goncalves
                .small.text-muted @andregce
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            | So
            = ' '
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
            = ' '
            | made this cool app that forwards email from your own domain to your Gmail inbox. There is even a catch all option, so sales@, support@, etc all goes to your own inbox. Check it out! It's free!
            = ' '
            a(href='https://forwardemail.net') forwardemail.net
          .mt-2.small.text-muted.font-italic.font-weight-light Computer Engineer, Software Developer
      //- Phil Cockfield
      .col.mt-4
        .p-4.border.border-gray-100.rounded-lg
          a(href='https://twitter.com/philcockfield/status/1035659754587095040', target='_blank', rel='noopener noreferrer').d-flex.align-items-top.text-decoration-none
            img.rounded-circle(width=50, height=50, src=manifest('img/testimonials/philcockfield.jpg'))
            .d-flex.flex-column.ml-2.font-weight-bold.text-dark
              div
                div Phil
                .small.text-muted @philcockfield
            .ml-auto
              i.fa.fa-twitter
          .mt-3.font-weight-light
            a(href='https://twitter.com/niftylettuce', target='_blank', rel='noopener noreferrer') @niftylettuce
            |  thanks for your
            = ' '
            a(href='https://forwardemail.net') forwardemail.net
            | . What you've done is a beautiful thing! Your FAQ just smacks of integrity, and is just the thing I need.
          .mt-2.small.text-muted.font-italic.font-weight-light hypersheet, db.team
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block
    h2.display-3.font-weight-bold.text-white.my-3.my-md-5
      i.fa.fa-fingerprint
      = ' '
      = t('Protect your inbox.')
    .row
      .col-12.col-md-9.col-lg-6
        p.lead.text-white.mb-3.mb-md-5
          != t('We use industry standard email header validation and signature checks, spam prevention tools, DNS blacklist lookups, and domain verification.  All powered by Cloudflare\'s <a href="https://blog.cloudflare.com/announcing-1111/" target="_blank" rel="noopener noreferrer" class="text-white">privacy-first consumer DNS service</a>.')
        a.btn.btn-outline-light.btn-lg.mb-md-5(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')
          = t('Stay protected')
          = ' '
          i.fa.fa-angle-double-right
      .d-flex.col-md-3.col-lg-6.pt-3
        img(src=manifest('img/logo-square.svg'), width=200, height=200, alt="").mt-auto.ml-auto.flex-shrink-0.mb-3.mb-md-0
  .pt-5.pb-lg-5.text-center.bg-light
    .h2.display-3.mb-1.text-danger
      i.fa.fa-heart
    h2.display-5.font-weight-light.mb-0.text-uppercase= t('Our Features')
  .container-fluid.bg-light.pb-5.position-relative
    .d-flex.flex-row.align-content-between.flex-wrap.align-items-stretch
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Privacy First')
          p.lead.mb-3= t("We created this service because you have a right to privacy.  Existing services did not respect it.  We use robust encryption and a zero-tolerance policy for logs of any kind.")
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Regain your privacy')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Regain your privacy')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-0.m-2.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Disposable Addresses')
          p.lead.mb-3!= t('Create a specific or an anonymous email address that forwards to you.  You can even assign it a label and enable or disable it at any time to keep your inbox tidy.  Your actual email address is never exposed.')
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Disposable addresses')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Disposable addresses')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('Multiple Recipients and Wildcards')
          p.lead.mb-3!= t('You can forward a single address to multiple, and even use wildcard addresses &ndash; also known as catch-all\'s.  Managing your company\'s inboxes has never been easier.')
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Start forwarding now')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Start forwarding now')
            = ' '
            i.fa.fa-angle-double-right
      .col-12.col-lg-6.d-flex
        .p-md-5.mt-5.mt-lg-2.m-2.mb-lg-0.rounded-lg.border-md.border-dark.bg-md-white.border-md.dark-50.border-md.d-flex.flex-column.flex-grow-1.align-items-start
          h2.display-5.font-weight-bold.mb-3= t('"Send mail as" with Gmail')
          p.lead.mb-3= t("You'll never have to leave your inbox to send out emails as if they're from your company.  Send and reply-to messages as if they're from you@company.com directly from you@gmail.com.")
          a.d-none.d-md-block.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-lg.btn-outline-dark
            = t('Configure your inbox')
            = ' '
            i.fa.fa-angle-double-right
          a.d-md-none.mt-auto(href=l('/register'), role='button', data-toggle='modal-anchor', data-target='#modal-sign-up').stretched-link.btn.btn-sm.btn-dark
            = t('Configure your inbox')
            = ' '
            i.fa.fa-angle-double-right
  .container-fluid.bg-dark.py-3.px-5.py-md-5.d-block
    h2.display-3.font-weight-bold.text-white.my-3.my-md-3
      i.fa.fa-code
      = ' '
      = t('100% open-source.')
    .row
      .col-12.col-md-9.col-lg-6
        p.lead.text-white.mb-3.mb-md-5
          != t('Unlike other services, we <strong class="font-weight-bold">do not keep logs</strong> nor metadata, <strong class="font-weight-bold">never read</strong> your emails, and are <strong class="font-weight-bold">100% open-source</strong>.')
          = ' '
          != t("We're the <strong class=\"text-uppercase font-weight-bold border-bottom\">only</strong> service that <strong class=\"font-weight-bold\">never stores nor writes to disk</strong> any emails &ndash; it's all done in-memory.")
          = ' '
          != t('Made by <a href="https://github.com/niftylettuce" class="text-success font-weight-bold" target="_blank" rel="noopener noreferrer">@niftylettuce</a>, an open-source and privacy advocate.')
        a.btn.btn-outline-light.btn-lg.mb-md-5(href='https://github.com/forwardemail', target='_blank', rel='noopener noreferrer')
          = t('View source code')
          = ' '
          i.fa.fa-angle-double-right
      .d-flex.col-md-3.col-lg-6.pt-3
        img(src=manifest('img/github-logo-white.svg'), width=200, height=200, alt="").mt-auto.ml-auto.flex-shrink-0.mb-3.mb-md-0
  .py-3.py-md-5.text-center.bg-light
    .h2.display-3.mb-1.text-primary
      i.fa.fa-globe
    h2.display-5.font-weight-light.mb-3.text-uppercase= t('Our Numbers')
    .container-fluid
      .row
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('99.99%')
          .text-monospace.text-uppercase= t('Service Uptime')
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('7')
          .text-monospace.text-uppercase= t('Global Servers')
        .col-12.col-md-4.py-3.py-md-5
          .h2.display-4= t('100K+')
          .text-monospace.text-uppercase= t('Active Users')
    .display-3.my-3.text-warning
      i.fa.fa-star
      = ' '
      i.fa.fa-star
      = ' '
      i.fa.fa-star
      = ' '
      i.fa.fa-star
      = ' '
      i.fa.fa-star
    .text-monospace.text-uppercase.mb-1= t('Trusted by the community')
    h2.display-5.font-weight-light.text-uppercase= t('2K+ Stars')
