extends layout

block append stylesheets
  if freddyCss
    style(nonce=nonce)!= freddyCss

block body
  include _modal-storage
  //- modal watch video
  if !isBot(ctx.get('User-Agent'))
    #modal-watch-video.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-watch-video-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-watch-video-title.h4.d-inline-block.ml-4= t("See How It Works")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Forward Email's Paid Plans"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
            )
  if !isBot(ctx.get('User-Agent'))
    #modal-for-creators.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-creators-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-creators-title.h4.d-inline-block.ml-4= t("Email for Content Creators")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Creators"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/ql9rtNpTid4?autoplay=0"
            )
    #modal-for-developers.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-developers-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-developers-title.h4.d-inline-block.ml-4= t("Email for Tech People")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Developers"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/1e9UyIoFu4Y?autoplay=0"
            )
    #modal-for-businesses.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-for-businesses-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-for-businesses-title.h4.d-inline-block.ml-4= t("Email for Your Business")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Email Forwarding for Businesses"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/--p9LdmVSAw?autoplay=0"
            )
  .min-vh-100.bg-dark.text-white.d-flex.flex-column.pb-5.text-center(
    data-ignore-hash-change,
    id=!isPDF && ["/", "/private-business-email", ...Object.keys(useCases)].includes(ctx.pathWithoutLocale) && !isBot(ctx.get("User-Agent")) && !boolean(ctx.query.pricing) ? "freddy" : ""
  )
    if !isPDF && ['/', '/private-business-email', ...Object.keys(useCases)].includes(ctx.pathWithoutLocale) && !isBot(ctx.get("User-Agent")) && !boolean(ctx.query.pricing)
      //- #stars
      #stars2
      #stars3
    .container.my-auto.pt-5
      .row.mb-3
        .col-12(
          class=["en"].includes(locale) ? "col-md-9 col-lg-8 col-xl-6" : "col-lg-9"
        )
        .col-12
          if isBot(ctx.get('User-Agent'))
            h1.mb-1.display-4.font-weight-normal= t("Free Email Forwarding for Custom Domain Domain")
          else
            h1.mb-1.display-3.font-weight-normal!= t("All-in-one Email Solution")
      if isBot(ctx.get('User-Agent'))
        .row.mb-3
          each phrase in ['Private business email', 'Custom domain email hosting', 'Open-source email hosting service']
            .col-md-4
              h2.h5.font-weight-normal.mb-3: a.text-white(
                href=l("/" + slug(phrase)),
                target="_blank",
                rel="noopener noreferrer"
              )= t(phrase)
        .row.mb-3
          .col-12
            p.lead.text-white.mb-0= t("The best free email forwarding service for custom domains. Create unlimited email aliases, forward to any inbox, and send as your custom domain email address. 100% open-source and privacy-focused.")
        .row.mb-3
          .col-12
            h3.h6.font-weight-normal.mb-2= t("Why choose Forward Email for custom domain email?")
            ul.list-unstyled.text-white
              li= t("Free email forwarding with unlimited aliases")
              li= t("Custom domain email hosting with SMTP, IMAP, and POP3")
              li= t("Send and receive email as you@yourdomain.com")
              li= t("100% open-source and privacy-first")
              li= t("No ads, no tracking, no data selling")
      else
        .row.mb-3
          .col-12
            h2.h3.font-weight-normal.mb-3!= t("Privacy-focused email hosting, forwarding, newsletters, and API")
      .row
        .col-12
          include _quick-start
    //-.
      if !isBot(ctx.get('User-Agent'))
        a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-white.mx-auto.bounce-animation(
          href="#learn-more"
        )
          i.fa.fa-angle-double-down
          = " "
          = t("Learn more")
          = " "
          i.fa.fa-angle-double-down
  #learn-more.d-block.overflow-hidden.no-search(data-ignore-hash-change)
    include _marketing
  a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-themed.mx-auto.bounce-animation(
    href="#testimonials"
  )
    i.fa.fa-angle-double-down
    = " "
    = t("Happy Customers")
    = " "
    i.fa.fa-angle-double-down
  include _testimonials
  include _tti
