extends layout

include _onboard

block body
  .container.py-3.py-md-4.py-lg-5
    .text-center.mb-5
      .h2.display-3.mb-1
        i.fa.fa-server
      h1.h2.mb-0= t("IP Addresses")
      .small.text-black.text-themed-50.text-uppercase= t("We publish our server's IP addresses below.")
    .row.mt-3
      .col-md-12
        p.mb-3.text-center= t("This page is published mainly for email service providers and system administrators as the definitive source of our server infrastructure's addresses.")
    .row
      .col-12
        //- hostnames
        .card.rounded-lg.border-themed.mb-3
          h2.h6.card-header= t("Hostnames")
          .card-body
            .markdown-body
              pre
                code.hljs.language-sh
                  != hljs.highlight(hostnames, { language: "sh", ignoreIllegals: true }).value
          .card-footer.text-right
            ul.list-inline.mb-0
              li.list-inline-item.font-weight-bold.small= t("Also available as")
              //- txt file download
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/hostnames.txt`
                )
                  span.text-monospace= "TXT"
                  = " "
                  i.fa.fa-external-link
              //- json file donwload
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/hostnames.json`
                )
                  = "JSON"
                  = " "
                  i.fa.fa-external-link
        //- ipv4 and ipv6
        .card.rounded-lg.border-themed.mb-3
          h2.h6.card-header= t("IPv4 and IPv6 addresses")
          .card-body
            .markdown-body
              pre
                code.hljs.language-sh
                  != hljs.highlight(ips, { language: "sh", ignoreIllegals: true }).value
          .card-footer.text-right
            ul.list-inline.mb-0
              li.list-inline-item.font-weight-bold.small= t("Also available as")
              //- txt file download
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips.txt`
                )
                  span.text-monospace= "TXT"
                  = " "
                  i.fa.fa-external-link
              //- txt file download without comments
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips.txt?comments=false`
                )
                  span.text-monospace= "TXT"
                  = " "
                  = t("without comments")
                  = " "
                  i.fa.fa-external-link
              //- json file donwload
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips.json`
                )
                  = "JSON"
                  = " "
                  i.fa.fa-external-link
        //- ipv4
        .card.rounded-lg.border-themed.mb-3
          h2.h6.card-header= t("IPv4 addresses only")
          .card-body
            .markdown-body
              pre
                code.hljs.language-sh
                  != hljs.highlight(ipv4, { language: "sh", ignoreIllegals: true }).value
          .card-footer.text-right
            ul.list-inline.mb-0
              li.list-inline-item.font-weight-bold.small= t("Also available as")
              //- txt file download
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v4.txt`
                )
                  span.text-monospace= "TXT"
                  = " "
                  i.fa.fa-external-link
              //- txt file download without comments
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v4.txt?comments=false`
                )
                  span.text-monospace= "TXT"
                  = " "
                  = t("without comments")
                  = " "
                  i.fa.fa-external-link
              //- json file donwload
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v4.json`
                )
                  = "JSON"
                  = " "
                  i.fa.fa-external-link
        //- ipv6
        .card.rounded-lg.border-themed.mb-3
          h2.h6.card-header= t("IPv6 addresses only")
          .card-body
            .markdown-body
              pre
                code.hljs.language-sh
                  != hljs.highlight(ipv6, { language: "sh", ignoreIllegals: true }).value
          .card-footer.text-right
            ul.list-inline.mb-0
              li.list-inline-item.font-weight-bold.small= t("Also available as")
              //- txt file download
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v6.txt`
                )
                  span.text-monospace= "TXT"
                  = " "
                  i.fa.fa-external-link
              //- txt file download without comments
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v6.txt?comments=false`
                )
                  span.text-monospace= "TXT"
                  = " "
                  = t("without comments")
                  = " "
                  i.fa.fa-external-link
              //- json file donwload
              li.list-inline-item
                a.badge.badge-primary(
                  target="_blank",
                  href=`${config.urls.web}/ips/v6.json`
                )
                  = "JSON"
                  = " "
                  i.fa.fa-external-link
