extends layout

//- include _onboard

mixin renderCard(platform, provider)
  - const isEmailClients = ctx.pathWithoutLocale.endsWith("-email-clients");
  .card.rounded-lg.position-relative.d-inline-block.mb-3.no-search
    if provider.starred || provider.language
      .position-absolute.w-100.text-right.lead.d-none.d-xl-block
        if provider.starred
          span.badge.badge-success.mr-3.mt-3
            = emoji("star")
            = " "
            if isBot(ctx.get("User-Agent"))
              = t(_.sample(["Recommended", "Preferred", "Top Rated", "Suggested"]))
            else
              = t("Recommended")
        if provider.language
          span.badge.mr-3.mt-3(
            class=provider.language === "Proprietary" ? "badge-danger" : "badge-dark"
          )
            != provider.language
    - let str;
    if provider.language
      - str = provider.language === "Proprietary" ? t('<span class="notranslate">%s</span> is a closed-source and proprietary email <span class="notranslate">%s</span> for <span class="notranslate">%s</span>.', provider.name, isEmailClients ? t("client") : t("server"), platform) : t(`<span class="notranslate">%s</span> is an open-source email <span class="notranslate">%s</span> for <span class="notranslate">%s</span> and is written in the <span class="notranslate">%s</span> programming language.`, provider.name, t(isEmailClients ? "client" : "server"), platform, provider.language);
    else
      - str = t(`<span class="notranslate">%s</span> is an open-source email <span class="notranslate">%s</span> for <span class="notranslate">%s</span>.`, provider.name, t(isEmailClients ? "client" : "server"), platform);
    .card-body
      h2.h5.card-title= provider.name
      if provider.starred || provider.language
        .d-block.d-xl-none.lead.mb-3
          if provider.starred
            span.badge.badge-success.mr-3
              = emoji("star")
              = " "
              if isBot(ctx.get("User-Agent"))
                = t(_.sample(["Recommended", "Preferred", "Top Rated", "Suggested"]))
              else
                = t("Recommended")
          if provider.language
            span.badge.mr-3(
              class=provider.language === "Proprietary" ? "badge-danger" : "badge-dark"
            )!= provider.language
      if !isEmailClients
        ul.list-inline
          each attr in ['imap','smtp','mx']
            li.list-inline-item
              span.badge(
                class=provider[attr] === true ? "badge-success" : "badge-danger"
              )
                i.fa(class=provider[attr] === true ? "fa-check-circle" : "fa-times")
                = " "
                = attr.toUpperCase()
          li.list-inline-item
            span.badge(
              class=provider.name === "Forward Email" ? "badge-success" : "badge-danger"
            )
              i.fa(
                class=provider.name === "Forward Email" ? "fa-check-circle" : "fa-times"
              )
              = " "
              = t("SQLite Encrypted")
      p
        != str
        = " "
        != t('The official description from its website says, "<span class="notranslate">%s</span>"', t(provider.description))
      .text-center
        a(
          href=manifest(provider.img),
          target="_blank",
          data-toggle="lightbox",
          data-title=provider.name,
          data-footer=t(provider.attribution)
        )
          img.img-fluid.img-thumbnail.max-height-300px(
            loading="lazy",
            src=manifest(provider.img),
            alt=striptags(str)
          )
      if provider.screenshot
        .text-center.small.mt-3: a(
          href=provider.screenshot,
          target="_blank",
          rel="noopener noreferrer"
        )= t(provider.attribution)
      else
        .small.text-center.mt-3: span.small.text-muted= t(provider.attribution)
    .card-footer
      a.btn.btn-md.btn-dark.btn-block(
        href=provider.link,
        target="_blank",
        rel="noopener noreferrer",
        title=striptags(t('<span class="notranslate">%s</span> <span class="notranslate">%s</span> Email Setup Tutorial', provider.name, platform))
      )
        span.text-uppercase.font-weight-bold.align-middle!= t("Visit Website")
        = " "
        i.fa.fa-external-link.align-middle

block append scripts
  if !isBot(ctx.get('User-Agent'))
    if config.env === 'test'
      script(
        defer,
        src=`${config.urls.web}/js/domain-search.js`,
        crossorigin="anonymous"
      )
    else
      script(
        defer,
        src=manifest("js/domain-search.js"),
        integrity=manifest("js/domain-search.js", "integrity"),
        crossorigin="anonymous"
      )
  script(
    defer,
    src=manifest("js/ekko-lightbox.js"),
    integrity=manifest("js/ekko-lightbox.js", "integrity"),
    crossorigin="anonymous"
  )

block body
  include _modal-domain-search
  +modalDomainSearch
  include _modal-storage
  //-.
    if !user
      +onboard(t('Setup email in minutes'), t('Simply enter your domain below to setup its email.'), l('/faq?redirect_to_domain=true'), '#top', 'border-top', true)

  if !isBot(ctx.get('User-Agent'))
    script(defer, nonce=nonce).
      window.addEventListener(
        "load",
        function load() {
          if (!window.jQuery) return setTimeout(load, 50);
          $(function () {
            $(document).on("click", '[data-toggle="lightbox"]', function (ev) {
              ev.preventDefault();
              $(this).ekkoLightbox();
            });
          });
        },
        false
      );

  if platform && !isBot(ctx.get('User-Agent'))
    - const isEmailClients = ctx.pathWithoutLocale.endsWith("-email-clients");
    .fixed-bottom.text-center.d-print-none
      .bg-dark.p-2.border-top.border-themed
        ul.list-inline.mb-0
          li.list-inline-item
            a.btn.btn-sm.btn-light(
              href=`#email-${isEmailClients ? "client" : "server"}-screenshots`
            )
              span.badge.badge-pill.mr-1.badge-success
                i.fa.fa-image
              = t("Screenshots")
          li.list-inline-item.d-none.d-md-inline-block: i.fa.fa-angle-right.align-middle.text-white
          li.list-inline-item
            a.btn.btn-sm.btn-light(
              href=`#email-${isEmailClients ? "client" : "server"}-comparison`
            )
              span.badge.badge-pill.mr-1.badge-primary
                i.fa.fa-table
              = t("Comparison")

  .py-5
    .container
      .row
        .col-12
          .text-center
            if platform
              h1!= meta.title
              p!= meta.description
              //- != t('Free and Open Source <span class="notranslate">%s</span> Email Server (<span class="notranslate">%s</span>)', platform, dayjs().format("YYYY"))
              //- p!= t("Here is our list of the best guides for setting up an open-source <span class='notranslate'>%s</span> email forwarding server.", platform)
            else
              h1!= meta.title
              p!= meta.description
              //- t('The Best Free and Open Source Email Servers (<span class="notranslate">%s</span>)', dayjs().format("YYYY"))
              //- t("Our list below description the best free and open source email forwarding server setup tutorials.")
            include _author
      if platform
        - const isEmailClients = ctx.pathWithoutLocale.endsWith("-email-clients");
        - const providers = getServersOrClientsList(platform, isEmailClients);
        if isEmailClients && !isBot(ctx.get('User-Agent'))
          .row.mt-3
            .col-12
              .alert.alert-primary.small.text-center.mb-0
                = emoji("tada")
                = " "
                = t("Great news!")
                = " "
                = t("Forward Email is compatible with all email clients.")
                br.d-none.d-md-block
                = " "
                != t('Download and install your favorite &rarr; and then <a href="%s" target="_blank" class="alert-link text-decoration-underline">click here to follow instructions</a>.', l("/faq#do-you-support-receiving-email-with-imap"))
        .row
          .col-12.no-search
            h2.text-center.py-3.py-md-5.mb-0(
              id=isEmailClients ? "email-client-screenshots" : "email-server-screenshots"
            )!= isEmailClients ? t("Email Client Screenshots") : t("Email Server Screenshots")
        .row
          if providers.length <= 2
            each provider in providers
              .d-flex.col-md-6.mb-3.align-items-stretch
                +renderCard(platform, provider)
          else
            .card-columns-2
              each provider in providers
                +renderCard(platform, provider)
        .row.mt-1
          .col-12.no-search
            h2.text-center.py-3.py-md-5.mb-0(
              id=isEmailClients ? "email-client-comparison" : "email-server-comparison"
            )!= isEmailClients ? t("Email Client Comparison") : t("Email Server Comparison")
            if !isBot(ctx.get("User-Agent"))
              .d-block.d-md-none.my-3.text-muted.small.text-center
                = "("
                = t("Scroll to the right to see entire table")
                = ")"
            .table-responsive.rounded-lg
              table.table.table-hover.table-bordered.table-sm.mb-0.bg-white.bg-themed
                thead.thead-dark
                  tr
                    th.align-middle(scope="col")= t("Name")
                    th.align-middle(scope="col")= t("Description")
                    th.align-middle.text-center(scope="col")= t("Screenshot")
                    if isEmailClients
                      th.align-middle.text-center(scope="col")= t("Platforms")
                      th.align-middle.text-center(scope="col")= t("Language")
                    else
                      th.align-middle.text-center(scope="col")= "IMAP"
                      th.align-middle.text-center(scope="col")= "MX"
                      th.align-middle.text-center(scope="col")= "SMTP"
                      th.align-middle.text-center.text-nowrap(scope="col")
                        a.text-white.text-decoration-underline(
                          href=l("/blog/docs/best-quantum-safe-encrypted-email-service"),
                          role="button",
                          data-toggle="modal",
                          data-target="#modal-storage",
                          title=striptags(t(config.meta["/blog/docs/best-quantum-safe-encrypted-email-service"][0]))
                        )
                          = t("SQLite Encrypted")
                          = " "
                          i.fa.fa-info-circle
                    th.align-middle.text-center(scope="col")= t("Website")
                    th.align-middle.text-center(scope="col")= t("Wikipedia")
                tbody
                  each provider in providers
                    tr(class=provider.starred ? "table-success" : "")
                      td.align-middle
                        strong: a(
                          href=provider.link,
                          target="_blank",
                          rel="noopener noreferrer",
                          class=provider.starred ? "text-dark font-weight-bold" : ""
                        )= provider.name
                        if provider.starred
                          = " "
                          span.badge.badge-success
                            = emoji("star")
                            = " "
                            if isBot(ctx.get("User-Agent"))
                              = t(_.sample(["Recommended", "Preferred", "Top Rated", "Suggested"]))
                            else
                              = t("Recommended")
                      td.align-middle= t(provider.description)
                      td.align-middle.text-center
                        a.btn.btn-primary.btn-sm.text-nowrap(
                          href=manifest(provider.img),
                          target="_blank",
                          data-toggle="lightbox",
                          data-title=provider.name,
                          data-footer=t(provider.attribution)
                        )
                          i.fa.fa-image
                          = " "
                          = t("Screenshot")
                      if isEmailClients
                        td.align-middle.text-center
                          ul.list-inline.mb-0
                            each platform in ['apple', 'windows', 'android', 'linux', 'terminal', 'web']
                              if provider[platform]
                                li.list-inline-item.lead
                                  span.badge.badge-dark
                                    if platform === 'apple'
                                      //- apple doesn't let you use logo
                                    else if platform === 'windows'
                                      //- msft doesn't let you use logo
                                    else if platform === 'android'
                                      i.fab.fa-android
                                      = " "
                                    else if platform === 'linux'
                                      i.fab.fa-linux
                                      = " "
                                    else if platform === 'terminal'
                                      i.fas.fa-terminal
                                      = " "
                                    else if platform === 'web'
                                      if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Firefox")
                                        i.fab.fa-fw.fa-firefox-browser
                                        = " "
                                        = "Firefox"
                                      else if ctx.get("User-Agent") && ctx.get("User-Agent").includes("Safari") && !ctx.get("User-Agent").includes("Chrome")
                                        = " "
                                        = "Safari"
                                      else
                                        i.fab.fa-fw.fa-chrome
                                        = " "
                                        = "Chrome"
                                    if platform !== 'web'
                                      = titleize(platform)
                      else
                        td.align-middle.text-center
                          if isBot(ctx.get("User-Agent"))
                            = provider.imap ? t("Yes") : t("No")
                          else
                            = provider.imap ? emoji("white_check_mark") : emoji("x")
                        td.align-middle.text-center
                          if isBot(ctx.get("User-Agent"))
                            = provider.smtp ? t("Yes") : t("No")
                          else
                            = provider.smtp ? emoji("white_check_mark") : emoji("x")
                        td.align-middle.text-center
                          if isBot(ctx.get("User-Agent"))
                            = provider.mx ? t("Yes") : t("No")
                          else
                            = provider.mx ? emoji("white_check_mark") : emoji("x")
                        td.align-middle.text-center
                          if isBot(ctx.get("User-Agent"))
                            = provider.name === "Forward Email" ? t("Yes") : t("No")
                          else
                            = provider.name === "Forward Email" ? emoji("white_check_mark") : emoji("x")
                      if isEmailClients
                        td.align-middle.text-center.lead: span.badge(
                          class=provider.language === "Proprietary" ? "badge-danger" : "badge-dark"
                        )!= provider.language
                      td.align-middle.text-center
                        a.btn.btn-dark.btn-sm.text-nowrap(
                          href=provider.link,
                          target="_blank",
                          rel="noopener noreferrer"
                        )
                          = t("Website")
                          = " "
                          i.fa.fa-external-link
                      td.align-middle.text-center
                        if provider.wikipedia
                          a.btn.btn-dark.btn-sm.text-nowrap(
                            href=provider.wikipedia,
                            target="_blank",
                            rel="noopener noreferrer"
                          )
                            i.fab.fa-wikipedia-w
                            = " "
                            = t("Wikipedia")
        if isEmailClients && !isBot(ctx.get('User-Agent'))
          .row.mt-3
            .col-12
              .text-center.text-muted.small!= t("P.S. Don't worry &ndash; we're coming out with our own desktop, mobile, and web apps soon!")
        //- Disclaimer
        if !isBot(ctx.get('User-Agent'))
          - const externalProviders = providers.filter((p) => p.name !== "Forward Email");
          if externalProviders.length > 0
            .row.mt-3
              .col-12
                .alert.alert-secondary.small.mb-0
                  strong= t("Notice of Non-Affiliation and Disclaimer:")
                  = " "
                  != t('We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with <span class="notranslate">%s</span>, or any of its subsidiaries or its affiliates. The name <span class="notranslate">%s</span> as well as related names, marks, emblems, and images are registered trademarks of their respective owners.', arrayJoinConjunction(externalProviders.map((p) => p.name)), arrayJoinConjunction(externalProviders.map((p) => p.name)))
      else
        .row.mt-3
          - const tools = [];
          - const list = Object.keys(config.meta).filter((key) => key !== "/blog/open-source" && key.startsWith("/blog/open-source"));
          each item in list
            - const match = config.meta[item];
            if match
              - tools.push({ title: match[0].replace(config.metaTitleAffix, ""), description: match[1], slug: item });
          each tool in tools
            .d-flex.col-md-6.col-lg-4.mb-3.align-items-stretch
              .card.rounded-lg.position-relative
                img.card-img-top.img-fluid(
                  loading="lazy",
                  src=l(`${tool.slug}.png`),
                  alt=striptags(t(tool.title))
                )
                .card-body
                  h2.h5.card-title!= t(tool.title)
                  // h3.h6.card-subtitle.text-muted.mb-1!= tool.subtitle
                  p.card-text!= t(tool.description)
                .card-footer
                  a.stretched-link.btn.btn-md.btn-dark.btn-block(
                    href=l(tool.slug),
                    title=striptags(t(tool.title))
                  )
                    if isBot(ctx.get("User-Agent"))
                      != t(tool.title)
                    else
                      span.text-uppercase.font-weight-bold.align-middle= t("Learn more")
                      = " "
                      i.fa.fa-angle-double-right.align-middle
          //- Disclaimer
          if !isBot(ctx.get('User-Agent'))
            .row
              .col-12
                .alert.alert-secondary.small.mt-3.mb-0
                  strong= t("Notice of Non-Affiliation and Disclaimer:")
                  = " "
                  != t('We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with <span class="notranslate">%s</span>, or any of its subsidiaries or its affiliates. The name <span class="notranslate">%s</span> as well as related names, marks, emblems, and images are registered trademarks of their respective owners.', arrayJoinConjunction(platforms), arrayJoinConjunction(platforms))
  if !isBot(ctx.get('User-Agent'))
    .d-block.overflow-hidden.no-search(data-ignore-hash-change)
      include _marketing
    .container.text-center
      .row.mb-3
        .col-12
          a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.mx-auto.text-white(
            href="#testimonials"
          )
            i.fa.fa-angle-double-down
            = " "
            = t("Testimonials")
            = " "
            i.fa.fa-angle-double-down
    include _testimonials
