extends layout

block append stylesheets
  if freddyCss
    style(nonce=nonce)!= freddyCss

block append scripts
  if !isBot(ctx.get('User-Agent'))
    if config.env === 'test'
      script(
        defer,
        src=`${config.urls.web}/js/domain-search.js`,
        crossorigin="anonymous"
      )
    else
      script(
        defer,
        src=manifest("js/domain-search.js"),
        integrity=manifest("js/domain-search.js", "integrity"),
        crossorigin="anonymous"
      )

block body
  include _modal-domain-search
  +modalDomainSearch
  include _modal-storage
  if (!user && !boolean(ctx.query.pricing)) || isBot(ctx.get('User-Agent'))
    #modal-watch-video.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-pricing-video-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-watch-video-title.h4.d-inline-block.ml-4= t("Product Tour")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Forward Email's Paid Plans"),
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
            )

  //-.
    if !isBot(ctx.get('User-Agent'))
      .fixed-bottom.text-center.d-print-none.d-lg-none
        .bg-dark.p-2.border-top.border-themed
          ul.list-inline.mb-0
            li.list-inline-item
              a.btn.btn-sm.btn-light(href="#free")
                = t("Free")
                = " "
                i.fa.fa-search-plus
            li.list-inline-item
              a.btn.btn-sm.btn-success(href="#enhanced")
                = t("Enhanced")
                = " "
                i.fa.fa-search-plus
            li.list-inline-item
              a.btn.btn-sm.btn-primary(href="#team")
                = t("Team")
                = " "
                i.fa.fa-search-plus

  if (!user && !boolean(ctx.query.pricing)) || isBot(ctx.get('User-Agent'))
    section.min-vh-100.bg-dark.d-flex.flex-column.pb-5.text-white(
      data-ignore-hash-change,
      id=!isPDF && !isBot(ctx.get("User-Agent")) ? "freddy" : ""
    )
      if !isPDF
        //- #stars
        #stars2
        #stars3
      .container.my-auto.pt-5
        .row
          .col-12.text-center
            h1.mb-1.display-4
              if Object.keys(useCases).includes(ctx.pathWithoutLocale)
                != t(useCases[ctx.pathWithoutLocale][0])
              else
                != meta.title.replace(striptags(config.metaTitleAffix).replace("&#124;", "|"), "")
            h2.h5.font-weight-normal.mb-3!= meta.description
            include _quick-start
    //-.
      if !isBot(ctx.get('User-Agent'))
        a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-white.mx-auto.bounce-animation(
          href="#learn-more"
        )
          i.fa.fa-angle-double-down
          = " "
          = t("Learn more")
          = " "
          i.fa.fa-angle-double-down
  #learn-more.d-block.overflow-hidden.no-search(data-ignore-hash-change)
    include _marketing
  a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-themed.mx-auto.bounce-animation(
    href="#testimonials"
  )
    i.fa.fa-angle-double-down
    = " "
    = t("Happy Customers")
    = " "
    i.fa.fa-angle-double-down
  include _testimonials
  include _tti
