extends layout

block body
  if (!user && !boolean(ctx.query.pricing)) || isBot(ctx.get('User-Agent'))
    #modal-pricing-video.modal.fade(
      tabindex="-1",
      role="dialog",
      aria-labelledby="modal-pricing-video-title",
      aria-hidden="true"
    )
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header.text-center.d-block
            #modal-pricing-video-title.h4.d-inline-block.ml-4= t("Private Business Email")
            button.close(
              type="button",
              data-dismiss="modal",
              aria-label="Close"
            )
              span(aria-hidden="true") &times;
          .modal-body
            .lazyframe(
              title=t("Forward Email's Paid Plans"),
              style="width: 100%; height: 450px",
              data-vendor="youtube_nocookie",
              data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
            )
  if (!user && !boolean(ctx.query.pricing)) || isBot(ctx.get('User-Agent'))
    .min-vh-80.d-flex.flex-column
      .container.my-auto.pt-5
        .row
          .col-12.col-lg-6
            h1.mb-3
              = t("Set up your private business email for free")
              if isBot(ctx.get('User-Agent'))
                = "."
            p
              = t("Create your free, private, and professional business email.")
              = " "
              != t('Send and receive email as <span class="notranslate font-weight-bold text-nowrap">you@yourdomain.com</span>.')
            .d-block
              ul.list-inline.mb-3
                li.list-inline-item
                  a.btn.btn-success.btn-lg.font-weight-bold.text-uppercase(
                    href=l("/register"),
                    data-toggle="modal-anchor",
                    data-target="#modal-sign-up"
                  )
                    = t("Try for free")
            ul.list-unstyled.mb-3.text-left
              li
                i.fa.fa-fw.fa-check-circle.text-success
                = " "
                != t("Completely free to get started")
              li
                i.fa.fa-fw.fa-check-circle.text-success
                = " "
                != t("Professional email with custom domain")
              li
                i.fa.fa-fw.fa-check-circle.text-success
                = " "
                = t("Send email with custom domain")
                = " "
                a.badge.badge-pill.badge-primary.text-uppercase(
                  href=l("/guides/send-email-with-custom-domain-smtp")
                )= t("New")
              li
                i.fa.fa-fw.fa-check-circle.text-success
                = " "
                != t("Manage your aliases from any device")
              li
                i.fa.fa-fw.fa-check-circle.text-success
                = " "
                a.font-weight-bold.text-decoration-underline.text-themed.text-decoration-underline(
                  href="#features"
                )
                  = t("Premium features for only $3")
            ul.list-inline
              if !isBot(ctx.get('User-Agent'))
                li.list-inline-item
                  a.btn.btn-outline-dark.font-weight-bold(href="#features")
                    = t("See all features")
              li.list-inline-item
                if isBot(ctx.get('User-Agent'))
                  a.btn.btn-outline-dark(
                    href="https://www.youtube.com/watch?v=N6zjv40zuIY",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    i.fab.fa-youtube.text-danger
                    = " "
                    = t("Watch Video")
                else
                  a.btn.btn-outline-dark.d-inline-block.d-lg-none(
                    role="button",
                    data-toggle="modal",
                    data-target="#modal-pricing-video",
                    href="https://www.youtube.com/watch?v=N6zjv40zuIY",
                    target="_blank",
                    rel="noopener noreferrer"
                  )
                    i.fab.fa-youtube.text-danger
                    = " "
                    = t("Watch Video")
          if !isBot(ctx.get('User-Agent'))
            .col-lg-6.d-none.d-lg-block
              .lazyframe.border.border-themed.d-inline-block(
                data-vendor="youtube_nocookie",
                title=t("Forward Email's Paid Plans"),
                style="max-width: 100%; border-width: 0.5rem !important; width: 640px; height: 360px",
                data-src="https://www.youtube-nocookie.com/embed/N6zjv40zuIY?autoplay=0"
              )
      a.text-decoration-none.pt-1.pb-4.pt-lg-4.text-uppercase.text-themed.mx-auto(
        href="#features"
      )
        i.fa.fa-angle-double-down
        = " "
        = t("Features and Pricing")
        = " "
        i.fa.fa-angle-double-down
  .bg-fixed.lazyload.py-3.py-md-4.py-lg-5(
    id=user || (!isBot(ctx.get("User-Agent")) && boolean(ctx.query.pricing)) ? false : "features",
    class=user || (!isBot(ctx.get("User-Agent")) && boolean(ctx.query.pricing)) ? false : "border-md-top border-themed",
    data-src=manifest("img/art/stars.svg")
  )
    .text-center.d-block.d-md-none.my-3
      .h1.mb-0= t("Pricing")
    .container
      .row.row-cols-1.row-cols-lg-3
        .col
          .d-flex.flex-column.rounded-lg.bg-white.bg-themed
            .px-md-3.py-md-3.my-3.my-md-0
              .h3.text-center.font-weight-bold
                = t("Free")
              p.text-center.mb-3= t("Basic plan to get started")
              .lead.text-center.mb-3
                if user && user.plan !== 'free'
                  span.h5.font-weight-bold.d-block= t("Already upgraded")
                  s.d-block.h6.text-muted
                    = "$0"
                    = " "
                    = t("for unlimited domains")
                else
                  span.h4.mb-0.font-weight-bold.d-inline-block $0
                  span.d-inline-block.h6.text-black.text-themed-50.ml-1
                    = t("for unlimited domains")
              a.btn.btn-block.btn-success.font-weight-bold(
                href=l("/my-account/domains/new")
              )
                if user
                  i.fa.fa-plus
                  = " "
                  = t("Add New Domain")
                else
                  = t("Get started")
                  = " "
                  i.fa.fa-angle-double-right.align-middle
            ul.list-group.list-group-flush.mb-1
              li.list-group-item.d-flex.align-items-center.border-top.border-themed.bg-dark.text-white.font-weight-bold
                i.fa.fa-fw.fa-infinity.text-primary.mr-3
                = " "
                = t("Unlimited domains and aliases")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-shield-alt.text-themed.mr-3
                = " "
                = t("Spam protection")
                = " "
                a.btn.btn-link.text-themed.text-decoration-underline.font-weight-bold.py-0(
                  href="https://spamscanner.net",
                  target="_blank",
                  rel="noopener noreferrer",
                  role="button",
                  data-toggle="tooltip",
                  data-placement="bottom",
                  aria-label=t("Spam Scanner"),
                  title=t("We built our own anti-spam, phishing, and virus protection software called Spam Scanner. It abides by the same privacy-first and zero logging policies.")
                )
                  i.fa.fa-question-circle
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-paperclip.text-themed.mr-3
                = " "
                != t("50MB attachment limit")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                a.font-weight-bold.text-themed.text-decoration-underline(
                  href=l("/guides/send-email-with-custom-domain-smtp")
                )
                  != t("Send email with your custom domain")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                = " "
                = t("Catch-all email addresses")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                = " "
                = t("Multiple recipients per alias")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                a.font-weight-bold.text-decoration-underline.text-themed(
                  href=l("/free-email-webhooks"),
                  aria-label=t("Webhooks"),
                  target="_blank"
                )
                  = t("Send emails to webhooks")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                a.font-weight-bold.text-decoration-underline.text-themed(
                  href=l("/email-forwarding-regex-pattern-filter"),
                  aria-label=t("Regex filtering"),
                  target="_blank"
                )
                  = t("Regular expression filtering")
        .col.mt-3.mt-lg-0
          .d-flex.flex-column.rounded-lg.bg-white.bg-themed
            .px-md-3.py-md-3.my-3.my-md-0
              .h3.text-center.font-weight-bold
                = t("Enhanced")
              p.text-center.mb-3= t("Advanced features and privacy")
              .lead.text-center.mb-3
                if user && user.plan !== 'free'
                  span.h5.font-weight-bold.d-block= t("Already upgraded")
                  s.d-block.h6.text-muted
                    = "$3"
                    = " "
                    = t("for unlimited domains")
                else
                  span.h4.mb-0.font-weight-bold.d-inline-block $3
                  span.d-inline-block.h6.text-black.text-themed-50.ml-1
                    = t("for unlimited domains")
              if sortedDomains.length === 0
                a.btn.btn-block.btn-success.font-weight-bold(
                  href=l("/my-account/domains/new?plan=enhanced_protection")
                )
                  = t("Get started")
                  = " "
                  i.fa.fa-angle-double-right.align-middle
              else
                .btn-group.btn-block
                  button.btn.btn-block.btn-success.dropdown-toggle(
                    type="button",
                    data-toggle="dropdown",
                    aria-haspopup="true",
                    aria-expanded="false",
                    data-boundary="window"
                  )= t("Select Domain")
                  .dropdown-menu.w-100
                    each domain in sortedDomains
                      a.dropdown-item(
                        href=l(`/my-account/domains/${domain.name}/billing?plan=enhanced_protection`),
                        class=domain.plan === "enhanced_protection" ? "disabled" : "",
                        aria-disabled=domain.plan === "enhanced_protection" ? "true" : "false"
                      )
                        = domain.name
                        if domain.plan === 'enhanced_protection'
                          = " ("
                          = t("already on this plan")
                          = ")"
                    .dropdown-divider
                    a.dropdown-item(
                      href=l("/my-account/domains/new?plan=enhanced_protection")
                    )
                      i.fa.fa-plus
                      = " "
                      = t("Add New Domain")

            ul.list-group.list-group-flush.mb-1
              li.list-group-item.d-flex.align-items-center.border-top.border-themed.bg-dark.text-white.font-weight-bold
                i.fa.fa-fw.fa-arrow-up.mr-3.d-lg-none
                i.fa.fa-fw.fa-arrow-left.mr-3.d-none.d-lg-inline
                = " "
                = t("Everything in Free plus:")
              li.list-group-item.d-flex.align-items-center.font-weight-bold.bg-success.text-white
                i.fa.fa-fw.fa-lock.mr-3
                = " "
                = t("Secure inbox privacy")
                = " "
                button.btn.btn-link.text-white.py-0.no-js(
                  role="button",
                  data-toggle="tooltip",
                  data-placement="bottom",
                  aria-label=t("Encrypted Configuration"),
                  title=t("No publicly searchable DNS records are used.  Instead we store your configuration in a secure and backed-up database.")
                )
                  i.fa.fa-question-circle
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                = " "
                a.font-weight-bold.text-decoration-underline.text-themed(
                  href=l("/faq#do-you-offer-a-money-back-guarantee-on-paid-plans"),
                  aria-label=t("Refund Policy"),
                  target="_blank"
                )
                  = t("30-day refund guarantee")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-stream.text-themed.mr-3
                = " "
                a.font-weight-bold.text-decoration-underline.text-themed(
                  href=l("/faq#do-you-store-error-logs"),
                  aria-label=t("Error Logs"),
                  target="_blank"
                )
                  = t("Search and analyze error logs")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-code.text-themed.mr-3
                a.font-weight-bold.text-decoration-underline.text-themed(
                  href=l("/email-forwarding-api"),
                  aria-label=t("API Features"),
                  target="_blank"
                )
                  = t("Developer API access")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-tasks.text-themed.mr-3
                = " "
                = t("Manage and import aliases")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-tools.text-themed.mr-3
                = t("Custom spam filtering")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-bell.text-themed.mr-3
                = t("Opt-in recipient verification")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-plus.text-themed.mr-3
                = " "
                = t("99.99% service uptime")
        .col.mt-3.mt-lg-0
          .d-flex.flex-column.rounded-lg.bg-white.bg-themed
            .px-md-3.py-md-3.my-3.my-md-0
              .h3.text-center.font-weight-bold
                = t("Team")
              p.text-center.mb-3= t("For groups and organizations")
              .lead.text-center.mb-3
                if user && user.plan === 'team'
                  span.h5.font-weight-bold.d-block= t("Already upgraded")
                  s.d-block.h6.text-muted
                    = "$3"
                    = " "
                    = t("for unlimited domains")
                else
                  span.h4.mb-0.font-weight-bold.d-inline-block $9
                  span.d-inline-block.h6.text-black.text-themed-50.ml-1
                    = t("for unlimited domains")
              if sortedDomains.length === 0
                a.btn.btn-block.btn-success.font-weight-bold(
                  href=l("/my-account/domains/new?plan=team")
                )
                  = t("Get started")
                  = " "
                  i.fa.fa-angle-double-right.align-middle
              else
                .btn-group.btn-block
                  button.btn.btn-block.btn-success.dropdown-toggle(
                    type="button",
                    data-toggle="dropdown",
                    aria-haspopup="true",
                    aria-expanded="false",
                    data-boundary="window"
                  )= t("Select Domain")
                  .dropdown-menu.w-100
                    each domain in sortedDomains
                      a.dropdown-item(
                        href=l(`/my-account/domains/${domain.name}/billing?plan=team`),
                        class=domain.plan === "team" ? "disabled" : "",
                        aria-disabled=domain.plan === "team" ? "true" : "false"
                      )
                        = domain.name
                        if domain.plan === 'team'
                          = " ("
                          = t("already on this plan")
                          = ")"
                    .dropdown-divider
                    a.dropdown-item(
                      href=l("/my-account/domains/new?plan=team")
                    )
                      i.fa.fa-plus
                      = " "
                      = t("Add New Domain")
            ul.list-group.list-group-flush.mb-1
              li.list-group-item.d-flex.align-items-center.border-top.border-themed.bg-dark.font-weight-bold.text-white
                i.fa.fa-fw.fa-arrow-up.mr-3.d-lg-none
                i.fa.fa-fw.fa-arrow-left.mr-3.d-none.d-lg-inline
                = " "
                = t("Everything in Enhanced plus:")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-infinity.text-themed.mr-3
                = " "
                = t("Unlimited team members")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-users.text-themed.mr-3
                = " "
                = t("Team permission management")
              li.list-group-item.d-flex.align-items-center.font-weight-bold
                i.fa.fa-fw.fa-sitemap.text-themed.mr-3
                = " "
                = t("Shared organizational access")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-bullhorn.text-themed.mr-3
                = " "
                = t("Priority support requests")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-server.text-themed.mr-3
                = " "
                = t("Exceed standard rate limiting")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-palette.text-themed.mr-3
                = " "
                = t("Custom recipient verification")
              li.list-group-item.d-flex.align-items-center
                i.fa.fa-fw.fa-drafting-compass.text-themed.mr-3
                = " "
                = t("Early access to new features")

    .text-center.d-block.mt-3.mt-md-5
      a.text-decoration-none.text-uppercase.text-themed.mx-auto(
        href="#frequently-asked-questions"
      )
        i.fa.fa-angle-double-down
        = " "
        = t("Frequently Asked Questions")
        = " "
        i.fa.fa-angle-double-down

  .bg-dark.py-3.py-md-5.d-block
    .container
      .row
        .col-12
          h2.display-3.font-weight-bold.text-white.my-3.my-md-3
            = t("Professional Email")
      .row
        .col-12.col-md-8
          p.lead.text-white.mb-3.mb-md-5
            = t("Send and receive email with your custom business domain name.")
            = " "
            = t("We are privacy-focused, secure, and trusted by the open-source community.")
          ul.list-inline
            li.list-inline-item
              a.btn.btn-outline-light.btn-lg(
                href="#frequently-asked-questions"
              )
                = t("Frequently Asked Questions")
            li.list-inline-item
              a.btn.btn-outline-light.btn-lg.mt-3.mt-lg-0(href=l("/privacy"))
                = t("Privacy Policy")
        .d-flex.col-md-4.pt-3.text-center
          noscript.ml-auto.mr-auto.mr-md-none
            img.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
              src=manifest("img/art/waving.svg"),
              width=423,
              height=200,
              alt=t("Professional Private Business Email")
            )
          img.lazyload.mt-auto.mx-auto.mx-md-0.ml-md-auto.flex-shrink-0.mb-3.mb-md-0.img-fluid(
            data-src=manifest("img/art/waving.svg"),
            width=423,
            height=200,
            alt=t("Professional Private Business Email")
          )

  #frequently-asked-questions.container.py-5
    .row
      .col
        h2= t("Frequently Asked Questions")
        p.lead
          = t("Browse commonly asked questions and answers about pricing below.")
    .row.my-3
      .col-12
        h3.h5.border-bottom.border-dark-50= t("What is the difference between Free and Enhanced?")
        p
          = t("The Free plan requires you to use public DNS records to store your forwarding configuration.")
          = " "
          = t("Anyone with a computer can lookup your forwarding configuration in a terminal if you are on the Free plan.")
          = " "
          = t("Unlike the Free plan, the Enhanced plan uses a cryptographically generated random string to store your forwarding configuration privately.")
    .row.my-3
      .col-12.col-sm-6.text-center
        h4.border-dark-50.mb-4= t("Free")
        strong.bg-danger.rounded.p-3.text-white
          i.fa.fa-lock-open
          = " "
          = user ? user.email : "user@gmail.com"
      .col-12.col-sm-6.text-center.mt-5.mt-sm-0
        h4.border-dark-50.mb-4= t("Enhanced")
        strong.bg-success.rounded.p-3.text-white
          i.fa.fa-lock
          = " "
          != new Array(16).fill("&bull;").join("")
    .row.my-3.mt-5
      .col
        h3.h5.border-bottom.border-dark-50= t("Do you offer unlimited domains for one price?")
        p!= t('<span class="font-weight-bold">Yes.</span> Regardless of which plan you are on, you will pay only one monthly rate &ndash; which covers all of your domains.')
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50= t("Which payment methods do you accept?")
        p!= t('We accept cards, wallets, and bank transfers using <a class="alert-link" href="https://stripe.com/global" target="_blank" rel="noopener noreferrer">Stripe</a> and <a class="alert-link" href="https://www.paypal.com" target="_blank" rel="noopener noreferrer">PayPal</a>.')
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50= t("Do you accept one-time payments and subscriptions?")
        p!= t('<span class="font-weight-bold">Yes.</span> We accept both one-time payments or monthly, quarterly, and yearly subscriptions.')
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50= t("Do you offer a money-back guarantee?")
        p!= t('<span class="font-weight-bold">Yes.</span> We offer a 30 day money-back guarantee &ndash; with no questions asked.')
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50= t("Will you ever increase prices?")
        p!= t('<span class="font-weight-bold">No.</span> Prices will never increase. Unlike other companies, we will never shutdown our service either.')
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50!= t('Can I configure <a href="%s" target="_blank" rel="noopener noreferrer">Spam Scanner</a> settings?', "https://spamscanner.net")
        p
          != t('<span class="font-weight-bold">Yes.</span> You can toggle filters for adult-related content, phishing, executables, and viruses from <a href="%s" class="font-weight-bold">Settings</a>.', sortedDomains && sortedDomains[0] && sortedDomains[0].name ? l(`/my-account/domains/${sortedDomains[0].name}/advanced-settings`) : l("/my-account/domains"))
    .row.my-3
      .col
        h3.h5.border-bottom.border-dark-50= t("Do you store SMTP logs or write to disk?")
        p
          != t('<span class="font-weight-bold">No.</span> We have a <a href="%s" class="font-weight-bold">Privacy</a> policy of not storing SMTP logs, metadata, nor emails (with the exception of <a href="%s">errors</a>).', l("/privacy"), l("/faq#do-you-store-error-logs"))
          = " "
          = t("You will find that every other email forwarder stores SMTP logs and writes your emails to disk storage... usually on unencrypted databases and without SOC 2 Type 2 compliance.")
          = " "
          = t("This common practice is a huge security risk for you, and is another reason why we built our service.")
          = " "
          = t("Our expertise allowed us to build our own custom solution that uses memory-based streams, and is lightning fast and privacy-focused.")
        p.font-weight-bold: u= t("We don't track you like other services do.")
    .row
      .col
        h3.h5.border-bottom.border-dark-50= t("Do you have a question?")
        p= t("Read our dedicated page for frequently asked questions or submit a help request.")
        ul.list-inline
          li.list-inline-item
            a.btn.btn-lg.btn-primary(href=l("/faq"))= t("Read FAQ")
          li.list-inline-item
            a.btn.btn-lg.btn-dark(
              href=l("/help"),
              role="button",
              data-target="#modal-help"
            )= t("Contact Help")
    .row
      .col
        a.btn.btn-lg.btn-success(href=l("/my-account/domains/new"))
          if user
            i.fa.fa-plus
            = " "
            = t("Add New Domain")
          else
            = t("Get started")
            = " "
            i.fa.fa-angle-double-right.align-middle
