
extends layout

block body
  .container.py-3
    .row
      .col-xs-12.col-sm-12.col-md-6.offset-md-3.col-lg-6.offset-lg-3
        .card
          .card-body
            .text-center
              h1.card-title.h4= t('Reset Password')
              p= t('Please confirm your email address and enter a new password below.')
            form.ajax-form.confirm-prompt(action=ctx.path, method="POST")
              .form-group.floating-label
                input#input-email.form-control.form-control-lg(type="email", autocomplete="email", name="email", placeholder='name@example.com')
                label(for="input-email")= t('Email address')
              .form-group.floating-label
                input#input-password.form-control.form-control-lg(type="password", autocomplete="new-password", name="password", placeholder=" ")
                label(for="input-password")= t('New password')
              button.btn.btn-success.btn-block.btn-lg(type="submit")= t('Continue')
          .card-footer.text-center
            = t('Trouble?')
            = ' '
            a.card-link(href=l('/forgot-password'))= t('Start over')
