footer.py-3.mt-3
  .container
    .row
      .col-12.text-center
        a(href=config.urls.web)
          img(
            src=manifest("img/apple-touch-icon.png"),
            width=90,
            height=90,
            alt=""
          ).d-inline-block.align-middle
        ul.m-0.p-0.text-muted.py-3
          li: small: a(href=`${config.urls.web}/help`).px-1.d-inline.text-muted= t("Help")
          li: small: a(href=`${config.urls.web}/about`).px-1.d-inline.text-muted= t("About")
          li: small: a(href=`${config.urls.web}/privacy`).px-1.d-inline.text-muted= t("Privacy")
          li: small: a(href=`${config.urls.web}/terms`).px-1.d-inline.text-muted= t("Terms")
        p: small.text-muted!= '&copy; <a href="https://niftylettuce.com" target="_blank" rel="noopener noreferrer">Niftylettuce, LLC.</a>'
