footer
  .container.my-3
    .row
      .col-12.text-center
        a(href=config.urls.web)
          img.d-inline-block.align-middle(
            src=manifest("img/logo-square-180x180.png"),
            width=90,
            height=90,
            alt=""
          )
        ul.list-inline.m-0.text-muted.py-3
          li.list-inline-item.small: a.text-muted(
            href=`${config.urls.web}/${locale}`
          )= t("Home")
          li.list-inline-item.small: a.text-muted(
            href=`${config.urls.web}/${locale}/my-account`
          )= t("My Account")
          li.list-inline-item.small: a.text-muted(
            href=`${config.urls.web}/${locale}/privacy`
          )= t("Privacy")
          li.list-inline-item.small: a.text-muted(
            href=`${config.urls.web}/${locale}/terms`
          )= t("Terms")
    if user && _.isObject(user)
      .row
        .col-12.text-center.small
          if unsubscribeUrl
            a.small.text-muted.text-monospace(href=unsubscribeUrl)
              != t("Unsubscribe")
          else
            a.small.text-muted.text-monospace(
              href=`${config.urls.web}/${locale}/my-account/profile`
            )
              != t("Unsubscribe")
