if user && _.isObject(user) && user.plan !== 'free' && _.isDate(user[config.userFields.planExpiresAt])
  - const hasPlanExpired = new Date(user[config.userFields.planExpiresAt]).getTime() < Date.now();
  - const hasSubscription = isSANB(user[config.userFields.stripeSubscriptionID]) || isSANB(user[config.userFields.paypalSubscriptionID]);
  if hasPlanExpired
    .container
      .row
        .col-12
          .alert.alert-danger.text-center.small.rounded-0.mb-0
            != t('Plan expired on <span class="notranslate">%s</span>.', dayjs(user[config.userFields.planExpiresAt]).locale(locale).format("M/D/YY"))
            = " "
            if hasSubscription && isSANB(user[config.userFields.stripeSubscriptionID])
              != t('Need to <a class="alert-link" href="%s">update payment method</a>?', `${config.urls.web}/${locale}/my-account/billing/make-payment`, `${config.urls.web}/${locale}/my-account/billing`)
            else
              != t('<a class="alert-link" href="%s">Make payment</a> to avoid account termination.', `${config.urls.web}/${locale}/my-account/billing/make-payment`)
  else if !hasSubscription
    .container
      .row
        .col-12
          .alert.alert-warning.small.text-center.rounded-0.mb-0
            != t('Payment due <span class="notranslate">%s</span>.', dayjs(user[config.userFields.planExpiresAt]).locale(locale).fromNow())
            //- if it's within the next month
            if dayjs(user[config.userFields.planExpiresAt]).isBefore(dayjs().add(1, 'month'))
              = " "
              != t('Need to <a class="alert-link" href="%s">enable auto-renew</a>?', `${config.urls.web}/${locale}/my-account/billing/make-payment`, `${config.urls.web}/${locale}/my-account/billing/enable-auto-renew`)
