.p-3.text-center
  h2.h3= t("Need real-time alerts and logs?")
  p.card-text
    = " "
    != t('<strong>Upgrading will unlock <a href="%s" target="_blank">real-time alerts and logs</a> and <a href="%s" target="_blank">outbound SMTP support</a></strong>.', `${config.urls.web}/faq#do-you-store-error-logs`, `${config.urls.web}/guides/send-email-with-custom-domain-smtp`)
    = " "
    != t("Outbound SMTP support means you can send email using any alias with your custom domain name.")
  .d-block.mb-1
    a.btn.btn-lg.btn-success(
      href=domain && domain.name ? `${config.urls.web}/${locale}/my-account/domains/${domain.name}/billing?plan=enhanced_protection` : `${config.urls.web}/my-account/billing/upgrade?plan=enhanced_protection`,
      role="button"
    )
      = t("Upgrade for $3")
  a.badge.badge-primary.text-uppercase.mb-3(
    href=`${config.urls.web}/${locale}/faq#do-you-offer-a-money-back-guarantee-on-paid-plans`
  )
    = t("100% Money back guarantee")
    = " "
    != "&rarr;"
  p.card-text.font-weight-bold.text-decoration-underline.lead= t("Upgrading keeps your email private:")
  span.badge.badge-dark!= ("Right now anyone can run this computer command:")
  .d-block.mb-1
    pre.d-inline-block.mx-auto.bg-dark.p-3.rounded.text-white.mb-0
      code.d-block
        = "dig"
        = " "
        = domain && domain.name ? domain.name : "yourdomain.com"
        = " "
        = "txt"
  span.badge.badge-danger!= ("Your email is displayed in the output:")
  .d-block.mb-1
    pre.d-inline-block.mx-auto.bg-dark.p-3.rounded.text-white.mb-0
      code.d-block
        = "forward-email="
        span.font-weight-bold(style="color: red")= to ? to : user && user.email ? user.email : "user@gmail.com"
  span.badge.badge-success!= ("Upgrading will encrypt and hide your email:")
  .d-block.mb-1
    pre.d-inline-block.mx-auto.bg-dark.p-3.rounded.text-white.mb-0
      code.d-block
        = "forward-email="
        span.font-weight-bold.text-success= new Array(10).fill("*").join("")
  p.card-text
    = t("These features ensure high deliverability and help to keep your email safe.")
    = " "
    = t("The cost is only $3 per month and supports our roadmap, server infrastructure, and the open-source community.")
  p.card-text.font-weight-bold
    = t("Upgrading includes unlimited domains and aliases, real-time alerts and logs, outbound SMTP access, and more.")
  .d-block.mb-1
    a.btn.btn-lg.btn-success(
      href=domain && domain.name ? `${config.urls.web}/${locale}/my-account/domains/${domain.name}/billing?plan=enhanced_protection` : `${config.urls.web}/my-account/billing/upgrade?plan=enhanced_protection`,
      role="button"
    )
      = t("Upgrade for $3")
  a.badge.badge-primary.text-uppercase(
    href=`${config.urls.web}/${locale}/faq#do-you-offer-a-money-back-guarantee-on-paid-plans`
  )
    = t("100% Money back guarantee")
    = " "
    != "&rarr;"
