.p-3.text-center
  h2.h2= t("Need more features?")
  p.card-text.small
    = t("If you upgrade to the Enhanced Protection plan, then your forwarding addresses will be kept private and encrypted.")
    = " "
    != t('<strong>Upgrading will also unlock access to <a href="%s" target="_blank">real-time error log alerts</a> and <a href="%s" target="_blank">outbound SMTP</a></strong>.', `${config.urls.web}/faq#do-you-store-error-logs`, `${config.urls.web}/guides/send-email-with-custom-domain-smtp`)
    = " "
    = t("These features will help you to ensure high deliverability and prevent email spoofing attacks.")
    = " "
    = t("The cost is only $3 per month and gives you unlimited domains, aliases, and more.")
    = " "
    = t("We also offer a 30-day automatic refund guarantee.")
  a.btn.btn-lg.btn-success(
    href=domain && domain.name ? `${config.urls.web}/${locale}/my-account/domains/${domain.name}/billing?plan=enhanced_protection` : `${config.urls.web}/my-account/billing/upgrade?plan=enhanced_protection`,
    role="button"
  )
    = t("Upgrade for $3")
