doctype html
html(lang=locale)
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      title= subject
      link(rel="stylesheet", href=manifest("css/app.css"), data-inline)
  body.email
    .container.mt-3
      .row
        .col-12
          .alert.alert-light.text-center.small.mb-0
            .small
              != t("Need to unsubscribe?")
              = " "
              a.alert-link(
                href=`${config.urls.web}/${locale}/my-account/security`
              )= t("Delete your account")
    block body
      block messages
        include _messages
      block nav
        include _nav
      block content
        include _content
      block footer
        include _footer
